# Air Bnb Open Dataset

Airbnb es una empresa estadounidense que facilita un mercado en línea para alquileres de alojamientos, principalmente casas de particulares para vacaciones, y también ofrece actividades turísticas. Su plataforma, disponible tanto en su sitio web como en su aplicación móvil, conecta a viajeros con anfitriones que ofrecen sus propiedades. Airbnb no es dueño de las propiedades que se ofrecen; su ganancia proviene de las comisiones que recibe por cada reserva realizada. Fundada en 2008, Airbnb es una abreviatura de su nombre original, AirBedandBreakfast.com.

## El Dataset
El conjunto de datos con el que trabajaras forma parte de la iniciativa Airbnb Inside y proporciona información sobre los anuncios de alojamientos en casas particulares en la ciudad de Nueva York. Este conjunto de datos incluye detalles sobre los anuncios, como descripciones completas y puntuaciones de reseñas promedio, reseñas de usuarios con identificación única y comentarios detallados, y calendarios con información de precios y disponibilidad para cada anuncio y día.

## Tarea 1: Iniciacion en EDA

### Paso 1
 Comencemos famializandonos con el dataset. Cargue y familiaricece con la informacion que se encuentra almacenada. Con esto, nos referimos a conocer los tipos de datos con los cual cuenta este datset, así como los nombres de cada columnas. Al mismo tiempo, hagase una idea de lo que contiene cada columna, obteniendo un vista de algunas filas del dataset.

 [Descarga el dataset aqui](https://drive.google.com/file/d/16Z1rpnVm_NQ5ljiIZfSGzHAiNlUXL0x4/view)

 [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [1]:
# Cargar el dataset
# librerias necesarias

import pandas as pd 

df = pd.read_csv('DataSets/Airbnb_Open_Data.csv', sep = ',', header='infer')

C:\Users\luisp\AppData\Local\Temp\ipykernel_21644\203302269.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DataSets/Airbnb_Open_Data.csv', sep = ',', header='infer')

In [2]:
# Veamos algunas filas

print(df.sample(10, random_state=333))
print()
print(df.columns)
print()

# DTypeWarning

print(df['house_rules'].value_counts())

              id                                             NAME  \
1097     1607209       Beautiful Lower East Side Apt! Women only.
101360  56982464         one-bedroom available in Murray Hill NYC
18347   11134384         Lots of light Upper East Side Apartment.
97825   55030084                                   FORDHAM DELUXE
80838   45648163                Arverne by The Sea ~ Surf Ave Apt
96759   54441332                                     Dreamer Room
68592   38884698       Our Astoria Apartment - (Long Term Rental)
50332   28799700  Jfk5minutes entire apt self check in,no sharing
16300   10003826                 Cozy Park Slope Apt, Next to BBG
30653   17930988  Spacious Sunny Studio- heart of Lower East Side

            host id host_identity_verified   host name neighbourhood group  \
1097    80554047680            unconfirmed    Sunserae           Manhattan
101360  53535433644            unconfirmed     Dmitriy           Manhattan
18347   24305290976               verified   Valentina           Manhattan
97825   74233220098               verified       Oscar               Bronx
80838   71985087926            unconfirmed    Samantha              Queens
96759   27640017394            unconfirmed  Fransheska            Brooklyn
68592   66686071057            unconfirmed     Michael              Queens
50332   86918904736            unconfirmed         Raj              Queens
16300   44898521853            unconfirmed        Jack            Brooklyn
30653   88432267598            unconfirmed      Brooke           Manhattan

             neighbourhood       lat      long        country  ...  \
1097       Lower East Side  40.71746 -73.98782  United States  ...
101360            Kips Bay  40.73948 -73.97643  United States  ...
18347      Upper East Side  40.77315 -73.95848  United States  ...
97825          Kingsbridge  40.86300 -73.90661  United States  ...
80838              Arverne  40.58845 -73.79514  United States  ...
96759   Bedford-Stuyvesant  40.68862 -73.95572  United States  ...
68592              Astoria  40.76304 -73.90785  United States  ...
50332              Jamaica  40.67875 -73.79146  United States  ...
16300     Prospect Heights  40.67329 -73.96291  United States  ...
30653      Lower East Side  40.71908 -73.98379  United States  ...

       service fee minimum nights number of reviews last review  \
1097          $84             5.0               4.0   3/24/2018
101360        $26             1.0               0.0         NaN
18347        $160             3.0               0.0         NaN
97825        $217             3.0              24.0   6/23/2019
80838         $77             2.0              23.0    6/4/2019
96759        $218            30.0              35.0   6/19/2019
68592         $15            21.0               9.0   6/30/2019
50332         $71             1.0              13.0   2/28/2022
16300        $133            30.0              66.0   6/16/2019
30653        $188             2.0              40.0   5/13/2019

        reviews per month review rate number calculated host listings count  \
1097                 0.06                4.0                            1.0
101360                NaN                5.0                            1.0
18347                 NaN                1.0                            1.0
97825                2.91                2.0                            2.0
80838                2.06                5.0                            1.0
96759                3.06                5.0                            3.0
68592                0.56                5.0                            1.0
50332                0.42                3.0                            2.0
16300                1.78                2.0                            2.0
30653                2.51                3.0                            1.0

        availability 365                                        house_rules  \
1097                72.0                                                NaN
101360               0.0                                                NaN
18347                0.0  1. No additional guests not part of the reserv...
97825               72.0                                                NaN
80838               20.0                                                NaN
96759              365.0  Check in: 3pm; Check out: 12pm unless otherwis...
68592               58.0                                                NaN
50332               88.0                                                NaN
16300              310.0                               NO Smoking. No Pets.
30653                1.0                                                NaN

       license
1097       NaN
101360     NaN
18347      NaN
97825      NaN
80838      NaN
96759      NaN
68592      NaN
50332      NaN
16300      NaN
30653      NaN

[10 rows x 26 columns]

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

house_rules
#NAME?                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2712
House Rules 1. Check-in is 4 pm local time. If the unit is ready earlier, we’ll let you know. Check-out is normally 11 am local time, but we’d be happy to extend it as long as we don’t have a cleaning scheduled. Just let us know.  2. All bookings require a security deposit of at least $300, which will be refunded within 7 days of your check-out. 3. For security measures we require all guests to provide proof of identification through ID verification on our own website. In order to check in we'll need a photo of your ID.  4. Our cancellation policy is as shown on our ad and defined by the site you are booking through.  5. Don’t let $300 go up in smoke. There's no smoking allowed in any Flatbook and a $300 fine for breaking this rule.  6. Unfortunately we don’t allow pets in any of our apartments. 7. Unless you’re staying in one of our specialty apartments, we don’t allow parties or excessive noise. 8. If we find the place very messy, we have to charge an extra $40 for every extra hour o     904
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      881
No Smoking No Pets                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           814
Please remember that this is a residential building. The building rules, apartment occupancy restrictions and the year-round tenants must be respected.  Parties, pets and smoking are not allowed under any circumstances and incur significant fees.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       552
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
- The price is based on double occupancy. $50. per person per night. - Check prices with host before booking - The price is based on double occupancy $300 per person per week. And $1000 monthly per person. - Single room $64 per night. Weekly, $350. Monthly $1213                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
- Quiet time after 24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
15 guest maximum.  Smoking isn't permitted and unfortunately neither are pets. Sorry.   Quiet hours 9p-8a.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
15 nights minimum stay No pets at any time No smoking Please be mindful of the furniture and personal belongings, it was all furnished with designer pieces and hard to replace things.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
16 nights minimum stay, no smoking or pets.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: count, Length: 1976, dtype: int64

In [3]:
# Informacion sobre las columnas y el tipo de dato asociado a ellas

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

### Paso 2
Siguiendo con un análisis preliminar de nuestro dataset, genere un vista estadìstica descriptiva, tanto para variables numéricas como para las categóricas.

In [4]:
# Estadisticas de las Variables Numericas del dataset

print(df.describe())

                 id       host id            lat           long  \
count  1.025990e+05  1.025990e+05  102591.000000  102591.000000
mean   2.914623e+07  4.925411e+10      40.728094     -73.949644
std    1.625751e+07  2.853900e+10       0.055857       0.049521
min    1.001254e+06  1.236005e+08      40.499790     -74.249840
25%    1.508581e+07  2.458333e+10      40.688740     -73.982580
50%    2.913660e+07  4.911774e+10      40.722290     -73.954440
75%    4.320120e+07  7.399650e+10      40.762760     -73.932350
max    5.736742e+07  9.876313e+10      40.916970     -73.705220

       Construction year  minimum nights  number of reviews  \
count      102385.000000   102190.000000      102416.000000
mean         2012.487464        8.135845          27.483743
std             5.765556       30.553781          49.508954
min          2003.000000    -1223.000000           0.000000
25%          2007.000000        2.000000           1.000000
50%          2012.000000        3.000000           7.000000
75%          2017.000000        5.000000          30.000000
max          2022.000000     5645.000000        1024.000000

       reviews per month  review rate number  calculated host listings count  \
count       86720.000000       102273.000000                   102280.000000
mean            1.374022            3.279106                        7.936605
std             1.746621            1.284657                       32.218780
min             0.010000            1.000000                        1.000000
25%             0.220000            2.000000                        1.000000
50%             0.740000            3.000000                        1.000000
75%             2.000000            4.000000                        2.000000
max            90.000000            5.000000                      332.000000

       availability 365
count     102151.000000
mean         141.133254
std          135.435024
min          -10.000000
25%            3.000000
50%           96.000000
75%          269.000000
max         3677.000000

In [5]:
# Estadisticas de las Variables categoricas del dataset

df.describe(include='object')

,NAME,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,cancellation_policy,room type,price,service fee,last review,house_rules,license
count,102349,102310,102193,102570,102583,102067,102468,102494,102523,102599,102352,102326,86706,50468,2
unique,61281,2,13190,7,224,1,1,2,3,4,1151,231,2477,1976,1
top,Home away from home,unconfirmed,Michael,Manhattan,Bedford-Stuyvesant,United States,US,False,moderate,Entire home/apt,$206,$41,6/23/2019,#NAME?,41662/AL
freq,33,51200,881,43792,7937,102067,102468,51474,34343,53701,137,526,2443,2712,2

## Paso 3

Reemplace todas aquelas columnas con espacio entre las palabras con "_". Adicionalmente, deje todos los nombre en minúsculas.

In [6]:
print(df.columns)
print()

# Estandarizar nombres de columnas (minusculas, snake format)

df_airbnb = df.copy()

df_airbnb.columns = [clmn.lower().replace(' ', '_').strip() for clmn in df_airbnb.columns]

print(df_airbnb.columns)

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

## Tarea 2: Limpieza de Datos - Manejo de Valores Faltantes


Ahora que tienes una idea general de lo que hay en el dataset, deberás corregir los problemas que este tiene.

1. Identifica las columnas con valores faltantes.
2. Decide una estrategia para manejarlos (por ejemplo, imputación con la media/mediana, eliminar la columna, eliminar filas con valores faltantes en columnas críticas). Justifica tus elecciones.

He aqui una sugerencia de estrategia a seguir:

- Eliminar la columna: Si una columna tiene un porcentaje muy alto de valores faltantes (por ejemplo, más del 50%) y/o no es crucial para el análisis, eliminarla puede ser la mejor opción.
- Imputación: Si una columna tiene un porcentaje moderado de valores faltantes y es importante, puedes imputar los valores faltantes. Considera diferentes estrategias de imputación:
  - Media/Mediana: Para columnas numéricas, imputar con la media o la mediana puede ser apropiado. La mediana es más robusta a los valores atípicos.
  - Moda: Para columnas categóricas, imputar con la moda (el valor más frecuente) es una opción.
  - Valor específico: En algunos casos, puede tener sentido imputar con un valor específico que tenga significado en el contexto del problema.
- Eliminar las filas: Si una columna tiene pocos valores faltantes y es muy importante, puedes optar por eliminar las filas que tengan valores faltantes en esa columna. Sin embargo, ten cuidado de no eliminar demasiadas filas, ya que esto podría sesgar los resultados.
- Dejar como está (con justificación): En algunos casos, puede que no sea necesario hacer nada y se pueda trabajar con los valores faltantes. Esto debe justificarse.

In [7]:
# Verificar valores faltantes
print(df_airbnb.isna().sum())
print()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

In [8]:
# a. Eliminar columnas con muchos valores faltantes

df_airbnb.loc[:, :] = df_airbnb.dropna(axis='columns', thresh=len(df_airbnb)*.75)

# b. Imputar con la mediana (ej: 'minimum nights')

df_airbnb.loc[:, 'minimum_nights'] = df_airbnb['minimum_nights'].fillna(df_airbnb['minimum_nights'].median())

# c. Imputar con la moda (ej: 'neighbourhood group')

df_airbnb.loc[:, 'neighbourhood_group'] = df_airbnb['neighbourhood_group'].fillna(df_airbnb['neighbourhood_group'].mode())

# d. Eliminar filas con valores faltantes en columnas importantes (ej: 'price')

df_airbnb = df_airbnb.dropna(subset=['price'])

#e. Llenar valores nulos de 'review rate number' con 0. Asumimos que si no tiene review rate number es porque no tiene reviews.

df_airbnb.loc[:, 'review_rate_number'] = df_airbnb['review_rate_number'].fillna(0)

#f. Llenar valores nulos de 'reviews per month' con 0. Asumimos que si no tiene reviews per month es porque no tiene reviews.

df_airbnb.loc[:, 'reviews_per_month'] = df_airbnb['reviews_per_month'].fillna(0)

#g. Para 'last review', 'host name', 'country', 'country code', 'NAME', 'host_identity_verified', 'neighbourhood', 'Construction year', 'service fee', 'number of reviews', 'availability 365' y 'house_rules' se podría hacer un analisis mas profundo de que valores ponerles.
#Por ahora se imputaran por 'unknown' las columnas de tipo object y por 0 las de tipo numérico.
for col in df_airbnb.columns:
    
    if df_airbnb[col].dtype == 'object':
        df_airbnb.loc[:, col] = df_airbnb[col].fillna('unknown')
    
    elif df_airbnb[col].dtype in ['int64', 'float64']:
        df_airbnb.loc[:, col] = df_airbnb[col].fillna(0)

# 3. Verificar que no queden valores faltantes (o al menos en las columnas críticas)
print(df_airbnb.isnull().sum())

id                                0
name                              0
host_id                           0
host_identity_verified            0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country_code                      0
instant_bookable                  0
cancellation_policy               0
room_type                         0
construction_year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
review_rate_number                0
calculated_host_listings_count    0
availability_365                  0
house_rules                       0
license                           0
dtype: int64

## Tarea 3: Agrupaciond de datos

### Paso 1

Para los datos categoricos, conozcamos como estos se distribuyen. Para ello:

1. Identifica las columnas de tu conjunto de datos que contienen la información relevante para tu análisis. ¿Qué quieres investigar o comprender mejor?
2. Utiliza la función `groupby()` para crear grupos basados en los valores de una o varias columnas. Esta agrupación te permitirá comparar y analizar subconjuntos de datos de manera individual.
3. Aplica una función de agregación como `count()`, `mean()`, `sum()`, `median()` o similar para obtener un resultado numérico para cada grupo.

Realiza los sigueintes análisis

In [9]:
# Distribucion de viviendas segun año de contruccion. Para ello, debe contar el numero de registros según el año de construcción.

print(df_airbnb.groupby("construction_year")["id"].count())

construction_year
0.0        210
2003.0    5109
2004.0    5023
2005.0    5123
2006.0    5207
2007.0    5096
2008.0    5216
2009.0    5158
2010.0    5146
2011.0    5049
2012.0    5119
2013.0    5003
2014.0    5230
2015.0    5082
2016.0    5000
2017.0    5055
2018.0    5048
2019.0    5187
2020.0    5145
2021.0    5027
2022.0    5119
Name: id, dtype: int64

In [10]:
# Barrios con mayor numero de viviendas para arriendo. Cuente el número de registros y agrupelos por barrio de forma descendente.

print(df_airbnb.groupby("neighbourhood")["id"].count().sort_values(ascending=False))

neighbourhood
Bedford-Stuyvesant        7921
Williamsburg              7756
Harlem                    5456
Bushwick                  4966
Hell's Kitchen            3961
                          ...
Gerritsen Beach              3
Woodrow                      3
Glen Oaks                    2
Fort Wadsworth               2
Chelsea, Staten Island       1
Name: id, Length: 225, dtype: int64

In [11]:
# Tipo de alojamiento predominante. Cuente el número de registros y agrupelos por el tipo de alojamiento (room_type).

print(df_airbnb.groupby('room_type')['id'].aggregate('count'))

room_type
Entire home/apt    53568
Hotel room           116
Private room       46450
Shared room         2218
Name: id, dtype: int64

### Paso 2. Agrupación a dos variables

En el siguiente ejercicio, obtendremos estadísticas combiando dos varaibles al mismo tiempo.

A modo de ejemplo, utilizaremos las columnas `neighbourhood` y `review rate number` para determinar el top 5 de vecindarios con el mejor review promedio.  Cada lugar debe tener al menos un review en total.

In [12]:
# df_nr = df_airbnb.loc[df_airbnb['review_rate_number'] > 1]
# df_nr[['neighbourhood','review_rate_number']].groupby('neighbourhood')['review_rate_number'].mean().sort_values(ascending=False)


df_airbnb.loc[df_airbnb['review_rate_number'] > 1].groupby('neighbourhood')['review_rate_number'].mean().sort_values(ascending=False)

neighbourhood
Glen Oaks                 4.500000
Co-op City                4.400000
Gerritsen Beach           4.333333
Emerson Hill              4.142857
Huguenot                  4.111111
                            ...
Lighthouse Hill           2.666667
Jamaica Hills             2.666667
Chelsea, Staten Island    2.000000
Fort Wadsworth            2.000000
Willowbrook               2.000000
Name: review_rate_number, Length: 225, dtype: float64

## Tus Propios analisis.

Siguiendo el ejemplo anterior, aplica las siguiente agrupaciones.

In [13]:
# Convertir 'price' y 'service fee' a data numerico. Hint: Utilice el método replace().

print("Column price (Raw): \n", df_airbnb['price'].unique(), df_airbnb['price'].nunique())
print()
print("Column service_fee (Raw): \n", df_airbnb['service_fee'].unique(), df_airbnb['service_fee'].nunique())
print()

columns = ['price', 'service_fee']

for clmn in columns:
    
    df_airbnb.loc[:, clmn] = df_airbnb.loc[:, clmn].astype(str)

    df_airbnb.loc[:, clmn] = df_airbnb.loc[:, clmn].str.strip()
    df_airbnb.loc[:, clmn] = df_airbnb.loc[:, clmn].str.replace('$', '', regex=False)
    df_airbnb.loc[:, clmn] = df_airbnb.loc[:, clmn].str.replace(',', '', regex=False)
    df_airbnb.loc[:, clmn] = df_airbnb.loc[:, clmn].str.replace('unknown', '0', case=False)
    


print("Column price (Columns as String): \n", df_airbnb['price'].unique(), df_airbnb['price'].nunique())
print()
print("Column service_fee (Columns as String): \n", df_airbnb['service_fee'].unique(), df_airbnb['service_fee'].nunique())
print()

print("Data type price (Columns as String): ", df_airbnb['price'].dtypes)
print("Data type servicefee (Columns as String): ",df_airbnb['service_fee'].dtypes)
print()


print("String to numeric conversion ...\n")
#df_airbnb.loc[:, 'price'] = pd.to_numeric(df_airbnb.loc[:, 'price'], errors='coerce')
#df_airbnb.loc[:, 'price'] = df_airbnb.loc[:, 'price'].fillna(0)
df_airbnb['price'] = df_airbnb['price'].astype('float64')

#df_airbnb.loc[:, 'service_fee'] = pd.to_numeric(df_airbnb.loc[:, 'service_fee'], errors='coerce')
#df_airbnb.loc[:, 'service_fee'] = df_airbnb.loc[:, 'service_fee'].fillna(0)
df_airbnb['service_fee'] = df_airbnb['service_fee'].astype('float64')

print("Data type price (Columns as float): ", df_airbnb['price'].dtypes)
print("Data type servicefee (Columns as float): ",df_airbnb['service_fee'].dtypes)

Column price (Raw):
 ['$966 ' '$142 ' '$620 ' ... '$1,184 ' '$905 ' '$309 '] 1151

Column service_fee (Raw):
 ['$193 ' '$28 ' '$124 ' '$74 ' '$41 ' '$115 ' '$14 ' '$212 ' '$204 '
 '$58 ' '$64 ' '$121 ' '$143 ' '$116 ' '$30 ' 'unknown' '$56 ' '$95 '
 '$27 ' '$210 ' '$163 ' '$235 ' '$106 ' '$55 ' '$42 ' '$86 ' '$133 '
 '$154 ' '$102 ' '$172 ' '$109 ' '$38 ' '$222 ' '$219 ' '$202 ' '$113 '
 '$137 ' '$171 ' '$12 ' '$87 ' '$183 ' '$92 ' '$73 ' '$146 ' '$180 '
 '$67 ' '$51 ' '$181 ' '$88 ' '$205 ' '$132 ' '$59 ' '$156 ' '$131 '
 '$61 ' '$165 ' '$129 ' '$207 ' '$17 ' '$63 ' '$147 ' '$105 ' '$48 '
 '$114 ' '$80 ' '$23 ' '$11 ' '$149 ' '$213 ' '$211 ' '$182 ' '$117 '
 '$39 ' '$25 ' '$216 ' '$53 ' '$10 ' '$118 ' '$72 ' '$76 ' '$69 ' '$32 '
 '$148 ' '$101 ' '$177 ' '$49 ' '$100 ' '$168 ' '$13 ' '$152 ' '$126 '
 '$135 ' '$46 ' '$231 ' '$91 ' '$199 ' '$158 ' '$221 ' '$189 ' '$90 '
 '$186 ' '$66 ' '$225 ' '$220 ' '$19 ' '$238 ' '$119 ' '$98 ' '$34 '
 '$227 ' '$162 ' '$203 ' '$93 ' '$153 ' '$71 ' '$77 ' '$190 ' '$75 '
 '$185 ' '$97 ' '$35 ' '$37 ' '$82 ' '$120 ' '$21 ' '$145 ' '$65 ' '$144 '
 '$108 ' '$194 ' '$16 ' '$217 ' '$188 ' '$81 ' '$139 ' '$22 ' '$187 '
 '$150 ' '$50 ' '$26 ' '$89 ' '$218 ' '$104 ' '$44 ' '$79 ' '$240 '
 '$175 ' '$192 ' '$215 ' '$191 ' '$94 ' '$206 ' '$157 ' '$159 ' '$233 '
 '$15 ' '$229 ' '$179 ' '$85 ' '$136 ' '$170 ' '$201 ' '$141 ' '$123 '
 '$36 ' '$130 ' '$198 ' '$54 ' '$122 ' '$184 ' '$208 ' '$140 ' '$68 '
 '$196 ' '$70 ' '$228 ' '$209 ' '$230 ' '$134 ' '$20 ' '$110 ' '$234 '
 '$151 ' '$107 ' '$138 ' '$45 ' '$24 ' '$31 ' '$232 ' '$47 ' '$239 '
 '$161 ' '$200 ' '$33 ' '$103 ' '$83 ' '$29 ' '$128 ' '$166 ' '$125 '
 '$43 ' '$18 ' '$167 ' '$174 ' '$236 ' '$111 ' '$142 ' '$223 ' '$169 '
 '$178 ' '$195 ' '$40 ' '$52 ' '$96 ' '$224 ' '$197 ' '$164 ' '$127 '
 '$176 ' '$62 ' '$99 ' '$84 ' '$237 ' '$155 ' '$57 ' '$226 ' '$160 '
 '$173 ' '$60 ' '$214 ' '$78 ' '$112 '] 232

Column price (Columns as String):
 ['966' '142' '620' ... '1184' '905' '309'] 1151

Column service_fee (Columns as String):
 ['193' '28' '124' '74' '41' '115' '14' '212' '204' '58' '64' '121' '143'
 '116' '30' '0' '56' '95' '27' '210' '163' '235' '106' '55' '42' '86'
 '133' '154' '102' '172' '109' '38' '222' '219' '202' '113' '137' '171'
 '12' '87' '183' '92' '73' '146' '180' '67' '51' '181' '88' '205' '132'
 '59' '156' '131' '61' '165' '129' '207' '17' '63' '147' '105' '48' '114'
 '80' '23' '11' '149' '213' '211' '182' '117' '39' '25' '216' '53' '10'
 '118' '72' '76' '69' '32' '148' '101' '177' '49' '100' '168' '13' '152'
 '126' '135' '46' '231' '91' '199' '158' '221' '189' '90' '186' '66' '225'
 '220' '19' '238' '119' '98' '34' '227' '162' '203' '93' '153' '71' '77'
 '190' '75' '185' '97' '35' '37' '82' '120' '21' '145' '65' '144' '108'
 '194' '16' '217' '188' '81' '139' '22' '187' '150' '50' '26' '89' '218'
 '104' '44' '79' '240' '175' '192' '215' '191' '94' '206' '157' '159'
 '233' '15' '229' '179' '85' '136' '170' '201' '141' '123' '36' '130'
 '198' '54' '122' '184' '208' '140' '68' '196' '70' '228' '209' '230'
 '134' '20' '110' '234' '151' '107' '138' '45' '24' '31' '232' '47' '239'
 '161' '200' '33' '103' '83' '29' '128' '166' '125' '43' '18' '167' '174'
 '236' '111' '142' '223' '169' '178' '195' '40' '52' '96' '224' '197'
 '164' '127' '176' '62' '99' '84' '237' '155' '57' '226' '160' '173' '60'
 '214' '78' '112'] 232

Data type price (Columns as String):  object
Data type servicefee (Columns as String):  object

String to numeric conversion ...

Data type price (Columns as float):  float64
Data type servicefee (Columns as float):  float64

In [18]:
print(df_airbnb['neighbourhood'].unique(), df_airbnb['neighbourhood'].nunique())

['Kensington' 'Midtown' 'Harlem' 'Clinton Hill' 'East Harlem'
 'Murray Hill' 'Bedford-Stuyvesant' "Hell's Kitchen" 'Upper West Side'
 'Chinatown' 'South Slope' 'West Village' 'Williamsburg' 'Fort Greene'
 'Chelsea' 'Crown Heights' 'Park Slope' 'Windsor Terrace' 'Inwood'
 'East Village' 'Greenpoint' 'Bushwick' 'Flatbush' 'Lower East Side'
 'Prospect-Lefferts Gardens' 'Long Island City' 'Kips Bay' 'SoHo'
 'Upper East Side' 'Prospect Heights' 'Washington Heights' 'Woodside'
 'Brooklyn Heights' 'Carroll Gardens' 'Gowanus' 'Flatlands' 'Cobble Hill'
 'Flushing' 'Boerum Hill' 'Sunnyside' 'DUMBO' 'St. George' 'Highbridge'
 'Financial District' 'Ridgewood' 'Morningside Heights' 'Jamaica'
 'Middle Village' 'Ditmars Steinway' 'Flatiron District'
 'Roosevelt Island' 'Greenwich Village' 'Little Italy' 'East Flatbush'
 'Tompkinsville' 'Astoria' 'Clason Point' 'Eastchester' 'Kingsbridge'
 'Two Bridges' 'Queens Village' 'Rockaway Beach' 'Nolita' 'Woodlawn'
 'University Heights' 'Gravesend' 'Gramercy' 'Allerton' 'East New York'
 'unknown' 'Theater District' 'Concourse Village' 'Sheepshead Bay'
 'Emerson Hill' 'Fort Hamilton' 'Bensonhurst' 'NoHo' 'Tribeca'
 'Shore Acres' 'Sunset Park' 'Concourse' 'Elmhurst' 'Brighton Beach'
 'Jackson Heights' 'Cypress Hills' 'St. Albans' 'Arrochar' 'Rego Park'
 'Wakefield' 'Clifton' 'Bay Ridge' 'Graniteville' 'Spuyten Duyvil'
 'Stapleton' 'Briarwood' 'Ozone Park' 'Columbia St' 'Vinegar Hill'
 'Mott Haven' 'Longwood' 'Canarsie' 'Battery Park City' 'Civic Center'
 'East Elmhurst' 'New Springville' 'Morris Heights' 'Arverne'
 'Cambria Heights' 'Tottenville' 'Mariners Harbor' 'Concord'
 'Borough Park' 'Bayside' 'Downtown Brooklyn' 'Port Morris' 'Fieldston'
 'Kew Gardens' 'Midwood' 'College Point' 'Mount Eden' 'City Island'
 'Glendale' 'Port Richmond' 'Red Hook' 'Richmond Hill' 'Bellerose'
 'Maspeth' 'Williamsbridge' 'Soundview' 'Woodhaven' 'Forest Hills'
 'Woodrow' 'Co-op City' 'Stuyvesant Town' 'Parkchester' 'North Riverdale'
 'Dyker Heights' 'Bronxdale' 'Sea Gate' 'Riverdale' 'Kew Gardens Hills'
 'Bay Terrace' 'Norwood' 'Claremont Village' 'Whitestone' 'Fordham'
 'Bayswater' 'Navy Yard' 'Brownsville' 'Eltingville' 'Fresh Meadows'
 'Mount Hope' 'Lighthouse Hill' 'Springfield Gardens' 'Howard Beach'
 'Belle Harbor' 'Van Nest' 'Morris Park' 'West Brighton' 'Far Rockaway'
 'South Ozone Park' 'Tremont' 'Corona' 'Great Kills' 'Jamaica Estates'
 'Manhattan Beach' 'Marble Hill' 'Dongan Hills' 'Castleton Corners'
 'East Morrisania' 'Hunts Point' 'Neponsit' 'Pelham Bay' 'Randall Manor'
 'Throgs Neck' 'Todt Hill' 'West Farms' 'Silver Lake' 'Morrisania'
 'Laurelton' 'Grymes Hill' 'Holliswood' 'Pelham Gardens' 'Belmont'
 'Rosedale' 'Edgemere' 'New Brighton' 'Midland Beach' 'Baychester'
 'Melrose' 'Bergen Beach' 'Richmondtown' 'Howland Hook' 'Schuylerville'
 'Coney Island' 'New Dorp Beach' "Prince's Bay" 'South Beach' 'Bath Beach'
 'Jamaica Hills' 'Oakwood' 'Castle Hill' 'Hollis' 'Douglaston' 'Huguenot'
 'Olinville' 'Edenwald' 'Grant City' 'Westerleigh'
 'Bay Terrace, Staten Island' 'Westchester Square' 'Little Neck'
 'Fort Wadsworth' 'Rosebank' 'Unionport' 'Mill Basin' 'Arden Heights'
 "Bull's Head" 'New Dorp' 'Rossville' 'Breezy Point' 'Willowbrook'
 'Glen Oaks' 'Gerritsen Beach' 'Chelsea, Staten Island'] 225

In [15]:
### Barrio más costoso
# Obtenga el costo promedio de alojamiento según el barrio de la ciudad.

df_airbnb.groupby('neighbourhood')['price'].agg('mean').sort_values(ascending=False)

neighbourhood
New Dorp                  1045.000000
Chelsea, Staten Island    1042.000000
Fort Wadsworth            1024.000000
Little Neck                817.750000
Jamaica Hills              812.904762
                             ...
Richmondtown               373.400000
Breezy Point               309.888889
Rossville                  300.666667
Spuyten Duyvil             293.444444
Lighthouse Hill            107.666667
Name: price, Length: 225, dtype: float64

In [16]:
### Barrio con el service fee más alto
# Obtenga el costo promedio de fee según el barrio de la ciudad.

df_airbnb.groupby('neighbourhood')['service_fee'].max().sort_values(ascending=False)

neighbourhood
Astoria               240.0
Carroll Gardens       240.0
Bay Ridge             240.0
Bedford-Stuyvesant    240.0
Belmont               240.0
                      ...
Glen Oaks             136.0
Richmondtown          133.0
Westerleigh           111.0
Rossville              82.0
Lighthouse Hill        25.0
Name: service_fee, Length: 225, dtype: float64

In [23]:
### Barrio con mayor reviews
# Determine el barrio con el mayor número de reviews en la ciudad. Para ello, y para cada barrio, debe suma todo los review de las propiedades dentro de ese barrio.

df_airbnb.groupby('neighbourhood')['number_of_reviews'].sum().sort_values(ascending=False)

neighbourhood
Bedford-Stuyvesant            272195.0
Williamsburg                  190874.0
Harlem                        179625.0
Bushwick                      123431.0
Hell's Kitchen                111575.0
                                ...
Chelsea, Staten Island            31.0
Breezy Point                      28.0
Woodrow                           21.0
Bay Terrace, Staten Island         6.0
Fort Wadsworth                     0.0
Name: number_of_reviews, Length: 225, dtype: float64

In [29]:
### Politicas de Cancelacion
# Escoja un bario, el de su preferencia, y conozca las políticas de cancelacion predominante entre las propiedades del barrio escogido

print(df_airbnb['neighbourhood'].sample(1, random_state=333))

df_airbnb[df_airbnb['neighbourhood'].isin(['Harlem'])].groupby('cancellation_policy')['id'].count().sort_values(ascending=False)

60712    Woodside
Name: neighbourhood, dtype: object

cancellation_policy
flexible    1881
strict      1808
moderate    1765
unknown        2
Name: id, dtype: int64