# Air Bnb Open Dataset

Airbnb es una empresa estadounidense que facilita un mercado en línea para alquileres de alojamientos, principalmente casas de particulares para vacaciones, y también ofrece actividades turísticas. Su plataforma, disponible tanto en su sitio web como en su aplicación móvil, conecta a viajeros con anfitriones que ofrecen sus propiedades. Airbnb no es dueño de las propiedades que se ofrecen; su ganancia proviene de las comisiones que recibe por cada reserva realizada. Fundada en 2008, Airbnb es una abreviatura de su nombre original, AirBedandBreakfast.com.

## El Dataset
El conjunto de datos con el que trabajaras forma parte de la iniciativa Airbnb Inside y proporciona información sobre los anuncios de alojamientos en casas particulares en la ciudad de Nueva York. Este conjunto de datos incluye detalles sobre los anuncios, como descripciones completas y puntuaciones de reseñas promedio, reseñas de usuarios con identificación única y comentarios detallados, y calendarios con información de precios y disponibilidad para cada anuncio y día.

## Tarea 1: Iniciacion en EDA

### Paso 1
 Comencemos famializandonos con el dataset. Cargue y familiaricece con la informacion que se encuentra almacenada. Con esto, nos referimos a conocer los tipos de datos con los cual cuenta este datset, así como los nombres de cada columnas. Al mismo tiempo, hagase una idea de lo que contiene cada columna, obteniendo un vista de algunas filas del dataset.

 [Descarga el dataset aqui](https://drive.google.com/file/d/16Z1rpnVm_NQ5ljiIZfSGzHAiNlUXL0x4/view)

 [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [3]:
# Cargar el dataset
# librerias necesarias
import pandas as pd 

airbnb = pd.read_csv('DataSets/Airbnb_Open_Data.csv', sep = ',', header='infer')

C:\Users\luisp\AppData\Local\Temp\ipykernel_33356\2723829032.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb = pd.read_csv('DataSets/Airbnb_Open_Data.csv', sep = ',', header='infer')

In [30]:
# Veamos algunas filas
print(airbnb.sample(10, random_state=333))

              id                                             NAME  \
1097     1607209       beautiful_lower_east_side_apt!_women_only.
101360  56982464         one-bedroom_available_in_murray_hill_nyc
18347   11134384         lots_of_light_upper_east_side_apartment.
97825   55030084                                   fordham_deluxe
80838   45648163                arverne_by_the_sea_~_surf_ave_apt
96759   54441332                                     dreamer_room
68592   38884698       our_astoria_apartment_-_(long_term_rental)
50332   28799700  jfk5minutes_entire_apt_self_check_in,no_sharing
16300   10003826                 cozy_park_slope_apt,_next_to_bbg
30653   17930988  spacious_sunny_studio-_heart_of_lower_east_side

            host id host_identity_verified   host name neighbourhood group  \
1097    80554047680            unconfirmed    Sunserae           Manhattan
101360  53535433644            unconfirmed     Dmitriy           Manhattan
18347   24305290976               verified   Valentina           Manhattan
97825   74233220098               verified       Oscar               Bronx
80838   71985087926            unconfirmed    Samantha              Queens
96759   27640017394            unconfirmed  Fransheska            Brooklyn
68592   66686071057            unconfirmed     Michael              Queens
50332   86918904736            unconfirmed         Raj              Queens
16300   44898521853            unconfirmed        Jack            Brooklyn
30653   88432267598            unconfirmed      Brooke           Manhattan

             neighbourhood       lat      long        country  ...  \
1097       Lower East Side  40.71746 -73.98782  United States  ...
101360            Kips Bay  40.73948 -73.97643  United States  ...
18347      Upper East Side  40.77315 -73.95848  United States  ...
97825          Kingsbridge  40.86300 -73.90661  United States  ...
80838              Arverne  40.58845 -73.79514  United States  ...
96759   Bedford-Stuyvesant  40.68862 -73.95572  United States  ...
68592              Astoria  40.76304 -73.90785  United States  ...
50332              Jamaica  40.67875 -73.79146  United States  ...
16300     Prospect Heights  40.67329 -73.96291  United States  ...
30653      Lower East Side  40.71908 -73.98379  United States  ...

       service fee minimum nights number of reviews last review  \
1097          $84             5.0               4.0   3/24/2018
101360        $26             1.0               0.0         NaN
18347        $160             3.0               0.0         NaN
97825        $217             3.0              24.0   6/23/2019
80838         $77             2.0              23.0    6/4/2019
96759        $218            30.0              35.0   6/19/2019
68592         $15            21.0               9.0   6/30/2019
50332         $71             1.0              13.0   2/28/2022
16300        $133            30.0              66.0   6/16/2019
30653        $188             2.0              40.0   5/13/2019

        reviews per month review rate number calculated host listings count  \
1097                 0.06                4.0                            1.0
101360                NaN                5.0                            1.0
18347                 NaN                1.0                            1.0
97825                2.91                2.0                            2.0
80838                2.06                5.0                            1.0
96759                3.06                5.0                            3.0
68592                0.56                5.0                            1.0
50332                0.42                3.0                            2.0
16300                1.78                2.0                            2.0
30653                2.51                3.0                            1.0

        availability 365                                        house_rules  \
1097                72.0                                                NaN
101360               0.0                                                NaN
18347                0.0  1. No additional guests not part of the reserv...
97825               72.0                                                NaN
80838               20.0                                                NaN
96759              365.0  Check in: 3pm; Check out: 12pm unless otherwis...
68592               58.0                                                NaN
50332               88.0                                                NaN
16300              310.0                               NO Smoking. No Pets.
30653                1.0                                                NaN

       license
1097       NaN
101360     NaN
18347      NaN
97825      NaN
80838      NaN
96759      NaN
68592      NaN
50332      NaN
16300      NaN
30653      NaN

[10 rows x 26 columns]

In [5]:
# Informacion sobre las columnas y el tipo de dato asociado a ellas

airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

### Paso 2
Siguiendo con un análisis preliminar de nuestro dataset, genere un vista estadìstica descriptiva, tanto para variables numéricas como para las categóricas.

In [7]:
# Estadisticas de las Variables Numericas del dataset
print(airbnb.describe())

                 id       host id            lat           long  \
count  1.025990e+05  1.025990e+05  102591.000000  102591.000000
mean   2.914623e+07  4.925411e+10      40.728094     -73.949644
std    1.625751e+07  2.853900e+10       0.055857       0.049521
min    1.001254e+06  1.236005e+08      40.499790     -74.249840
25%    1.508581e+07  2.458333e+10      40.688740     -73.982580
50%    2.913660e+07  4.911774e+10      40.722290     -73.954440
75%    4.320120e+07  7.399650e+10      40.762760     -73.932350
max    5.736742e+07  9.876313e+10      40.916970     -73.705220

       Construction year  minimum nights  number of reviews  \
count      102385.000000   102190.000000      102416.000000
mean         2012.487464        8.135845          27.483743
std             5.765556       30.553781          49.508954
min          2003.000000    -1223.000000           0.000000
25%          2007.000000        2.000000           1.000000
50%          2012.000000        3.000000           7.000000
75%          2017.000000        5.000000          30.000000
max          2022.000000     5645.000000        1024.000000

       reviews per month  review rate number  calculated host listings count  \
count       86720.000000       102273.000000                   102280.000000
mean            1.374022            3.279106                        7.936605
std             1.746621            1.284657                       32.218780
min             0.010000            1.000000                        1.000000
25%             0.220000            2.000000                        1.000000
50%             0.740000            3.000000                        1.000000
75%             2.000000            4.000000                        2.000000
max            90.000000            5.000000                      332.000000

       availability 365
count     102151.000000
mean         141.133254
std          135.435024
min          -10.000000
25%            3.000000
50%           96.000000
75%          269.000000
max         3677.000000

In [8]:
# Estadisticas de las Variables categoricas del dataset
airbnb.describe(include='object')

,NAME,host_identity_verified,host name,neighbourhood group,neighbourhood,country,country code,instant_bookable,cancellation_policy,room type,price,service fee,last review,house_rules,license
count,102349,102310,102193,102570,102583,102067,102468,102494,102523,102599,102352,102326,86706,50468,2
unique,61281,2,13190,7,224,1,1,2,3,4,1151,231,2477,1976,1
top,Home away from home,unconfirmed,Michael,Manhattan,Bedford-Stuyvesant,United States,US,False,moderate,Entire home/apt,$206,$41,6/23/2019,#NAME?,41662/AL
freq,33,51200,881,43792,7937,102067,102468,51474,34343,53701,137,526,2443,2712,2

## Paso 3

Reemplace todas aquelas columnas con espacio entre las palabras con "_". Adicionalmente, deje todos los nombre en minúsculas.

In [ ]:
airbnb['NAME'] = airbnb['NAME'].str.lower()
airbnb['room type'] = airbnb['room type'].str.lower()

airbnb['NAME'] = airbnb['NAME'].str.replace(' ', '_')
airbnb['room type'] = airbnb['room type'].str.replace(' ', '_')

print(airbnb['NAME'].unique())
print(airbnb['room type'].unique())

['clean_&_quiet_apt_home_by_the_park' 'skylit_midtown_castle'
 'the_village_of_harlem....new_york_!' ...
 'elmhurst_1st_fl_rightl_bedroom'
 'elmhurst_1st_floor_br_w/_pvt._bath&balcony'
 'parisian_style_apartment_in_heart_of_brooklyn']
['private_room' 'entire_home/apt' 'shared_room' 'hotel_room']

## Tarea 2: Limpieza de Datos - Manejo de Valores Faltantes


Ahora que tienes una idea general de lo que hay en el dataset, deberás corregir los problemas que este tiene.

1. Identifica las columnas con valores faltantes.
2. Decide una estrategia para manejarlos (por ejemplo, imputación con la media/mediana, eliminar la columna, eliminar filas con valores faltantes en columnas críticas). Justifica tus elecciones.

He aqui una sugerencia de estrategia a seguir:

- Eliminar la columna: Si una columna tiene un porcentaje muy alto de valores faltantes (por ejemplo, más del 50%) y/o no es crucial para el análisis, eliminarla puede ser la mejor opción.
- Imputación: Si una columna tiene un porcentaje moderado de valores faltantes y es importante, puedes imputar los valores faltantes. Considera diferentes estrategias de imputación:
  - Media/Mediana: Para columnas numéricas, imputar con la media o la mediana puede ser apropiado. La mediana es más robusta a los valores atípicos.
  - Moda: Para columnas categóricas, imputar con la moda (el valor más frecuente) es una opción.
  - Valor específico: En algunos casos, puede tener sentido imputar con un valor específico que tenga significado en el contexto del problema.
- Eliminar las filas: Si una columna tiene pocos valores faltantes y es muy importante, puedes optar por eliminar las filas que tengan valores faltantes en esa columna. Sin embargo, ten cuidado de no eliminar demasiadas filas, ya que esto podría sesgar los resultados.
- Dejar como está (con justificación): En algunos casos, puede que no sea necesario hacer nada y se pueda trabajar con los valores faltantes. Esto debe justificarse.

In [32]:
# Verificar valores faltantes
print(airbnb.isna().sum())
print()
print(airbnb.value_counts(dropna=False))

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

id        NAME                                               host id      host_identity_verified  host name      neighbourhood group  neighbourhood    lat       long       country        country code  instant_bookable  cancellation_policy  room type        Construction year  price    service fee  minimum nights  number of reviews  last review  reviews per month  review rate number  calculated host listings count  availability 365  house_rules                                                                                                                                                                                                                                                                                         license
20305326  studio_apartment_in_historic_sugar_hill_townhouse  76800663749  unconfirmed             Paula          Manhattan            Harlem           40.82862  -73.93832  United States  US            True              strict               entire_home/apt  2009.0             $1,000   $200         2.0             23.0               7/1/2019     2.24               3.0                 2.0                             16.0              -We do not allow pets because we already have a small dog in the house but he is very friendly! -Please make sure to close the back door when you are coming in and out.                                                                                                                            NaN        2
20305878  beautiful_room_in_a_newly_renovated_apartment!     10458506259  unconfirmed             Olga           Manhattan            Upper West Side  40.79560  -73.97219  United States  US            False             moderate             private_room     2014.0             $644     $129         1.0             31.0               6/24/2019    3.00               4.0                 3.0                             112.0             Please be aware, check in is NO earlier than 6pm on weekdays. We can make no exceptions. Weekends are more flexible.                                                                                                                                                                                NaN        2
20306430  williamsburg_studio-_steps_away_from_lorimer_l     18055428564  verified                Emily          Brooklyn             Williamsburg     40.71094  -73.95026  United States  US            False             moderate             entire_home/apt  2005.0             $631     $126         2.0             20.0               6/6/2019     2.00               4.0                 1.0                             0.0               NaN                                                                                                                                                                                                                                                                                                 NaN        2
20306983  room_with_a_view                                   31070626058  verified                Anny           Bronx                Kingsbridge      40.88354  -73.89061  United States  US            False             moderate             private_room     2006.0             $459     $92          3.0             0.0                NaN          NaN                3.0                 1.0                             89.0              Please no loud noise after 10pm as others do live here Check in after 3pm Check out at 11am Would appreciate it if you removed linens from bed post stay (not a requirement, just as a courtesy) NO SMOKING in room We do have an indoor porch if you're a smoker outside apartment                 NaN        2
20307535  comfy,_beautiful_apt_with_breakfast_included       83382332065  verified                Deborah/Aston  Brooklyn             East New York    40.67661  -73.87488  United States  US            False             strict               entire_home/apt  2010.0             $887     $177         2.0             43.0               7/5/2019     4.13               2.0                 1.0                             95.0              This apartment is located on a third floor, no elevator. Guest must be considered and respectful with the noise level. No stumping or running please.                                                                                                                                               NaN        2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
57356371  bx_apartment                                       11038605149  unconfirmed             Vii            Bronx                Olinville        40.88438  -73.86397  United States  US            True              strict               private_room     2008.0             $531     NaN          1.0             0.0                NaN          NaN                3.0                 1.0                             0.0               #NAME?                                                                                                                                                                                                                                                                                              NaN        1
57356923  huge_bedroom_lorimer_l_train!!!                    29320426760  unconfirmed             Jose           Brooklyn             Williamsburg     40.71355  -73.95003  United States  US            True              flexible             private_room     2016.0             $570     NaN          28.0            17.0               4/30/2019    0.61               1.0                 6.0                             229.0             No smoking                                                                                                                                                                                                                                                                                          NaN        1
57357476  spacious_two_bedrooms_condo_in_upper_manhattan     14430571516  verified                Max            Manhattan            Inwood           40.86461  -73.92363  United States  US            True              moderate             entire_home/apt  2003.0             $665     NaN          2.0             49.0               5/23/2019    1.81               1.0                 3.0                             147.0             NaN                                                                                                                                                                                                                                                                                                 NaN        1
57358028  room_in_queens,_ny,_near_lga.                      56457739998  verified                Sonia          Queens               East Elmhurst    40.76245  -73.87938  United States  US            True              strict               private_room     2022.0             $982     $196         1.0             239.0              6/29/2019    8.58               2.0                 2.0                             361.0             1. Please clean-up after yourself in the kitchen and keep the living room tidy. 2. Since we go to work/school, please avoid loud noises after 11pm during weekdays.  3. Important: To ensure everyone's safety, guest will be charged the full fee of changing the door knob if key is lost/stolen  NaN        1
57367417  rosalee_stewart                                    93578954226  verified                Stanley        Manhattan            Harlem           40.81315  -73.94747  United States  US            False             flexible             entire_home/apt  2011.0             $1,128   NaN          4.0             22.0               6/15/2019    0.85               4.0                 1.0                             238.0             Please remember that this is a residential building.  All building rules, Hotel occupancy restrictions, and year-round tenants must be respected.                                                                                                                                                   NaN        1
Name: count, Length: 102058, dtype: int64

In [ ]:
# a. Eliminar columnas con muchos valores faltantes


# b. Imputar con la mediana (ej: 'minimum nights')


# c. Imputar con la moda (ej: 'neighbourhood group')


# d. Eliminar filas con valores faltantes en columnas importantes (ej: 'price')


#e. Llenar valores nulos de 'review rate number' con 0. Asumimos que si no tiene review rate number es porque no tiene reviews.


#f. Llenar valores nulos de 'reviews per month' con 0. Asumimos que si no tiene reviews per month es porque no tiene reviews.


#g. Para 'last review', 'host name', 'country', 'country code', 'NAME', 'host_identity_verified', 'neighbourhood', 'Construction year', 'service fee', 'number of reviews', 'availability 365' y 'house_rules' se podría hacer un analisis mas profundo de que valores ponerles.
#Por ahora se imputaran por 'unknown' las columnas de tipo object y por 0 las de tipo numérico.
for col in airbnb.columns:
    if airbnb[col].dtype == 'object':
        airbnb[col] = airbnb[col].fillna('unknown')
    elif airbnb[col].dtype in ['int64', 'float64']:
        airbnb[col] = airbnb[col].fillna(0)

# 3. Verificar que no queden valores faltantes (o al menos en las columnas críticas)
print(airbnb.isnull().sum())

## Tarea 3: Agrupaciond de datos

### Paso 1

Para los datos categoricos, conozcamos como estos se distribuyen. Para ello:

1. Identifica las columnas de tu conjunto de datos que contienen la información relevante para tu análisis. ¿Qué quieres investigar o comprender mejor?
2. Utiliza la función `groupby()` para crear grupos basados en los valores de una o varias columnas. Esta agrupación te permitirá comparar y analizar subconjuntos de datos de manera individual.
3. Aplica una función de agregación como `count()`, `mean()`, `sum()`, `median()` o similar para obtener un resultado numérico para cada grupo.

Realiza los sigueintes análisis

In [22]:
# Distribucion de viviendas segun año de contruccion. Para ello, debe contar el numero de registros según el año de construcción.
print(airbnb['neighbourhood'].unique())
print()
print(airbnb.groupby('neighbourhood')['host id'].aggregate('count'))

['Kensington' 'Midtown' 'Harlem' 'Clinton Hill' 'East Harlem'
 'Murray Hill' 'Bedford-Stuyvesant' "Hell's Kitchen" 'Upper West Side'
 'Chinatown' 'South Slope' 'West Village' 'Williamsburg' 'Fort Greene'
 'Chelsea' 'Crown Heights' 'Park Slope' 'Windsor Terrace' 'Inwood'
 'East Village' 'Greenpoint' 'Bushwick' 'Flatbush' 'Lower East Side'
 'Prospect-Lefferts Gardens' 'Long Island City' 'Kips Bay' 'SoHo'
 'Upper East Side' 'Prospect Heights' 'Washington Heights' 'Woodside'
 'Brooklyn Heights' 'Carroll Gardens' 'Gowanus' 'Flatlands' 'Cobble Hill'
 'Flushing' 'Boerum Hill' 'Sunnyside' 'DUMBO' 'St. George' 'Highbridge'
 'Financial District' 'Ridgewood' 'Morningside Heights' 'Jamaica'
 'Middle Village' 'NoHo' 'Ditmars Steinway' 'Flatiron District'
 'Roosevelt Island' 'Greenwich Village' 'Little Italy' 'East Flatbush'
 'Tompkinsville' 'Astoria' 'Clason Point' 'Eastchester' 'Kingsbridge'
 'Two Bridges' 'Queens Village' 'Rockaway Beach' 'Forest Hills' 'Nolita'
 'Woodlawn' 'University Heights' 'Gravesend' 'Gramercy' 'Allerton' nan
 'East New York' 'Theater District' 'Concourse Village' 'Sheepshead Bay'
 'Emerson Hill' 'Fort Hamilton' 'Bensonhurst' 'Tribeca' 'Shore Acres'
 'Sunset Park' 'Concourse' 'Elmhurst' 'Brighton Beach' 'Jackson Heights'
 'Cypress Hills' 'St. Albans' 'Arrochar' 'Rego Park' 'Wakefield' 'Clifton'
 'Bay Ridge' 'Graniteville' 'Spuyten Duyvil' 'Stapleton' 'Briarwood'
 'Ozone Park' 'Columbia St' 'Vinegar Hill' 'Mott Haven' 'Longwood'
 'Canarsie' 'Battery Park City' 'Civic Center' 'East Elmhurst'
 'New Springville' 'Morris Heights' 'Arverne' 'Cambria Heights'
 'Tottenville' 'Mariners Harbor' 'Concord' 'Borough Park' 'Bayside'
 'Downtown Brooklyn' 'Port Morris' 'Fieldston' 'Kew Gardens' 'Midwood'
 'College Point' 'Mount Eden' 'City Island' 'Glendale' 'Port Richmond'
 'Red Hook' 'Richmond Hill' 'Bellerose' 'Maspeth' 'Williamsbridge'
 'Soundview' 'Woodhaven' 'Woodrow' 'Co-op City' 'Stuyvesant Town'
 'Parkchester' 'North Riverdale' 'Dyker Heights' 'Bronxdale' 'Sea Gate'
 'Riverdale' 'Kew Gardens Hills' 'Bay Terrace' 'Norwood'
 'Claremont Village' 'Whitestone' 'Fordham' 'Bayswater' 'Navy Yard'
 'Brownsville' 'Eltingville' 'Fresh Meadows' 'Mount Hope'
 'Lighthouse Hill' 'Springfield Gardens' 'Howard Beach' 'Belle Harbor'
 'Jamaica Estates' 'Van Nest' 'Morris Park' 'West Brighton' 'Far Rockaway'
 'South Ozone Park' 'Tremont' 'Corona' 'Great Kills' 'Manhattan Beach'
 'Marble Hill' 'Dongan Hills' 'Castleton Corners' 'East Morrisania'
 'Hunts Point' 'Neponsit' 'Pelham Bay' 'Randall Manor' 'Throgs Neck'
 'Todt Hill' 'West Farms' 'Silver Lake' 'Morrisania' 'Laurelton'
 'Grymes Hill' 'Holliswood' 'Pelham Gardens' 'Belmont' 'Rosedale'
 'Edgemere' 'New Brighton' 'Midland Beach' 'Baychester' 'Melrose'
 'Bergen Beach' 'Richmondtown' 'Howland Hook' 'Schuylerville'
 'Coney Island' 'New Dorp Beach' "Prince's Bay" 'South Beach' 'Bath Beach'
 'Jamaica Hills' 'Oakwood' 'Castle Hill' 'Hollis' 'Douglaston' 'Huguenot'
 'Olinville' 'Edenwald' 'Grant City' 'Westerleigh'
 'Bay Terrace, Staten Island' 'Westchester Square' 'Little Neck'
 'Fort Wadsworth' 'Rosebank' 'Unionport' 'Mill Basin' 'Arden Heights'
 "Bull's Head" 'New Dorp' 'Rossville' 'Breezy Point' 'Willowbrook'
 'Glen Oaks' 'Gerritsen Beach' 'Chelsea, Staten Island']

neighbourhood
Allerton             97
Arden Heights         9
Arrochar             52
Arverne             223
Astoria            1876
                   ...
Windsor Terrace     331
Woodhaven           192
Woodlawn             29
Woodrow               3
Woodside            588
Name: host id, Length: 224, dtype: int64

In [ ]:
# Barrios con mayor numero de viviendas para arriendo. Cuente el número de registros y agrupelos por barrio de forma descendente.

In [24]:
# Tipo de alojamiento predominante. Cuente el número de registros y agrupelos por el tipo de alojamiento (room_type).

print(airbnb.groupby('room type')['id'].aggregate('count'))

room type
entire_home/apt    53701
hotel_room           116
private_room       46556
shared_room         2226
Name: id, dtype: int64

### Paso 2. Agrupación a dos variables

En el siguiente ejercicio, obtendremos estadísticas combiando dos varaibles al mismo tiempo.

A modo de ejemplo, utilizaremos las columnas `neighbourhood` y `review rate number` para determinar el top 5 de vecindarios con el mejor review promedio.  Cada lugar debe tener al menos un review en total.

In [ ]:
df = airbnb.loc[airbnb['review_rate_number'] > 1]
df[['neighbourhood','review_rate_number']].groupby('neighbourhood')['review_rate_number'].mean().sort_values(ascending=False)

neighbourhood
Glen Oaks                 4.500000
Co-op City                4.400000
Gerritsen Beach           4.333333
Emerson Hill              4.142857
Huguenot                  4.111111
                            ...
Lighthouse Hill           2.666667
Jamaica Hills             2.666667
Fort Wadsworth            2.000000
Willowbrook               2.000000
Chelsea, Staten Island    2.000000
Name: review_rate_number, Length: 225, dtype: float64

## Tus Propios analisis.

Siguiendo el ejemplo anterior, aplica las siguiente agrupaciones.

In [ ]:
# Convertir 'price' y 'service fee' a data numerico. Hint: Utilice el método replace().

In [ ]:
### Barrio más costoso
# Obtenga el costo promedio de alojamiento según el barrio de la ciudad.

In [ ]:
### Barrio con el service fee más alto
# Obtenga el costo promedio de fee según el barrio de la ciudad.

In [ ]:
### Barrio con mayor reviews
# Determine el barrio con el mayor número de reviews en la ciudad. Para ello, y para cada barrio, debe suma todo los review de las propiedades dentro de ese barrio.

In [ ]:
### Politicas de Cancelacion
# Escoja un bario, el de su preferencia, y conozca las políticas de cancelacion predominante entre las propiedades del barrio escogido