### __Jr Data Analysis Tasks 01__

#### üìÅ __Data Ingestion & Preprocessing__

##### ‚úÖ _CSV Import with Custom Header and Separator_
        
- Load CSV

- Prepare it for a DataFrame

In [1]:
import pandas as pd

df_csv = pd.read_csv('DataSets/dummy_data.csv', sep=';', header='infer', decimal=',')

df_csv.info()
print()
print('Sample: \n\n', df_csv.sample(10, random_state=333))
print()
print('Counts NaN: \n\n', df_csv.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            209 non-null    object
 1   Product           209 non-null    object
 2   Sales             197 non-null    object
 3   Profit            193 non-null    object
 4   Currency          174 non-null    object
 5   Customer_ID       209 non-null    object
 6   Invoice_ID        209 non-null    object
 7   Description       209 non-null    object
 8   Transaction_Date  209 non-null    object
 9   ExcesiveNA        12 non-null     object
dtypes: object(10)
memory usage: 16.7+ KB

Sample:

     Region  Product    Sales   Profit Currency Customer_ID Invoice_ID  \
32    East   Laptop  2089,77   113,74      EUR     Raymond    INV1858
64    West   Tablet  3619,89   1159,9      USD     Raymond    INV5505
192   West   Laptop  4651,55  1407,77        -   Elizabeth    INV4770
27    East  Monitor  1957,81   1436,6      NaN    Veronica    INV4898
77   South  Monitor  2376,29  1877,19  Unknown      Rachel    INV8398
43   North  Monitor   3989,3   718,87      EUR       David    INV8405
36    West  Monitor  3950,22  1376,19  Unknown       Bobby    INV2862
100   West   Laptop      NaN  1381,98      EUR     Anthony    INV1982
142  South   Laptop  3648,49   879,98  Unknown      Briana    INV7878
177   East   Tablet  3144,54      NaN      USD     Caitlyn    INV4349

               Description Transaction_Date ExcesiveNA
32   Item 9355 - scientist       2024-08-28        NaN
64         Item 8404 - she       2024-10-30        NaN
192      Item 2502 - first       2024-10-03        NaN
27    Item 3754 - employee       2024-05-04        NaN
77     Item 6267 - finally       2024-10-14        NaN
43      Item 3504 - leader       2024-05-12        NaN
36        Item 3419 - race       2024-08-18        NaN
100      Item 6543 - piece       2024-11-02        NaN
142   Item 9843 - magazine       2024-09-22        NaN
177   Item 5096 - movement       2024-05-11        NaN

Counts NaN:

 Region                3
Product               3
Sales                15
Profit               19
Currency             38
Customer_ID           3
Invoice_ID            3
Description           3
Transaction_Date      3
ExcesiveNA          200
dtype: int64

In [2]:
import pandas as pd

df_xls = pd.read_excel('DataSets/dummy_data.xlsx', sheet_name='Sales_Data')

df_xls.info()
print()
print('Sample: \n\n', df_xls.sample(10, random_state=333))
print()
print('Counts NaN: \n\n', df_xls.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            209 non-null    object
 1   Product           209 non-null    object
 2   Sales             197 non-null    float64
 3   Profit            193 non-null    float64
 4   Currency          174 non-null    object
 5   Customer_ID       209 non-null    object
 6   Invoice_ID        209 non-null    object
 7   Description       209 non-null    object
 8   Transaction_Date  209 non-null    datetime64[ns]
 9   ExcesiveNA        10 non-null     object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 16.7+ KB

Sample:

     Region  Product    Sales   Profit Currency Customer_ID Invoice_ID  \
32    East   Laptop  2089.77   113.74      EUR     Raymond    INV1858
64    West   Tablet  3619.89  1159.90      USD     Raymond    INV5505
192   West   Laptop  4651.55  1407.77        -   Elizabeth    INV4770
27    East  Monitor  1957.81  1436.60      NaN    Veronica    INV4898
77   South  Monitor  2376.29  1877.19  Unknown      Rachel    INV8398
43   North  Monitor  3989.30   718.87      EUR       David    INV8405
36    West  Monitor  3950.22  1376.19  Unknown       Bobby    INV2862
100   West   Laptop      NaN  1381.98      EUR     Anthony    INV1982
142  South   Laptop  3648.49   879.98  Unknown      Briana    INV7878
177   East   Tablet  3144.54      NaN      USD     Caitlyn    INV4349

               Description Transaction_Date ExcesiveNA
32   Item 9355 - scientist       2024-08-28        NaN
64         Item 8404 - she       2024-10-30        NaN
192      Item 2502 - first       2024-10-03        NaN
27    Item 3754 - employee       2024-05-04        NaN
77     Item 6267 - finally       2024-10-14        NaN
43      Item 3504 - leader       2024-05-12        NaN
36        Item 3419 - race       2024-08-18        NaN
100      Item 6543 - piece       2024-11-02        NaN
142   Item 9843 - magazine       2024-09-22        NaN
177   Item 5096 - movement       2024-05-11        NaN

Counts NaN:

 Region                3
Product               3
Sales                15
Profit               19
Currency             38
Customer_ID           3
Invoice_ID            3
Description           3
Transaction_Date      3
ExcesiveNA          202
dtype: int64

##### __Note__

If you want date columns from CSV to behave like those from Excel, do this when reading:

_df = pd.read_csv("file.csv", parse_dates=["your_date_column"])_

That way, Pandas will convert the date strings into datetime64[ns] objects, and they‚Äôll behave just like the Excel ones.

##### ‚úÖ _Handling Missing Values_

- Read an Excel file where missing values are represented as "N/A" or "-".

- Use keep_default_na=False to interpret these manually, then use isna() to count nulls per column.

In [3]:
import pandas as pd

df_csv = pd.read_csv('DataSets/dummy_data.csv', sep=';', header='infer', decimal=',', keep_default_na=False)

df_csv.info()
print()
print('Sample: \n\n', df_csv.sample(10, random_state=333))
print()
print('Counts NaN: \n\n', df_csv.isna().sum())
print()
print("Region: ", df_csv['Region'].unique(), df_csv['Region'].nunique())
print("Product: ", df_csv['Product'].unique(), df_csv['Product'].nunique())
print("Sales: ", df_csv['Sales'].unique(), df_csv['Sales'].nunique())
print("Profit: ", df_csv['Profit'].unique(), df_csv['Profit'].nunique())
print("Currency: ", df_csv['Currency'].unique(), df_csv['Currency'].nunique())
print("Customer_ID: ", df_csv['Customer_ID'].unique(), df_csv['Customer_ID'].nunique())
print("Invoice_ID: ", df_csv['Invoice_ID'].unique(), df_csv['Invoice_ID'].nunique())
print("Description: ", df_csv['Description'].unique(), df_csv['Description'].nunique())
print("Transaction_Date : ", df_csv['Transaction_Date'].unique(), df_csv['Transaction_Date'].nunique())
print("\n\n")
df_csv.replace(["N/A", "-", ""], pd.NA, inplace=True)

df_csv['Sales'] = pd.to_numeric(df_csv['Sales'].str.replace(',', '.', regex=False), errors='coerce')
df_csv['Profit'] = pd.to_numeric(df_csv['Profit'].str.replace(',', '.', regex=False), errors='coerce')

print()
print(df_csv.dtypes)
print()
print('Counts NaN: \n\n', df_csv.isna().sum())
print()
print("Region: ", df_csv['Region'].unique(), df_csv['Region'].nunique())
print("Product: ", df_csv['Product'].unique(), df_csv['Product'].nunique())
print("Sales: ", df_csv['Sales'].unique(), df_csv['Sales'].nunique())
print("Profit: ", df_csv['Profit'].unique(), df_csv['Profit'].nunique())
print("Currency: ", df_csv['Currency'].unique(), df_csv['Currency'].nunique())
print("Customer_ID: ", df_csv['Customer_ID'].unique(), df_csv['Customer_ID'].nunique())
print("Invoice_ID: ", df_csv['Invoice_ID'].unique(), df_csv['Invoice_ID'].nunique())
print("Description: ", df_csv['Description'].unique(), df_csv['Description'].nunique())
print("Transaction_Date : ", df_csv['Transaction_Date'].unique(), df_csv['Transaction_Date'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            212 non-null    object
 1   Product           212 non-null    object
 2   Sales             212 non-null    object
 3   Profit            212 non-null    object
 4   Currency          212 non-null    object
 5   Customer_ID       212 non-null    object
 6   Invoice_ID        212 non-null    object
 7   Description       212 non-null    object
 8   Transaction_Date  212 non-null    object
 9   ExcesiveNA        212 non-null    object
dtypes: object(10)
memory usage: 16.7+ KB

Sample:

     Region  Product    Sales   Profit Currency Customer_ID Invoice_ID  \
32    East   Laptop  2089,77   113,74      EUR     Raymond    INV1858
64    West   Tablet  3619,89   1159,9      USD     Raymond    INV5505
192   West   Laptop  4651,55  1407,77        -   Elizabeth    INV4770
27    East  Monitor  1957,81   1436,6             Veronica    INV4898
77   South  Monitor  2376,29  1877,19  Unknown      Rachel    INV8398
43   North  Monitor   3989,3   718,87      EUR       David    INV8405
36    West  Monitor  3950,22  1376,19  Unknown       Bobby    INV2862
100   West   Laptop           1381,98      EUR     Anthony    INV1982
142  South   Laptop  3648,49   879,98  Unknown      Briana    INV7878
177   East   Tablet  3144,54               USD     Caitlyn    INV4349

               Description Transaction_Date ExcesiveNA
32   Item 9355 - scientist       2024-08-28
64         Item 8404 - she       2024-10-30
192      Item 2502 - first       2024-10-03
27    Item 3754 - employee       2024-05-04
77     Item 6267 - finally       2024-10-14
43      Item 3504 - leader       2024-05-12
36        Item 3419 - race       2024-08-18
100      Item 6543 - piece       2024-11-02
142   Item 9843 - magazine       2024-09-22
177   Item 5096 - movement       2024-05-11

Counts NaN:

 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
ExcesiveNA          0
dtype: int64

Region:  ['North' 'East' 'South' 'West' ''] 5
Product:  ['Laptop' 'Monitor' 'Smartphone' 'Headphones' 'Tablet' 'Missing' ''] 7
Sales:  ['4922,76' '666,66' '4507,57' '1031,39' '317,49' '2236,68' '2647,61'
 '4051,9' '3465,6' '4707,29' '' '3711,48' '1065,47' '2213,36' '4749,48'
 '4611,78' '3153,46' '3350,6' '710,66' '4510,23' '2584,9' '3367,78'
 '1698,3' '3516,32' '2816,62' '1040,02' '3358,15' '1957,81' '3765,86'
 '952,73' '2888,62' '2089,77' '4185,25' '1588,99' '1129,9' '3950,22'
 '3072,64' '1679,02' '2264,75' '3410,57' '2604,75' '3989,3' '4803,18'
 '3706,21' '3328,37' '1490,55' '3352,88' '3134,38' '557,6' '4764,8'
 '1250,86' '1621,06' '4052,16' '822,03' '326,45' '4921,29' '3095,24'
 '3865,6' '2331,54' '4442,07' '2920,79' '3619,89' '1981,49' '2058,3'
 '823,1' '3469,35' '4474,03' '4316,16' '4438,78' '3914,26' '1172,32'
 '4040,14' '3509,97' '2376,29' '2831,29' '4595,6' '694,66' '753,36'
 '2376,75' '2702,55' '2838,73' '1654,76' '3800,73' '2268,61' '4093,53'
 '4470,9' '2191,03' '4543,59' '2284,98' '879,87' '4321,33' '2305,34'
 '3783,71' '4215,33' '1458,83' '3910,61' '2474,53' '1272,3' '2255,38'
 '3596,37' '1249,02' '1745,65' '4475,83' '494,83' '839,07' '1976,87'
 '848,75' '1148,37' '2132,85' '1721,32' '2383,03' '405,1' '4181,17'
 '2008,44' '3872,0' '4735,7' '195,71' '4415,22' '2920,88' '2437,2'
 '4719,43' '1563,2' '2010,93' '4469,04' '4195,07' '2737,28' '3699,71'
 '4019,35' '4499,28' '2492,32' '1437,38' '2479,65' '2005,4' '3377,48'
 '4010,9' '3648,49' '4218,48' '4605,75' '4905,54' '2717,21' '4543,95'
 '3000,27' '3348,7' '511,34' '2200,2' '4347,57' '990,47' '1374,77'
 '1704,03' '2328,03' '1753,75' '4410,24' '1463,46' '4760,9' '2165,67'
 '4191,06' '2404,5' '3770,22' '355,22' '4764,41' '1198,69' '436,23'
 '4790,7' '297,26' '252,05' '1311,69' '4212,22' '3144,54' '1268,87'
 '2420,45' '660,51' '4744,01' '2378,67' '1355,59' '1907,59' '3068,87'
 '4822,3' '3619,95' '3911,18' '902,45' '1624,09' '2935,56' '4651,55'
 '2921,4' '4549,33' '1939,0' '4713,21' '1071,82' '3001,28' '4169,8'
 '3001.28' '3465.6' '710.66'] 193
Profit:  ['107,12' '1242,98' '253,96' '1210,65' '1513,82' '' '1490,57' '914,83'
 '-397,33' '831,86' '1153,8' '-327,61' '1118,86' '-468,37' '550,15'
 '725,5' '583,81' '405,47' '1728,94' '649,35' '-117,52' '-59,66' '804,37'
 '1126,14' '1039,78' '1799,04' '1436,6' '662,18' '1564,34' '981,19'
 '305,76' '113,74' '1836,55' '197,32' '627,01' '1376,19' '924,62'
 '1170,47' '340,99' '735,77' '312,54' '718,87' '387,06' '145,88' '199,15'
 '990,39' '1700,27' '889,48' '791,57' '-22,36' '103,39' '516,07' '887,94'
 '100,81' '690,23' '1279,61' '620,44' '-456,89' '235,59' '511,0' '108,26'
 '1159,9' '422,55' '883,68' '359,39' '1991,58' '875,97' '379,53' '634,36'
 '266,56' '76,35' '1303,21' '288,87' '1357,2' '1877,19' '1225,41' '-21,15'
 '1346,51' '191,25' '973,97' '1400,52' '991,98' '1951,28' '1581,57'
 '240,62' '402,2' '255,67' '1270,05' '-183,54' '-386,21' '-363,68'
 '230,34' '1860,22' '1094,67' '1381,98' '-243,53' '-469,34' '210,85'
 '696,79' '351,76' '1913,74' '131,2' '1654,31' '-214,78' '-336,64'
 '729,37' '942,55' '1216,13' '-120,68' '1527,86' '1872,81' '-287,05'
 '120,48' '895,18' '540,44' '990,32' '1046,05' '1439,23' '450,95'
 '1771,26' '243,38' '971,31' '572,07' '921,57' '-349,42' '1900,27'
 '-251,92' '1406,84' '1063,79' '161,62' '-297,03' '99,66' '879,98'
 '-108,67' '521,29' '1223,43' '674,78' '-418,4' '220,26' '206,8' '1649,02'
 '-322,05' '83,56' '161,39' '1478,12' '974,47' '1509,76' '-5,45' '-213,06'
 '62,02' '-127,53' '164,08' '-144,41' '-350,9' '1481,57' '987,61' '1560,6'
 '1802,98' '597,88' '671,74' '260,23' '506,27' '180,62' '849,95' '594,4'
 '995,09' '1723,56' '1336,33' '1009,28' '-435,34' '72,31' '1185,75'
 '1651,29' '967,81' '-448,14' '1411,9' '1553,55' '940,62' '1407,77'
 '-62,02' '797,41' '605,57' '195,39' '1992,36' '589,71' '1535,61' '405.47'
 '589.71' '1860.22'] 189
Currency:  ['USD' 'Unknown' 'MXN' '' 'EUR' '-'] 6
Customer_ID:  ['Heidi' 'Joshua' 'Jennifer' 'Bobby' 'Caitlyn' 'Cristian' 'Rebecca'
 'Briana' 'Michael' 'Stephanie' 'Anthony' 'Brian' 'Barbara' 'David'
 'Elizabeth' 'Sharon' 'Matthew' 'Regina' 'Kevin' 'Christopher' 'Veronica'
 'Austin' 'Raymond' 'Nancy' 'John' 'Christine' 'Amanda' 'Ronald' 'Travis'
 'Jessica' 'Dalton' 'Jamie' 'Brandon' 'Steven' 'Candice' 'Lisa' 'Rachel'
 'Nichole' 'Daniel' 'Priscilla' 'Alex' 'Brenda' 'Madeline' 'Jacob' 'Julie'
 'Melissa' 'Savannah' 'Luis' 'Danielle' ''] 50
Invoice_ID:  ['INV8450' 'INV2501' 'INV4475' 'INV1349' 'INV1828' 'INV6464' 'INV4990'
 'INV3063' 'INV4362' 'INV2124' 'INV4394' 'INV4538' 'INV4817' 'INV6383'
 'INV3417' 'INV1046' 'INV5542' 'INV3370' 'INV3129' 'INV9850' 'INV5106'
 'INV3858' 'INV2801' 'INV1422' 'INV3159' 'INV1243' 'INV6869' 'INV4898'
 'INV6304' 'INV1258' 'INV3854' 'INV5347' 'INV1858' 'INV3076' 'INV7897'
 'INV9619' 'INV2862' 'INV2041' 'INV8802' 'INV8344' 'INV6931' 'INV9408'
 'INV2786' 'INV8405' 'INV9254' 'INV4629' 'INV1710' 'INV9543' 'INV5941'
 'INV8504' 'INV1510' 'INV1996' 'INV8847' 'INV7580' 'INV7984' 'INV2768'
 'INV9032' 'INV8267' 'INV2204' 'INV2323' 'INV6277' 'INV3430' 'INV2076'
 'INV3067' 'INV5505' 'INV9984' 'INV6327' 'INV7240' 'INV9692' 'INV5831'
 'INV8433' 'INV9282' 'INV8048' 'INV2624' 'INV2874' 'INV4522' 'INV8046'
 'INV8398' 'INV4743' 'INV7779' 'INV6553' 'INV8430' 'INV7532' 'INV7815'
 'INV2557' 'INV6120' 'INV7992' 'INV5176' 'INV7132' 'INV3500' 'INV8770'
 'INV2099' 'INV2494' 'INV2398' 'INV2527' 'INV8075' 'INV2582' 'INV7105'
 'INV3131' 'INV1982' 'INV6400' 'INV3002' 'INV7730' 'INV6793' 'INV7929'
 'INV1842' 'INV5712' 'INV6119' 'INV6761' 'INV2697' 'INV9313' 'INV4485'
 'INV3535' 'INV8900' 'INV4674' 'INV2773' 'INV6736' 'INV7022' 'INV2882'
 'INV5564' 'INV4705' 'INV8030' 'INV1430' 'INV5381' 'INV1474' 'INV3955'
 'INV5477' 'INV6062' 'INV6567' 'INV6751' 'INV1100' 'INV3972' 'INV3347'
 'INV7566' 'INV2140' 'INV3324' 'INV1502' 'INV2503' 'INV9691' 'INV4524'
 'INV7163' 'INV7878' 'INV8432' 'INV6585' 'INV3578' 'INV7062' 'INV6105'
 'INV6314' 'INV2391' 'INV1861' 'INV3549' 'INV3579' 'INV1815' 'INV2336'
 'INV5458' 'INV8259' 'INV7947' 'INV8957' 'INV8242' 'INV7785' 'INV5475'
 'INV4531' 'INV9394' 'INV2864' 'INV6655' 'INV8043' 'INV2816' 'INV5640'
 'INV8972' 'INV9633' 'INV6053' 'INV1744' 'INV4612' 'INV7475' 'INV1897'
 'INV1125' 'INV4349' 'INV5938' 'INV4460' 'INV3248' 'INV5186' 'INV5742'
 'INV6375' 'INV2965' 'INV1126' 'INV9149' 'INV8055' 'INV3878' 'INV3116'
 'INV7229' 'INV9725' 'INV4770' 'INV9196' 'INV6802' 'INV2180' 'INV7505'
 'INV1693' 'INV8147' 'INV1307' ''] 200
Description:  ['Item 8532 - drop' 'Item 2275 - move' 'Item 6129 - boy'
 'Item 8033 - major' 'Item 7626 - pull' 'Item 7843 - media'
 'Item 5743 - quickly' 'Item 2887 - others' 'Item 7636 - smile'
 'Item 1341 - through' 'Item 6321 - size' 'Item 3815 - fill'
 'Item 8538 - few' 'Item 6928 - rich' 'Item 2443 - policy'
 'Item 8155 - now' 'Item 2734 - activity' 'Item 4986 - pressure'
 'Item 8138 - class' 'Item 7560 - production' 'Item 9584 - religious'
 'Item 2288 - game' 'Item 7484 - physical' 'Item 6083 - guess'
 'Item 6562 - say' 'Item 4630 - example' 'Item 6456 - agree'
 'Item 3754 - employee' 'Item 2251 - glass' 'Item 9363 - no'
 'Item 2868 - cup' 'Item 9693 - charge' 'Item 9355 - scientist'
 'Item 4176 - recently' 'Item 6724 - style' 'Item 6752 - crime'
 'Item 3419 - race' 'Item 4871 - light' 'Item 2684 - go'
 'Item 3399 - account' 'Item 5193 - former' 'Item 4232 - summer'
 'Item 3842 - early' 'Item 3504 - leader' 'Item 2234 - forward'
 'Item 3902 - arrive' 'Item 9095 - need' 'Item 8601 - address'
 'Item 8354 - meet' 'Item 6295 - goal' 'Item 6179 - sure'
 'Item 3473 - home' 'Item 8205 - art' 'Item 2118 - material'
 'Item 8682 - choose' 'Item 8245 - hotel' 'Item 5961 - organization'
 'Item 5500 - close' 'Item 1920 - daughter' 'Item 6766 - conference'
 'Item 9312 - term' 'Item 2215 - improve' 'Item 6085 - its'
 'Item 8565 - air' 'Item 8404 - she' 'Item 1616 - personal'
 'Item 1932 - next' 'Item 7041 - team' 'Item 5703 - me'
 'Item 2257 - begin' 'Item 2479 - executive' 'Item 9307 - always'
 'Item 7299 - not' 'Item 8581 - others' 'Item 1672 - prove'
 'Item 8368 - add' 'Item 4084 - far' 'Item 6267 - finally'
 'Item 8792 - appear' 'Item 9214 - degree' 'Item 3471 - along'
 'Item 2013 - time' 'Item 8381 - knowledge' 'Item 2695 - glass'
 'Item 6626 - will' 'Item 2381 - consumer' 'Item 9266 - speak'
 'Item 3827 - read' 'Item 1641 - especially' 'Item 5059 - collection'
 'Item 8172 - give' 'Item 8199 - effect' 'Item 9586 - itself'
 'Item 9564 - safe' 'Item 3600 - so' 'Item 6962 - drive'
 'Item 7108 - security' 'Item 5634 - whatever' 'Item 7347 - exist'
 'Item 7697 - bill' 'Item 6543 - piece' 'Item 1857 - seven'
 'Item 6482 - responsibility' 'Item 2079 - hand' 'Item 6401 - party'
 'Item 2548 - least' 'Item 7333 - simply' 'Item 5655 - candidate'
 'Item 5128 - piece' 'Item 3463 - down' 'Item 6461 - wear'
 'Item 2335 - even' 'Item 3317 - thus' 'Item 6731 - quality'
 'Item 6082 - dream' 'Item 7421 - within' 'Item 3112 - art'
 'Item 2388 - visit' 'Item 6072 - natural' 'Item 7171 - win'
 'Item 6381 - kid' 'Item 3093 - speak' 'Item 9624 - despite'
 'Item 2531 - wife' 'Item 7937 - those' 'Item 9331 - win'
 'Item 6928 - wrong' 'Item 1298 - particularly' 'Item 6940 - side'
 'Item 6060 - attention' 'Item 3953 - only' 'Item 4509 - doctor'
 'Item 6598 - attack' 'Item 8967 - be' 'Item 4145 - total'
 'Item 4711 - physical' 'Item 3253 - soon' 'Item 3538 - child'
 'Item 2264 - eight' 'Item 5846 - yes' 'Item 2657 - full'
 'Item 9317 - front' 'Item 9843 - magazine' 'Item 9626 - current'
 'Item 1618 - morning' 'Item 6517 - rule' 'Item 3147 - both'
 'Item 7172 - rate' 'Item 3527 - how' 'Item 3658 - should'
 'Item 3962 - into' 'Item 3712 - region' 'Item 8170 - together'
 'Item 1715 - car' 'Item 7731 - surface' 'Item 6968 - race'
 'Item 4891 - three' 'Item 8277 - number' 'Item 5668 - past'
 'Item 8355 - month' 'Item 4833 - discussion' 'Item 9749 - get'
 'Item 4918 - grow' 'Item 6070 - receive' 'Item 8684 - investment'
 'Item 4178 - state' 'Item 7026 - win' 'Item 8218 - line'
 'Item 8564 - even' 'Item 5616 - whom' 'Item 7256 - easy'
 'Item 9239 - tough' 'Item 9641 - great' 'Item 7859 - trade'
 'Item 3655 - term' 'Item 4271 - speak' 'Item 3267 - career'
 'Item 5096 - movement' 'Item 1854 - benefit' 'Item 8873 - bed'
 'Item 7081 - people' 'Item 2680 - catch' 'Item 9452 - expert'
 'Item 3042 - garden' 'Item 5670 - fund' 'Item 2374 - end'
 'Item 3626 - PM' 'Item 5469 - agent' 'Item 8361 - over' 'Item 9410 - own'
 'Item 3414 - discover' 'Item 8167 - rest' 'Item 2502 - first'
 'Item 4637 - half' 'Item 8391 - perhaps' 'Item 6727 - word'
 'Item 1436 - civil' 'Item 7797 - general' 'Item 1872 - again'
 'Item 7495 - sound' ''] 201
Transaction_Date :  ['2024-06-26' '2024-10-26' '2025-04-06' '2024-05-10' '2025-01-13'
 '2025-02-26' '2025-04-02' '2025-03-19' '2024-12-08' '2024-09-25'
 '2025-01-30' '2024-11-02' '2024-11-20' '2024-11-17' '2024-06-10'
 '2025-01-21' '2024-08-26' '2024-09-08' '2025-04-16' '2024-09-28'
 '2024-07-22' '2024-10-05' '2024-08-08' '2024-05-20' '2025-01-19'
 '2025-02-16' '2024-11-07' '2024-05-04' '2024-04-26' '2024-06-11'
 '2024-11-09' '2024-08-28' '2024-12-07' '2024-06-09' '2024-06-19'
 '2024-08-18' '2024-04-24' '2025-01-05' '2024-10-10' '2024-10-31'
 '2024-12-20' '2024-05-12' '2024-12-19' '2025-02-08' '2024-12-09'
 '2024-11-18' '2024-07-23' '2024-12-21' '2024-08-29' '2024-11-04'
 '2024-06-21' '2024-09-22' '2024-08-15' '2024-04-29' '2024-06-23'
 '2025-02-20' '2024-09-18' '2024-09-09' '2024-10-30' '2025-01-16'
 '2024-08-25' '2024-10-27' '2024-06-12' '2024-12-06' '2024-07-20'
 '2024-06-17' '2024-11-16' '2025-02-13' '2024-10-14' '2024-05-16'
 '2024-11-05' '2025-02-24' '2024-12-05' '2024-08-06' '2024-12-10'
 '2024-07-31' '2025-01-18' '2024-10-21' '2024-07-13' '2024-11-26'
 '2024-07-03' '2024-09-02' '2024-05-18' '2025-03-20' '2025-02-01'
 '2025-01-01' '2025-01-06' '2025-04-01' '2024-05-05' '2025-01-02'
 '2024-06-01' '2025-03-02' '2024-04-25' '2024-11-13' '2024-07-11'
 '2025-03-31' '2025-04-08' '2025-04-18' '2024-08-30' '2024-07-29'
 '2025-03-08' '2024-05-27' '2025-04-21' '2025-03-11' '2025-03-30'
 '2024-06-27' '2025-03-14' '2025-04-07' '2024-07-19' '2024-10-29'
 '2024-12-03' '2024-10-07' '2025-04-15' '2024-09-16' '2025-04-11'
 '2025-01-23' '2024-12-15' '2024-04-27' '2025-02-05' '2024-05-24'
 '2024-11-29' '2024-07-12' '2025-03-13' '2024-06-22' '2024-06-06'
 '2024-10-08' '2024-11-22' '2025-02-17' '2024-11-28' '2025-03-05'
 '2025-01-20' '2024-06-04' '2024-12-12' '2024-09-19' '2024-05-11'
 '2024-08-20' '2024-08-14' '2025-02-25' '2025-01-10' '2024-05-29'
 '2024-07-08' '2024-09-10' '2024-10-20' '2024-10-03' '2024-09-26'
 '2025-03-21' '2024-09-04' '2024-05-17' '2025-04-16 00:00:00'
 '2024-12-08 00:00:00' '2024-09-04 00:00:00' '2025-01-06 00:00:00' ''] 153




Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
ExcesiveNA           object
dtype: object

Counts NaN:

 Region                3
Product               3
Sales                15
Profit               19
Currency             68
Customer_ID           3
Invoice_ID            3
Description           3
Transaction_Date      3
ExcesiveNA          200
dtype: int64

Region:  ['North' 'East' 'South' 'West' <NA>] 4
Product:  ['Laptop' 'Monitor' 'Smartphone' 'Headphones' 'Tablet' 'Missing' <NA>] 6
Sales:  [4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29     nan 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 2816.62 1040.02 3358.15
 1957.81 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22
 3072.64 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37
 1490.55 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03
  326.45 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49
 2058.3   823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14
 3509.97 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73
 1654.76 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87
 4321.33 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38
 3596.37 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37
 2132.85 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71
 4415.22 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28
 3699.71 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9
 3648.49 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34
 2200.2  4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46
 4760.9  2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23
 4790.7   297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51
 4744.01 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45
 1624.09 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28
 4169.8 ] 189
Profit:  [ 107.12 1242.98  253.96 1210.65 1513.82     nan 1490.57  914.83 -397.33
  831.86 1153.8  -327.61 1118.86 -468.37  550.15  725.5   583.81  405.47
 1728.94  649.35 -117.52  -59.66  804.37 1126.14 1039.78 1799.04 1436.6
  662.18 1564.34  981.19  305.76  113.74 1836.55  197.32  627.01 1376.19
  924.62 1170.47  340.99  735.77  312.54  718.87  387.06  145.88  199.15
  990.39 1700.27  889.48  791.57  -22.36  103.39  516.07  887.94  100.81
  690.23 1279.61  620.44 -456.89  235.59  511.    108.26 1159.9   422.55
  883.68  359.39 1991.58  875.97  379.53  634.36  266.56   76.35 1303.21
  288.87 1357.2  1877.19 1225.41  -21.15 1346.51  191.25  973.97 1400.52
  991.98 1951.28 1581.57  240.62  402.2   255.67 1270.05 -183.54 -386.21
 -363.68  230.34 1860.22 1094.67 1381.98 -243.53 -469.34  210.85  696.79
  351.76 1913.74  131.2  1654.31 -214.78 -336.64  729.37  942.55 1216.13
 -120.68 1527.86 1872.81 -287.05  120.48  895.18  540.44  990.32 1046.05
 1439.23  450.95 1771.26  243.38  971.31  572.07  921.57 -349.42 1900.27
 -251.92 1406.84 1063.79  161.62 -297.03   99.66  879.98 -108.67  521.29
 1223.43  674.78 -418.4   220.26  206.8  1649.02 -322.05   83.56  161.39
 1478.12  974.47 1509.76   -5.45 -213.06   62.02 -127.53  164.08 -144.41
 -350.9  1481.57  987.61 1560.6  1802.98  597.88  671.74  260.23  506.27
  180.62  849.95  594.4   995.09 1723.56 1336.33 1009.28 -435.34   72.31
 1185.75 1651.29  967.81 -448.14 1411.9  1553.55  940.62 1407.77  -62.02
  797.41  605.57  195.39 1992.36  589.71 1535.61] 185
Currency:  ['USD' 'Unknown' 'MXN' <NA> 'EUR'] 4
Customer_ID:  ['Heidi' 'Joshua' 'Jennifer' 'Bobby' 'Caitlyn' 'Cristian' 'Rebecca'
 'Briana' 'Michael' 'Stephanie' 'Anthony' 'Brian' 'Barbara' 'David'
 'Elizabeth' 'Sharon' 'Matthew' 'Regina' 'Kevin' 'Christopher' 'Veronica'
 'Austin' 'Raymond' 'Nancy' 'John' 'Christine' 'Amanda' 'Ronald' 'Travis'
 'Jessica' 'Dalton' 'Jamie' 'Brandon' 'Steven' 'Candice' 'Lisa' 'Rachel'
 'Nichole' 'Daniel' 'Priscilla' 'Alex' 'Brenda' 'Madeline' 'Jacob' 'Julie'
 'Melissa' 'Savannah' 'Luis' 'Danielle' <NA>] 49
Invoice_ID:  ['INV8450' 'INV2501' 'INV4475' 'INV1349' 'INV1828' 'INV6464' 'INV4990'
 'INV3063' 'INV4362' 'INV2124' 'INV4394' 'INV4538' 'INV4817' 'INV6383'
 'INV3417' 'INV1046' 'INV5542' 'INV3370' 'INV3129' 'INV9850' 'INV5106'
 'INV3858' 'INV2801' 'INV1422' 'INV3159' 'INV1243' 'INV6869' 'INV4898'
 'INV6304' 'INV1258' 'INV3854' 'INV5347' 'INV1858' 'INV3076' 'INV7897'
 'INV9619' 'INV2862' 'INV2041' 'INV8802' 'INV8344' 'INV6931' 'INV9408'
 'INV2786' 'INV8405' 'INV9254' 'INV4629' 'INV1710' 'INV9543' 'INV5941'
 'INV8504' 'INV1510' 'INV1996' 'INV8847' 'INV7580' 'INV7984' 'INV2768'
 'INV9032' 'INV8267' 'INV2204' 'INV2323' 'INV6277' 'INV3430' 'INV2076'
 'INV3067' 'INV5505' 'INV9984' 'INV6327' 'INV7240' 'INV9692' 'INV5831'
 'INV8433' 'INV9282' 'INV8048' 'INV2624' 'INV2874' 'INV4522' 'INV8046'

In [4]:
import pandas as pd

df_xls = pd.read_excel('DataSets/dummy_data.xlsx', sheet_name='Sales_Data', keep_default_na=False)

df_xls.info()
print()
print('Sample: \n\n', df_xls.sample(10, random_state=333))
print()
print('Counts NaN: \n\n', df_xls.isna().sum())
print()
print("Region: ", df_xls['Region'].unique(), df_xls['Region'].nunique())
print("Product: ", df_xls['Product'].unique(), df_xls['Product'].nunique())
print("Sales: ", df_xls['Sales'].unique(), df_xls['Sales'].nunique())
print("Profit: ", df_xls['Profit'].unique(), df_xls['Profit'].nunique())
print("Currency: ", df_xls['Currency'].unique(), df_xls['Currency'].nunique())
print("Customer_ID: ", df_xls['Customer_ID'].unique(), df_xls['Customer_ID'].nunique())
print("Invoice_ID: ", df_xls['Invoice_ID'].unique(), df_xls['Invoice_ID'].nunique())
print("Description: ", df_xls['Description'].unique(), df_xls['Description'].nunique())
print("Transaction_Date : ", df_xls['Transaction_Date'].unique(), df_xls['Transaction_Date'].nunique())
print("\n\n")
df_xls.replace(["N/A", "-", ""], pd.NA, inplace=True)

df_xls["Sales"] = pd.to_numeric(df_xls["Sales"], errors="coerce")
df_xls["Profit"] = pd.to_numeric(df_xls["Profit"], errors="coerce")

print()
print(df_csv.dtypes)
print()
print('Counts NaN: \n\n', df_xls.isna().sum())
print()
print("Region: ", df_xls['Region'].unique(), df_xls['Region'].nunique())
print("Product: ", df_xls['Product'].unique(), df_xls['Product'].nunique())
print("Sales: ", df_xls['Sales'].unique(), df_xls['Sales'].nunique())
print("Profit: ", df_xls['Profit'].unique(), df_xls['Profit'].nunique())
print("Currency: ", df_xls['Currency'].unique(), df_xls['Currency'].nunique())
print("Customer_ID: ", df_xls['Customer_ID'].unique(), df_xls['Customer_ID'].nunique())
print("Invoice_ID: ", df_xls['Invoice_ID'].unique(), df_xls['Invoice_ID'].nunique())
print("Description: ", df_xls['Description'].unique(), df_xls['Description'].nunique())
print("Transaction_Date : ", df_xls['Transaction_Date'].unique(), df_xls['Transaction_Date'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            212 non-null    object
 1   Product           212 non-null    object
 2   Sales             212 non-null    object
 3   Profit            212 non-null    object
 4   Currency          212 non-null    object
 5   Customer_ID       212 non-null    object
 6   Invoice_ID        212 non-null    object
 7   Description       212 non-null    object
 8   Transaction_Date  212 non-null    object
 9   ExcesiveNA        212 non-null    object
dtypes: object(10)
memory usage: 16.7+ KB

Sample:

     Region  Product    Sales   Profit Currency Customer_ID Invoice_ID  \
32    East   Laptop  2089.77   113.74      EUR     Raymond    INV1858
64    West   Tablet  3619.89   1159.9      USD     Raymond    INV5505
192   West   Laptop  4651.55  1407.77        -   Elizabeth    INV4770
27    East  Monitor  1957.81   1436.6             Veronica    INV4898
77   South  Monitor  2376.29  1877.19  Unknown      Rachel    INV8398
43   North  Monitor   3989.3   718.87      EUR       David    INV8405
36    West  Monitor  3950.22  1376.19  Unknown       Bobby    INV2862
100   West   Laptop           1381.98      EUR     Anthony    INV1982
142  South   Laptop  3648.49   879.98  Unknown      Briana    INV7878
177   East   Tablet  3144.54               USD     Caitlyn    INV4349

               Description     Transaction_Date ExcesiveNA
32   Item 9355 - scientist  2024-08-28 00:00:00
64         Item 8404 - she  2024-10-30 00:00:00
192      Item 2502 - first  2024-10-03 00:00:00
27    Item 3754 - employee  2024-05-04 00:00:00
77     Item 6267 - finally  2024-10-14 00:00:00
43      Item 3504 - leader  2024-05-12 00:00:00
36        Item 3419 - race  2024-08-18 00:00:00
100      Item 6543 - piece  2024-11-02 00:00:00
142   Item 9843 - magazine  2024-09-22 00:00:00
177   Item 5096 - movement  2024-05-11 00:00:00

Counts NaN:

 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
ExcesiveNA          0
dtype: int64

Region:  ['North' 'East' 'South' 'West' ''] 5
Product:  ['Laptop' 'Monitor' 'Smartphone' 'Headphones' 'Tablet' 'Missing' ''] 7
Sales:  [4922.76 666.66 4507.57 1031.39 317.49 2236.68 2647.61 4051.9 3465.6
 4707.29 '' 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6 710.66
 4510.23 2584.9 3367.78 1698.3 3516.32 2816.62 1040.02 3358.15 1957.81
 3765.86 952.73 2888.62 2089.77 4185.25 1588.99 1129.9 3950.22 3072.64
 1679.02 2264.75 3410.57 2604.75 3989.3 4803.18 3706.21 3328.37 1490.55
 3352.88 3134.38 557.6 4764.8 1250.86 1621.06 4052.16 822.03 326.45
 4921.29 3095.24 3865.6 2331.54 4442.07 2920.79 3619.89 1981.49 2058.3
 823.1 3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14 3509.97
 2376.29 2831.29 4595.6 694.66 753.36 2376.75 2702.55 2838.73 1654.76
 3800.73 2268.61 4093.53 4470.9 2191.03 4543.59 2284.98 879.87 4321.33
 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3 2255.38 3596.37
 1249.02 1745.65 4475.83 494.83 839.07 1976.87 848.75 1148.37 2132.85
 1721.32 2383.03 405.1 4181.17 2008.44 3872 4735.7 195.71 4415.22 2920.88
 2437.2 4719.43 1563.2 2010.93 4469.04 4195.07 2737.28 3699.71 4019.35
 4499.28 2492.32 1437.38 2479.65 2005.4 3377.48 4010.9 3648.49 4218.48
 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7 511.34 2200.2 4347.57
 990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46 4760.9 2165.67
 4191.06 2404.5 3770.22 355.22 4764.41 1198.69 436.23 4790.7 297.26 252.05
 1311.69 4212.22 3144.54 1268.87 2420.45 660.51 4744.01 2378.67 1355.59
 1907.59 3068.87 4822.3 3619.95 3911.18 902.45 1624.09 2935.56 4651.55
 2921.4 4549.33 1939 4713.21 1071.82 3001.28 4169.8] 190
Profit:  [107.12 1242.98 253.96 1210.65 1513.82 '' 1490.57 914.83 -397.33 831.86
 1153.8 -327.61 1118.86 -468.37 550.15 725.5 583.81 405.47 1728.94 649.35
 -117.52 -59.66 804.37 1126.14 1039.78 1799.04 1436.6 662.18 1564.34
 981.19 305.76 113.74 1836.55 197.32 627.01 1376.19 924.62 1170.47 340.99
 735.77 312.54 718.87 387.06 145.88 199.15 990.39 1700.27 889.48 791.57
 -22.36 103.39 516.07 887.94 100.81 690.23 1279.61 620.44 -456.89 235.59
 511 108.26 1159.9 422.55 883.68 359.39 1991.58 875.97 379.53 634.36
 266.56 76.35 1303.21 288.87 1357.2 1877.19 1225.41 -21.15 1346.51 191.25
 973.97 1400.52 991.98 1951.28 1581.57 240.62 402.2 255.67 1270.05 -183.54
 -386.21 -363.68 230.34 1860.22 1094.67 1381.98 -243.53 -469.34 210.85
 696.79 351.76 1913.74 131.2 1654.31 -214.78 -336.64 729.37 942.55 1216.13
 -120.68 1527.86 1872.81 -287.05 120.48 895.18 540.44 990.32 1046.05
 1439.23 450.95 1771.26 243.38 971.31 572.07 921.57 -349.42 1900.27
 -251.92 1406.84 1063.79 161.62 -297.03 99.66 879.98 -108.67 521.29
 1223.43 674.78 -418.4 220.26 206.8 1649.02 -322.05 83.56 161.39 1478.12
 974.47 1509.76 -5.45 -213.06 62.02 -127.53 164.08 -144.41 -350.9 1481.57
 987.61 1560.6 1802.98 597.88 671.74 260.23 506.27 180.62 849.95 594.4
 995.09 1723.56 1336.33 1009.28 -435.34 72.31 1185.75 1651.29 967.81
 -448.14 1411.9 1553.55 940.62 1407.77 -62.02 797.41 605.57 195.39 1992.36
 589.71 1535.61] 186
Currency:  ['USD' 'Unknown' 'MXN' '' 'EUR' '-'] 6
Customer_ID:  ['Heidi' 'Joshua' 'Jennifer' 'Bobby' 'Caitlyn' 'Cristian' 'Rebecca'
 'Briana' 'Michael' 'Stephanie' 'Anthony' 'Brian' 'Barbara' 'David'
 'Elizabeth' 'Sharon' 'Matthew' 'Regina' 'Kevin' 'Christopher' 'Veronica'
 'Austin' 'Raymond' 'Nancy' 'John' 'Christine' 'Amanda' 'Ronald' 'Travis'
 'Jessica' 'Dalton' 'Jamie' 'Brandon' 'Steven' 'Candice' 'Lisa' 'Rachel'
 'Nichole' 'Daniel' 'Priscilla' 'Alex' 'Brenda' 'Madeline' 'Jacob' 'Julie'
 'Melissa' 'Savannah' 'Luis' 'Danielle' ''] 50
Invoice_ID:  ['INV8450' 'INV2501' 'INV4475' 'INV1349' 'INV1828' 'INV6464' 'INV4990'
 'INV3063' 'INV4362' 'INV2124' 'INV4394' 'INV4538' 'INV4817' 'INV6383'
 'INV3417' 'INV1046' 'INV5542' 'INV3370' 'INV3129' 'INV9850' 'INV5106'
 'INV3858' 'INV2801' 'INV1422' 'INV3159' 'INV1243' 'INV6869' 'INV4898'
 'INV6304' 'INV1258' 'INV3854' 'INV5347' 'INV1858' 'INV3076' 'INV7897'
 'INV9619' 'INV2862' 'INV2041' 'INV8802' 'INV8344' 'INV6931' 'INV9408'
 'INV2786' 'INV8405' 'INV9254' 'INV4629' 'INV1710' 'INV9543' 'INV5941'
 'INV8504' 'INV1510' 'INV1996' 'INV8847' 'INV7580' 'INV7984' 'INV2768'
 'INV9032' 'INV8267' 'INV2204' 'INV2323' 'INV6277' 'INV3430' 'INV2076'
 'INV3067' 'INV5505' 'INV9984' 'INV6327' 'INV7240' 'INV9692' 'INV5831'
 'INV8433' 'INV9282' 'INV8048' 'INV2624' 'INV2874' 'INV4522' 'INV8046'
 'INV8398' 'INV4743' 'INV7779' 'INV6553' 'INV8430' 'INV7532' 'INV7815'
 'INV2557' 'INV6120' 'INV7992' 'INV5176' 'INV7132' 'INV3500' 'INV8770'
 'INV2099' 'INV2494' 'INV2398' 'INV2527' 'INV8075' 'INV2582' 'INV7105'
 'INV3131' 'INV1982' 'INV6400' 'INV3002' 'INV7730' 'INV6793' 'INV7929'
 'INV1842' 'INV5712' 'INV6119' 'INV6761' 'INV2697' 'INV9313' 'INV4485'
 'INV3535' 'INV8900' 'INV4674' 'INV2773' 'INV6736' 'INV7022' 'INV2882'
 'INV5564' 'INV4705' 'INV8030' 'INV1430' 'INV5381' 'INV1474' 'INV3955'
 'INV5477' 'INV6062' 'INV6567' 'INV6751' 'INV1100' 'INV3972' 'INV3347'
 'INV7566' 'INV2140' 'INV3324' 'INV1502' 'INV2503' 'INV9691' 'INV4524'
 'INV7163' 'INV7878' 'INV8432' 'INV6585' 'INV3578' 'INV7062' 'INV6105'
 'INV6314' 'INV2391' 'INV1861' 'INV3549' 'INV3579' 'INV1815' 'INV2336'
 'INV5458' 'INV8259' 'INV7947' 'INV8957' 'INV8242' 'INV7785' 'INV5475'
 'INV4531' 'INV9394' 'INV2864' 'INV6655' 'INV8043' 'INV2816' 'INV5640'
 'INV8972' 'INV9633' 'INV6053' 'INV1744' 'INV4612' 'INV7475' 'INV1897'
 'INV1125' 'INV4349' 'INV5938' 'INV4460' 'INV3248' 'INV5186' 'INV5742'
 'INV6375' 'INV2965' 'INV1126' 'INV9149' 'INV8055' 'INV3878' 'INV3116'
 'INV7229' 'INV9725' 'INV4770' 'INV9196' 'INV6802' 'INV2180' 'INV7505'
 'INV1693' 'INV8147' 'INV1307' ''] 200
Description:  ['Item 8532 - drop' 'Item 2275 - move' 'Item 6129 - boy'
 'Item 8033 - major' 'Item 7626 - pull' 'Item 7843 - media'
 'Item 5743 - quickly' 'Item 2887 - others' 'Item 7636 - smile'
 'Item 1341 - through' 'Item 6321 - size' 'Item 3815 - fill'
 'Item 8538 - few' 'Item 6928 - rich' 'Item 2443 - policy'
 'Item 8155 - now' 'Item 2734 - activity' 'Item 4986 - pressure'
 'Item 8138 - class' 'Item 7560 - production' 'Item 9584 - religious'
 'Item 2288 - game' 'Item 7484 - physical' 'Item 6083 - guess'
 'Item 6562 - say' 'Item 4630 - example' 'Item 6456 - agree'
 'Item 3754 - employee' 'Item 2251 - glass' 'Item 9363 - no'
 'Item 2868 - cup' 'Item 9693 - charge' 'Item 9355 - scientist'
 'Item 4176 - recently' 'Item 6724 - style' 'Item 6752 - crime'
 'Item 3419 - race' 'Item 4871 - light' 'Item 2684 - go'
 'Item 3399 - account' 'Item 5193 - former' 'Item 4232 - summer'
 'Item 3842 - early' 'Item 3504 - leader' 'Item 2234 - forward'
 'Item 3902 - arrive' 'Item 9095 - need' 'Item 8601 - address'
 'Item 8354 - meet' 'Item 6295 - goal' 'Item 6179 - sure'
 'Item 3473 - home' 'Item 8205 - art' 'Item 2118 - material'
 'Item 8682 - choose' 'Item 8245 - hotel' 'Item 5961 - organization'
 'Item 5500 - close' 'Item 1920 - daughter' 'Item 6766 - conference'
 'Item 9312 - term' 'Item 2215 - improve' 'Item 6085 - its'
 'Item 8565 - air' 'Item 8404 - she' 'Item 1616 - personal'
 'Item 1932 - next' 'Item 7041 - team' 'Item 5703 - me'
 'Item 2257 - begin' 'Item 2479 - executive' 'Item 9307 - always'
 'Item 7299 - not' 'Item 8581 - others' 'Item 1672 - prove'
 'Item 8368 - add' 'Item 4084 - far' 'Item 6267 - finally'
 'Item 8792 - appear' 'Item 9214 - degree' 'Item 3471 - along'
 'Item 2013 - time' 'Item 8381 - knowledge' 'Item 2695 - glass'
 'Item 6626 - will' 'Item 2381 - consumer' 'Item 9266 - speak'
 'Item 3827 - read' 'Item 1641 - especially' 'Item 5059 - collection'
 'Item 8172 - give' 'Item 8199 - effect' 'Item 9586 - itself'
 'Item 9564 - safe' 'Item 3600 - so' 'Item 6962 - drive'
 'Item 7108 - security' 'Item 5634 - whatever' 'Item 7347 - exist'
 'Item 7697 - bill' 'Item 6543 - piece' 'Item 1857 - seven'
 'Item 6482 - responsibility' 'Item 2079 - hand' 'Item 6401 - party'
 'Item 2548 - least' 'Item 7333 - simply' 'Item 5655 - candidate'
 'Item 5128 - piece' 'Item 3463 - down' 'Item 6461 - wear'
 'Item 2335 - even' 'Item 3317 - thus' 'Item 6731 - quality'
 'Item 6082 - dream' 'Item 7421 - within' 'Item 3112 - art'
 'Item 2388 - visit' 'Item 6072 - natural' 'Item 7171 - win'
 'Item 6381 - kid' 'Item 3093 - speak' 'Item 9624 - despite'
 'Item 2531 - wife' 'Item 7937 - those' 'Item 9331 - win'
 'Item 6928 - wrong' 'Item 1298 - particularly' 'Item 6940 - side'
 'Item 6060 - attention' 'Item 3953 - only' 'Item 4509 - doctor'
 'Item 6598 - attack' 'Item 8967 - be' 'Item 4145 - total'
 'Item 4711 - physical' 'Item 3253 - soon' 'Item 3538 - child'
 'Item 2264 - eight' 'Item 5846 - yes' 'Item 2657 - full'
 'Item 9317 - front' 'Item 9843 - magazine' 'Item 9626 - current'
 'Item 1618 - morning' 'Item 6517 - rule' 'Item 3147 - both'
 'Item 7172 - rate' 'Item 3527 - how' 'Item 3658 - should'
 'Item 3962 - into' 'Item 3712 - region' 'Item 8170 - together'
 'Item 1715 - car' 'Item 7731 - surface' 'Item 6968 - race'
 'Item 4891 - three' 'Item 8277 - number' 'Item 5668 - past'
 'Item 8355 - month' 'Item 4833 - discussion' 'Item 9749 - get'
 'Item 4918 - grow' 'Item 6070 - receive' 'Item 8684 - investment'
 'Item 4178 - state' 'Item 7026 - win' 'Item 8218 - line'
 'Item 8564 - even' 'Item 5616 - whom' 'Item 7256 - easy'
 'Item 9239 - tough' 'Item 9641 - great' 'Item 7859 - trade'
 'Item 3655 - term' 'Item 4271 - speak' 'Item 3267 - career'
 'Item 5096 - movement' 'Item 1854 - benefit' 'Item 8873 - bed'
 'Item 7081 - people' 'Item 2680 - catch' 'Item 9452 - expert'
 'Item 3042 - garden' 'Item 5670 - fund' 'Item 2374 - end'
 'Item 3626 - PM' 'Item 5469 - agent' 'Item 8361 - over' 'Item 9410 - own'
 'Item 3414 - discover' 'Item 8167 - rest' 'Item 2502 - first'
 'Item 4637 - half' 'Item 8391 - perhaps' 'Item 6727 - word'
 'Item 1436 - civil' 'Item 7797 - general' 'Item 1872 - again'
 'Item 7495 - sound' ''] 201
Transaction_Date :  [datetime.datetime(2024, 6, 26, 0, 0)
 datetime.datetime(2024, 10, 26, 0, 0) datetime.datetime(2025, 4, 6, 0, 0)
 datetime.datetime(2024, 5, 10, 0, 0) datetime.datetime(2025, 1, 13, 0, 0)
 datetime.datetime(2025, 2, 26, 0, 0) datetime.datetime(2025, 4, 2, 0, 0)
 datetime.datetime(2025, 3, 19, 0, 0) datetime.datetime(2024, 12, 8, 0, 0)
 datetime.datetime(2024, 9, 25, 0, 0) datetime.datetime(2025, 1, 30, 0, 0)
 datetime.datetime(2024, 11, 2, 0, 0)
 datetime.datetime(2024, 11, 20, 0, 0)
 datetime.datetime(2024, 11, 17, 0, 0)
 datetime.datetime(2024, 6, 10, 0, 0) datetime.datetime(2025, 1, 21, 0, 0)
 datetime.datetime(2024, 8, 26, 0, 0) datetime.datetime(2024, 9, 8, 0, 0)
 datetime.datetime(2025, 4, 16, 0, 0) datetime.datetime(2024, 9, 28, 0, 0)
 datetime.datetime(2024, 7, 22, 0, 0) datetime.datetime(2024, 10, 5, 0, 0)
 datetime.datetime(2024, 8, 8, 0, 0) datetime.datetime(2024, 5, 20, 0, 0)
 datetime.datetime(2025, 1, 19, 0, 0) datetime.datetime(2025, 2, 16, 0, 0)
 datetime.datetime(2024, 11, 7, 0, 0) datetime.datetime(2024, 5, 4, 0, 0)
 datetime.datetime(2024, 4, 26, 0, 0) datetime.datetime(2024, 6, 11, 0, 0)
 datetime.datetime(2024, 11, 9, 0, 0) datetime.datetime(2024, 8, 28, 0, 0)
 datetime.datetime(2024, 12, 7, 0, 0) datetime.datetime(2024, 6, 9, 0, 0)
 datetime.datetime(2024, 6, 19, 0, 0) datetime.datetime(2024, 8, 18, 0, 0)
 datetime.datetime(2024, 4, 24, 0, 0) datetime.datetime(2025, 1, 5, 0, 0)
 datetime.datetime(2024, 10, 10, 0, 0)
 datetime.datetime(2024, 10, 31, 0, 0)
 datetime.datetime(2024, 12, 20, 0, 0)
 datetime.datetime(2024, 5, 12, 0, 0)
 datetime.datetime(2024, 12, 19, 0, 0) datetime.datetime(2025, 2, 8, 0, 0)
 datetime.datetime(2024, 12, 9, 0, 0)
 datetime.datetime(2024, 11, 18, 0, 0)
 datetime.datetime(2024, 7, 23, 0, 0)
 datetime.datetime(2024, 12, 21, 0, 0)
 datetime.datetime(2024, 8, 29, 0, 0) datetime.datetime(2024, 11, 4, 0, 0)
 datetime.datetime(2024, 6, 21, 0, 0) datetime.datetime(2024, 9, 22, 0, 0)
 datetime.datetime(2024, 8, 15, 0, 0) datetime.datetime(2024, 4, 29, 0, 0)
 datetime.datetime(2024, 6, 23, 0, 0) datetime.datetime(2025, 2, 20, 0, 0)
 datetime.datetime(2024, 9, 18, 0, 0) datetime.datetime(2024, 9, 9, 0, 0)
 datetime.datetime(2024, 10, 30, 0, 0)
 datetime.datetime(2025, 1, 16, 0, 0) datetime.datetime(2024, 8, 25, 0, 0)
 datetime.datetime(2024, 10, 27, 0, 0)
 datetime.datetime(2024, 6, 12, 0, 0) datetime.datetime(2024, 12, 6, 0, 0)
 datetime.datetime(2024, 7, 20, 0, 0) datetime.datetime(2024, 6, 17, 0, 0)
 datetime.datetime(2024, 11, 16, 0, 0)
 datetime.datetime(2025, 2, 13, 0, 0)
 datetime.datetime(2024, 10, 14, 0, 0)
 datetime.datetime(2024, 5, 16, 0, 0) datetime.datetime(2024, 11, 5, 0, 0)
 datetime.datetime(2025, 2, 24, 0, 0) datetime.datetime(2024, 12, 5, 0, 0)
 datetime.datetime(2024, 8, 6, 0, 0) datetime.datetime(2024, 12, 10, 0, 0)
 datetime.datetime(2024, 7, 31, 0, 0) datetime.datetime(2025, 1, 18, 0, 0)
 datetime.datetime(2024, 10, 21, 0, 0)
 datetime.datetime(2024, 7, 13, 0, 0)
 datetime.datetime(2024, 11, 26, 0, 0) datetime.datetime(2024, 7, 3, 0, 0)
 datetime.datetime(2024, 9, 2, 0, 0) datetime.datetime(2024, 5, 18, 0, 0)
 datetime.datetime(2025, 3, 20, 0, 0) datetime.datetime(2025, 2, 1, 0, 0)
 datetime.datetime(2025, 1, 1, 0, 0) datetime.datetime(2025, 1, 6, 0, 0)
 datetime.datetime(2025, 4, 1, 0, 0) datetime.datetime(2024, 5, 5, 0, 0)
 datetime.datetime(2025, 1, 2, 0, 0) datetime.datetime(2024, 6, 1, 0, 0)
 datetime.datetime(2025, 3, 2, 0, 0) datetime.datetime(2024, 4, 25, 0, 0)
 datetime.datetime(2024, 11, 13, 0, 0)
 datetime.datetime(2024, 7, 11, 0, 0) datetime.datetime(2025, 3, 31, 0, 0)
 datetime.datetime(2025, 4, 8, 0, 0) datetime.datetime(2025, 4, 18, 0, 0)
 datetime.datetime(2024, 8, 30, 0, 0) datetime.datetime(2024, 7, 29, 0, 0)
 datetime.datetime(2025, 3, 8, 0, 0) datetime.datetime(2024, 5, 27, 0, 0)
 datetime.datetime(2025, 4, 21, 0, 0) datetime.datetime(2025, 3, 11, 0, 0)
 datetime.datetime(2025, 3, 30, 0, 0) datetime.datetime(2024, 6, 27, 0, 0)
 datetime.datetime(2025, 3, 14, 0, 0) datetime.datetime(2025, 4, 7, 0, 0)
 datetime.datetime(2024, 7, 19, 0, 0)
 datetime.datetime(2024, 10, 29, 0, 0)
 datetime.datetime(2024, 12, 3, 0, 0) datetime.datetime(2024, 10, 7, 0, 0)
 datetime.datetime(2025, 4, 15, 0, 0) datetime.datetime(2024, 9, 16, 0, 0)
 datetime.datetime(2025, 4, 11, 0, 0) datetime.datetime(2025, 1, 23, 0, 0)
 datetime.datetime(2024, 12, 15, 0, 0)
 datetime.datetime(2024, 4, 27, 0, 0) datetime.datetime(2025, 2, 5, 0, 0)
 datetime.datetime(2024, 5, 24, 0, 0)
 datetime.datetime(2024, 11, 29, 0, 0)
 datetime.datetime(2024, 7, 12, 0, 0) datetime.datetime(2025, 3, 13, 0, 0)
 datetime.datetime(2024, 6, 22, 0, 0) datetime.datetime(2024, 6, 6, 0, 0)
 datetime.datetime(2024, 10, 8, 0, 0)
 datetime.datetime(2024, 11, 22, 0, 0)
 datetime.datetime(2025, 2, 17, 0, 0)
 datetime.datetime(2024, 11, 28, 0, 0) datetime.datetime(2025, 3, 5, 0, 0)
 datetime.datetime(2025, 1, 20, 0, 0) datetime.datetime(2024, 6, 4, 0, 0)
 datetime.datetime(2024, 12, 12, 0, 0)
 datetime.datetime(2024, 9, 19, 0, 0) datetime.datetime(2024, 5, 11, 0, 0)
 datetime.datetime(2024, 8, 20, 0, 0) datetime.datetime(2024, 8, 14, 0, 0)
 datetime.datetime(2025, 2, 25, 0, 0) datetime.datetime(2025, 1, 10, 0, 0)
 datetime.datetime(2024, 5, 29, 0, 0) datetime.datetime(2024, 7, 8, 0, 0)
 datetime.datetime(2024, 9, 10, 0, 0)
 datetime.datetime(2024, 10, 20, 0, 0)
 datetime.datetime(2024, 10, 3, 0, 0) datetime.datetime(2024, 9, 26, 0, 0)
 datetime.datetime(2025, 3, 21, 0, 0) datetime.datetime(2024, 9, 4, 0, 0)
 datetime.datetime(2024, 5, 17, 0, 0) ''] 149




Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
ExcesiveNA           object
dtype: object

Counts NaN:

 Region                3
Product               3
Sales                15
Profit               19
Currency             68
Customer_ID           3
Invoice_ID            3
Description           3
Transaction_Date      3
ExcesiveNA          202
dtype: int64

Region:  ['North' 'East' 'South' 'West' <NA>] 4
Product:  ['Laptop' 'Monitor' 'Smartphone' 'Headphones' 'Tablet' 'Missing' <NA>] 6
Sales:  [4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29     nan 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 2816.62 1040.02 3358.15
 1957.81 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22
 3072.64 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37
 1490.55 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03
  326.45 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49
 2058.3   823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14
 3509.97 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73
 1654.76 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87
 4321.33 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38
 3596.37 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37
 2132.85 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71
 4415.22 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28
 3699.71 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9
 3648.49 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34
 2200.2  4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46
 4760.9  2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23
 4790.7   297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51
 4744.01 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45
 1624.09 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28
 4169.8 ] 189
Profit:  [ 107.12 1242.98  253.96 1210.65 1513.82     nan 1490.57  914.83 -397.33

##### __Note__

By default (keep_default_na=True), Pandas automatically interprets certain strings as equivalent to NaN, such as:
"NA", "N/A", "na", "#N/A", "" (empty string), among others.

When you use keep_default_na=False, Pandas does NOT automatically convert these strings to NaN.

‚úÖ pd.NA

This is the "native missing" value in Pandas (since version 1.0), and it consistently represents a missing value for both numeric, text, and mixed columns.

‚úÖ Recommended instead of using np.nan directly, as pd.NA handles mixed data types and operations like .isna() better.

Feature - np.nan - None - pd.NA

Works on strings - ‚ùå - ‚úÖ - ‚úÖ

Works on integers - ‚ùå (loses type) - ‚ùå - ‚úÖ (with Int64Dtype)

Boolean operations - May fail - May fail - ‚úÖ 3-way logic

Unified standard - ‚ùå - ‚ùå - ‚úÖ

##### _Diagnosis: Sales is of object type, not float64_
This confirms that even though you used:

_df = pd.read_csv("DataSets/dummy_data.csv", sep=';', decimal=',', keep_default_na=False)_

The Sales column was not parsed as a float, but rather as object ‚Äî meaning its values are stored as strings like "4922,76", not as numbers like 4922.76.

This usually happens because:

The commas (,) are preserved as decimal separators (text),

And Pandas couldn‚Äôt infer the column as numeric because keep_default_na=False disables its normal type guessing for things like "N/A", "", etc.

dtype is object and not float64.

##### ‚úÖ _Remove Empty Rows_

- Drop rows __where all values are missing__.

In [5]:
print(df_csv.tail(10))
print()
df_csv = df_csv.dropna(how='all')
print(df_csv.tail(10))

    Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
202   West  Headphones  3465.60  1860.22      EUR      Travis    INV7105
203   West      Tablet   710.66      NaN     <NA>     Raymond    INV8147
204   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
205   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
206   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
207  North      Tablet  1272.30   210.85  Unknown      Dalton    INV7730
208   East     Monitor  4185.25  1836.55     <NA>      Joshua    INV3076
209   West      Tablet  1268.87   594.40  Unknown       Heidi    INV5938
210  North      Tablet  1071.82  1992.36      EUR      Travis    INV1693
211  North  Smartphone  1311.69   180.62     <NA>      Rachel    INV1897

              Description     Transaction_Date ExcesiveNA
202     Item 7636 - smile  2024-09-04 00:00:00  Not empty
203     Item 8138 - class  2025-01-06 00:00:00  Not empty
204                  <NA>                 <NA>       <NA>
205                  <NA>                 <NA>       <NA>
206                  <NA>                 <NA>       <NA>
207      Item 2079 - hand           2024-11-02       <NA>
208  Item 4176 - recently           2024-12-07       <NA>
209   Item 1854 - benefit           2024-08-20       <NA>
210   Item 7797 - general           2024-06-04       <NA>
211     Item 4271 - speak           2024-09-19       <NA>

    Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
199  North     Monitor  4169.80  1535.61      USD    Savannah    INV1307
200   West      Tablet      NaN   405.47  Unknown      Briana    INV4362
201  North  Headphones  3001.28   589.71      EUR    Jennifer    INV3129
202   West  Headphones  3465.60  1860.22      EUR      Travis    INV7105
203   West      Tablet   710.66      NaN     <NA>     Raymond    INV8147
207  North      Tablet  1272.30   210.85  Unknown      Dalton    INV7730
208   East     Monitor  4185.25  1836.55     <NA>      Joshua    INV3076
209   West      Tablet  1268.87   594.40  Unknown       Heidi    INV5938
210  North      Tablet  1071.82  1992.36      EUR      Travis    INV1693
211  North  Smartphone  1311.69   180.62     <NA>      Rachel    INV1897

              Description     Transaction_Date ExcesiveNA
199     Item 7495 - sound           2024-05-17       <NA>
200     Item 7347 - exist  2025-04-16 00:00:00         \t
201     Item 1872 - again  2024-12-08 00:00:00         \t
202     Item 7636 - smile  2024-09-04 00:00:00  Not empty
203     Item 8138 - class  2025-01-06 00:00:00  Not empty
207      Item 2079 - hand           2024-11-02       <NA>
208  Item 4176 - recently           2024-12-07       <NA>
209   Item 1854 - benefit           2024-08-20       <NA>
210   Item 7797 - general           2024-06-04       <NA>
211     Item 4271 - speak           2024-09-19       <NA>

In [6]:
print(df_xls.tail(10))
print()
df_xls = df_xls.dropna(how='all')
print(df_xls.tail(10))

    Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
202   West  Headphones  3465.60  1860.22      EUR      Travis    INV7105
203   West      Tablet   710.66      NaN     <NA>     Raymond    INV8147
204   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
205   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
206   <NA>        <NA>      NaN      NaN     <NA>        <NA>       <NA>
207  North      Tablet  1272.30   210.85  Unknown      Dalton    INV7730
208   East     Monitor  4185.25  1836.55     <NA>      Joshua    INV3076
209   West      Tablet  1268.87   594.40  Unknown       Heidi    INV5938
210  North      Tablet  1071.82  1992.36      EUR      Travis    INV1693
211  North  Smartphone  1311.69   180.62     <NA>      Rachel    INV1897

              Description     Transaction_Date ExcesiveNA
202     Item 7636 - smile  2024-09-04 00:00:00  Not empty
203     Item 8138 - class  2025-01-06 00:00:00  Not empty
204                  <NA>                 <NA>       <NA>
205                  <NA>                 <NA>       <NA>
206                  <NA>                 <NA>       <NA>
207      Item 2079 - hand  2024-11-02 00:00:00       <NA>
208  Item 4176 - recently  2024-12-07 00:00:00       <NA>
209   Item 1854 - benefit  2024-08-20 00:00:00       <NA>
210   Item 7797 - general  2024-06-04 00:00:00       <NA>
211     Item 4271 - speak  2024-09-19 00:00:00       <NA>

    Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
199  North     Monitor  4169.80  1535.61      USD    Savannah    INV1307
200   West      Tablet      NaN   405.47  Unknown      Briana    INV4362
201  North  Headphones  3001.28   589.71      EUR    Jennifer    INV3129
202   West  Headphones  3465.60  1860.22      EUR      Travis    INV7105
203   West      Tablet   710.66      NaN     <NA>     Raymond    INV8147
207  North      Tablet  1272.30   210.85  Unknown      Dalton    INV7730
208   East     Monitor  4185.25  1836.55     <NA>      Joshua    INV3076
209   West      Tablet  1268.87   594.40  Unknown       Heidi    INV5938
210  North      Tablet  1071.82  1992.36      EUR      Travis    INV1693
211  North  Smartphone  1311.69   180.62     <NA>      Rachel    INV1897

              Description     Transaction_Date ExcesiveNA
199     Item 7495 - sound  2024-05-17 00:00:00       <NA>
200     Item 7347 - exist  2025-04-16 00:00:00       <NA>
201     Item 1872 - again  2024-12-08 00:00:00       <NA>
202     Item 7636 - smile  2024-09-04 00:00:00  Not empty
203     Item 8138 - class  2025-01-06 00:00:00  Not empty
207      Item 2079 - hand  2024-11-02 00:00:00       <NA>
208  Item 4176 - recently  2024-12-07 00:00:00       <NA>
209   Item 1854 - benefit  2024-08-20 00:00:00       <NA>
210   Item 7797 - general  2024-06-04 00:00:00       <NA>
211     Item 4271 - speak  2024-09-19 00:00:00       <NA>

##### ‚úÖ _Fill Missing Sales Values_

- Replace all missing values in the Sales column with the median of existing sales.

In [9]:
df_csv["Sales"] = df_csv["Sales"].fillna(df_csv["Sales"].median())
print("Valores nulos despu√©s:", df_csv['Sales'].isna().sum())

Valores nulos despu√©s: 0

In [8]:
df_xls["Sales"] = df_xls["Sales"].fillna(df_xls["Sales"].median())
print("Valores nulos despu√©s:", df_xls['Sales'].isna().sum())

Valores nulos despu√©s: 0

##### ‚úÖ _Drop Columns with Excessive Missing Data_

- Drop any column with more than 60% missing values.

In [10]:
print("Columns before: ", df_csv.dtypes)
df_csv = df_csv.dropna(axis='columns', thresh=(len(df_csv) * 0.4))
print()
print("Columns after: ", df_csv.dtypes)

Columns before:  Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
ExcesiveNA           object
dtype: object

Columns after:  Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
dtype: object

In [11]:
print("Columns before: ", df_xls.dtypes)
df_xls = df_xls.dropna(axis='columns', thresh=(len(df_xls) * 0.4))
print()
print("Columns after: ", df_xls.dtypes)

Columns before:  Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
ExcesiveNA           object
dtype: object

Columns after:  Region               object
Product              object
Sales               float64
Profit              float64
Currency             object
Customer_ID          object
Invoice_ID           object
Description          object
Transaction_Date     object
dtype: object

##### ‚úÖ Check and Drop Duplicates

- Identify and drop fully duplicated rows.

In [12]:
print("DataFrame before deleting explicit duplicate rows: ", df_csv.index)

df_csv = df_csv.drop_duplicates().reset_index(drop=True)

print("DataFrame after deleting explicit duplicate rows: ", df_csv.index)

DataFrame before deleting explicit duplicate rows:  Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       199, 200, 201, 202, 203, 207, 208, 209, 210, 211],
      dtype='int64', length=209)
DataFrame after deleting explicit duplicate rows:  RangeIndex(start=0, stop=204, step=1)

In [13]:
print("DataFrame before deleting explicit duplicate rows: ", df_xls.index)

df_xls = df_xls.drop_duplicates().reset_index(drop=True)

print("DataFrame after deleting explicit duplicate rows: ", df_xls.index)

DataFrame before deleting explicit duplicate rows:  Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       199, 200, 201, 202, 203, 207, 208, 209, 210, 211],
      dtype='int64', length=209)
DataFrame after deleting explicit duplicate rows:  RangeIndex(start=0, stop=204, step=1)

##### ‚úÖ _Drop Partial Duplicates_

- Drop duplicates only considering the columns ['Customer_ID', 'Invoice_ID'].

In [14]:
df_cid_dups = df_csv.duplicated(subset=['Customer_ID', 'Invoice_ID'])
print("Customer_ID & Invoice_ID duplicates found:", df_cid_dups.sum())
print()
df_csv = df_csv.drop_duplicates(subset=["Customer_ID", "Invoice_ID"]).reset_index(drop=True)
print("Customer_ID & Invoice_ID duplicates found:", df_csv.duplicated(subset=['Customer_ID', 'Invoice_ID']).any())

Customer_ID & Invoice_ID duplicates found: 4

Customer_ID & Invoice_ID duplicates found: False

In [15]:
df_cid_dupx = df_xls.duplicated(subset=['Customer_ID', 'Invoice_ID'])
print("Customer_ID & Invoice_ID duplicates found:", df_cid_dupx.sum())
print()
df_xls = df_xls.drop_duplicates(subset=["Customer_ID", "Invoice_ID"]).reset_index(drop=True)
print("Customer_ID & Invoice_ID duplicates found:", df_xls.duplicated(subset=['Customer_ID', 'Invoice_ID']).any())

Customer_ID & Invoice_ID duplicates found: 4

Customer_ID & Invoice_ID duplicates found: False

##### __Note__

‚úÖ By default, .drop_duplicates() keeps the first occurrence and removes all others.
Here‚Äôs the official behavior:

_df.drop_duplicates(subset=None, keep='first', inplace=False)_

subset=None ‚Üí uses all columns unless you specify a subset.

keep='first' ‚Üí keeps the first duplicated row it finds and drops the rest.

Other options:

- keep='last' ‚Üí keeps the last occurrence instead.

- keep=False ‚Üí drops all duplicates, even the first.

##### ‚úÖ _Custom Null Markers_

- Read a file where empty cells are marked as "Unknown", "NA", or "Missing".

In [ ]:
null_markers = ["Unknown", "NA", "Missing", "-", ""]

itr = 0

print("Null Markers amount: \n", df_csv[df_csv.isin(null_markers)].count())
print()
    
for marker in null_markers:
    
    print(f"***{marker}*** marker amount: \n", df_csv[df_csv.isin([null_markers[itr]])].count())
    print()
    itr += 1

Null Markers amount:
 Region               0
Product              8
Sales                0
Profit               0
Currency            44
Customer_ID          0
Invoice_ID           0
Description          0
Transaction_Date     0
dtype: int64

***Unknown*** marker amount:
 Region               0
Product              0
Sales                0
Profit               0
Currency            44
Customer_ID          0
Invoice_ID           0
Description          0
Transaction_Date     0
dtype: int64

***NA*** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

***Missing*** marker amount:
 Region              0
Product             8
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

***-*** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

****** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

In [18]:
nll_mrkr = ["Unknown", "NA", "Missing", "-", ""]

itr = 0

print("Null Markers amount: \n", df_xls[df_xls.isin(nll_mrkr)].count())
print()
    
for mrkr in nll_mrkr:
    
    print(f"***{mrkr}*** marker amount: \n", df_xls[df_xls.isin([nll_mrkr[itr]])].count())
    print()
    itr += 1

Null Markers amount:
 Region               0
Product              8
Sales                0
Profit               0
Currency            44
Customer_ID          0
Invoice_ID           0
Description          0
Transaction_Date     0
dtype: int64

***Unknown*** marker amount:
 Region               0
Product              0
Sales                0
Profit               0
Currency            44
Customer_ID          0
Invoice_ID           0
Description          0
Transaction_Date     0
dtype: int64

***NA*** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

***Missing*** marker amount:
 Region              0
Product             8
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

***-*** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

****** marker amount:
 Region              0
Product             0
Sales               0
Profit              0
Currency            0
Customer_ID         0
Invoice_ID          0
Description         0
Transaction_Date    0
dtype: int64

##### ‚úÖ _Validate Column Uniqueness_

Use .nunique() and .duplicated() to validate if a supposed ID column is truly unique.

- Use .nunique() to check how many unique values exist in the Invoice_ID column.

- Use .duplicated() to identify any duplicated values.

- If there are duplicates, display them for review.

In [23]:
print(f"Unique values in Invoice_ID: {df_csv["Invoice_ID"].nunique()} out of {len(df_csv)}\n")
print(df_csv["Invoice_ID"].unique())
print()
print("duplicated values in DataFrame: ", df_csv["Invoice_ID"].duplicated().sum())
print()
if df_csv["Invoice_ID"].duplicated().any():
    df_dups = df_csv[df_csv['Invoice_ID'].duplicated(keep=False)].sort_values('Invoice_ID')
    print(df_dups)
else:
    print("All Invoice_IDs are unique ‚úÖ")

Unique values in Invoice_ID: 199 out of 200

['INV8450' 'INV2501' 'INV4475' 'INV1349' 'INV1828' 'INV6464' 'INV4990'
 'INV3063' 'INV4362' 'INV2124' 'INV4394' 'INV4538' 'INV4817' 'INV6383'
 'INV3417' 'INV1046' 'INV5542' 'INV3370' 'INV3129' 'INV9850' 'INV5106'
 'INV3858' 'INV2801' 'INV1422' 'INV3159' 'INV1243' 'INV6869' 'INV4898'
 'INV6304' 'INV1258' 'INV3854' 'INV5347' 'INV1858' 'INV3076' 'INV7897'
 'INV9619' 'INV2862' 'INV2041' 'INV8802' 'INV8344' 'INV6931' 'INV9408'
 'INV2786' 'INV8405' 'INV9254' 'INV4629' 'INV1710' 'INV9543' 'INV5941'
 'INV8504' 'INV1510' 'INV1996' 'INV8847' 'INV7580' 'INV7984' 'INV2768'
 'INV9032' 'INV8267' 'INV2204' 'INV2323' 'INV6277' 'INV3430' 'INV2076'
 'INV3067' 'INV5505' 'INV9984' 'INV6327' 'INV7240' 'INV9692' 'INV5831'
 'INV8433' 'INV9282' 'INV8048' 'INV2624' 'INV2874' 'INV4522' 'INV8046'
 'INV8398' 'INV4743' 'INV7779' 'INV6553' 'INV8430' 'INV7532' 'INV7815'
 'INV2557' 'INV6120' 'INV7992' 'INV5176' 'INV7132' 'INV3500' 'INV8770'
 'INV2099' 'INV2494' 'INV2398' 'INV2527' 'INV8075' 'INV2582' 'INV7105'
 'INV3131' 'INV1982' 'INV6400' 'INV3002' 'INV7730' 'INV6793' 'INV7929'
 'INV1842' 'INV5712' 'INV6119' 'INV6761' 'INV2697' 'INV9313' 'INV4485'
 'INV3535' 'INV8900' 'INV4674' 'INV2773' 'INV6736' 'INV7022' 'INV2882'
 'INV5564' 'INV4705' 'INV8030' 'INV1430' 'INV5381' 'INV1474' 'INV3955'
 'INV5477' 'INV6062' 'INV6567' 'INV6751' 'INV1100' 'INV3972' 'INV3347'
 'INV7566' 'INV2140' 'INV3324' 'INV1502' 'INV2503' 'INV9691' 'INV4524'
 'INV7163' 'INV7878' 'INV8432' 'INV6585' 'INV3578' 'INV7062' 'INV6105'
 'INV6314' 'INV2391' 'INV1861' 'INV3549' 'INV3579' 'INV1815' 'INV2336'
 'INV5458' 'INV8259' 'INV7947' 'INV8957' 'INV8242' 'INV7785' 'INV5475'
 'INV4531' 'INV9394' 'INV2864' 'INV6655' 'INV8043' 'INV2816' 'INV5640'
 'INV8972' 'INV9633' 'INV6053' 'INV1744' 'INV4612' 'INV7475' 'INV1897'
 'INV1125' 'INV4349' 'INV5938' 'INV4460' 'INV3248' 'INV5186' 'INV5742'
 'INV6375' 'INV2965' 'INV1126' 'INV9149' 'INV8055' 'INV3878' 'INV3116'
 'INV7229' 'INV9725' 'INV4770' 'INV9196' 'INV6802' 'INV2180' 'INV7505'
 'INV1693' 'INV8147' 'INV1307']

duplicated values in DataFrame:  1

   Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
85   East      Tablet  1654.76      NaN      EUR        Lisa    INV6120
87   West  Smartphone  2268.61  1581.57      MXN       David    INV6120

             Description Transaction_Date
85  Item 2381 - consumer       2025-01-18
87      Item 3827 - read       2024-07-13

In [24]:
print(f"Unique values in Invoice_ID: {df_xls["Invoice_ID"].nunique()} out of {len(df_xls)}\n")
print(df_xls["Invoice_ID"].unique())
print()
print("duplicated values in DataFrame: ", df_xls["Invoice_ID"].duplicated().sum())
print()
if df_xls["Invoice_ID"].duplicated().any():
    df_dupx = df_xls[df_xls['Invoice_ID'].duplicated(keep=False)].sort_values('Invoice_ID')
    print(df_dupx)
else:
    print("All Invoice_IDs are unique ‚úÖ")

Unique values in Invoice_ID: 199 out of 200

['INV8450' 'INV2501' 'INV4475' 'INV1349' 'INV1828' 'INV6464' 'INV4990'
 'INV3063' 'INV4362' 'INV2124' 'INV4394' 'INV4538' 'INV4817' 'INV6383'
 'INV3417' 'INV1046' 'INV5542' 'INV3370' 'INV3129' 'INV9850' 'INV5106'
 'INV3858' 'INV2801' 'INV1422' 'INV3159' 'INV1243' 'INV6869' 'INV4898'
 'INV6304' 'INV1258' 'INV3854' 'INV5347' 'INV1858' 'INV3076' 'INV7897'
 'INV9619' 'INV2862' 'INV2041' 'INV8802' 'INV8344' 'INV6931' 'INV9408'
 'INV2786' 'INV8405' 'INV9254' 'INV4629' 'INV1710' 'INV9543' 'INV5941'
 'INV8504' 'INV1510' 'INV1996' 'INV8847' 'INV7580' 'INV7984' 'INV2768'
 'INV9032' 'INV8267' 'INV2204' 'INV2323' 'INV6277' 'INV3430' 'INV2076'
 'INV3067' 'INV5505' 'INV9984' 'INV6327' 'INV7240' 'INV9692' 'INV5831'
 'INV8433' 'INV9282' 'INV8048' 'INV2624' 'INV2874' 'INV4522' 'INV8046'
 'INV8398' 'INV4743' 'INV7779' 'INV6553' 'INV8430' 'INV7532' 'INV7815'
 'INV2557' 'INV6120' 'INV7992' 'INV5176' 'INV7132' 'INV3500' 'INV8770'
 'INV2099' 'INV2494' 'INV2398' 'INV2527' 'INV8075' 'INV2582' 'INV7105'
 'INV3131' 'INV1982' 'INV6400' 'INV3002' 'INV7730' 'INV6793' 'INV7929'
 'INV1842' 'INV5712' 'INV6119' 'INV6761' 'INV2697' 'INV9313' 'INV4485'
 'INV3535' 'INV8900' 'INV4674' 'INV2773' 'INV6736' 'INV7022' 'INV2882'
 'INV5564' 'INV4705' 'INV8030' 'INV1430' 'INV5381' 'INV1474' 'INV3955'
 'INV5477' 'INV6062' 'INV6567' 'INV6751' 'INV1100' 'INV3972' 'INV3347'
 'INV7566' 'INV2140' 'INV3324' 'INV1502' 'INV2503' 'INV9691' 'INV4524'
 'INV7163' 'INV7878' 'INV8432' 'INV6585' 'INV3578' 'INV7062' 'INV6105'
 'INV6314' 'INV2391' 'INV1861' 'INV3549' 'INV3579' 'INV1815' 'INV2336'
 'INV5458' 'INV8259' 'INV7947' 'INV8957' 'INV8242' 'INV7785' 'INV5475'
 'INV4531' 'INV9394' 'INV2864' 'INV6655' 'INV8043' 'INV2816' 'INV5640'
 'INV8972' 'INV9633' 'INV6053' 'INV1744' 'INV4612' 'INV7475' 'INV1897'
 'INV1125' 'INV4349' 'INV5938' 'INV4460' 'INV3248' 'INV5186' 'INV5742'
 'INV6375' 'INV2965' 'INV1126' 'INV9149' 'INV8055' 'INV3878' 'INV3116'
 'INV7229' 'INV9725' 'INV4770' 'INV9196' 'INV6802' 'INV2180' 'INV7505'
 'INV1693' 'INV8147' 'INV1307']

duplicated values in DataFrame:  1

   Region     Product    Sales   Profit Currency Customer_ID Invoice_ID  \
85   East      Tablet  1654.76      NaN      EUR        Lisa    INV6120
87   West  Smartphone  2268.61  1581.57      MXN       David    INV6120

             Description     Transaction_Date
85  Item 2381 - consumer  2025-01-18 00:00:00
87      Item 3827 - read  2024-07-13 00:00:00

#### üìä __Analysis and Aggregation__

##### ‚úÖ _Frequency Analysis_

Use .value_counts() to find the most common product sold per region.

In [56]:
df_prod_count_region = df_csv.groupby("Region")["Product"].value_counts()

print("* Products sold per region: \n\n", df_prod_count_region)
print()

df_max_region = df_prod_count_region.groupby(level=0).transform('max')
df_most_sold = df_prod_count_region[df_prod_count_region == df_max_region]

print("* Product most sold per region: \n\n", df_most_sold)

* Products sold per region:

 Region  Product
East    Laptop         9
        Monitor        9
        Tablet         9
        Smartphone     8
        Headphones     6
        Missing        2
North   Laptop        15
        Monitor       14
        Tablet        10
        Smartphone     8
        Headphones     7
        Missing        2
South   Smartphone    17
        Laptop        14
        Tablet        10
        Headphones     8
        Monitor        6
        Missing        2
West    Tablet        13
        Headphones     8
        Laptop         7
        Monitor        7
        Smartphone     7
        Missing        2
Name: count, dtype: int64

* Product most sold per region:

 Region  Product
East    Laptop         9
        Monitor        9
        Tablet         9
North   Laptop        15
South   Smartphone    17
West    Tablet        13
Name: count, dtype: int64

In [57]:
df_prd_cnt_rgn = df_xls.groupby("Region")["Product"].value_counts()

print("* Products sold per region: \n\n", df_prd_cnt_rgn)
print()

df_mx_rgn = df_prd_cnt_rgn.groupby(level=0).transform('max')
df_mst_sld = df_prd_cnt_rgn[df_prd_cnt_rgn == df_mx_rgn]

print("* Product most sold per region: \n\n", df_most_sold)

* Products sold per region:

 Region  Product
East    Laptop         9
        Monitor        9
        Tablet         9
        Smartphone     8
        Headphones     6
        Missing        2
North   Laptop        15
        Monitor       14
        Tablet        10
        Smartphone     8
        Headphones     7
        Missing        2
South   Smartphone    17
        Laptop        14
        Tablet        10
        Headphones     8
        Monitor        6
        Missing        2
West    Tablet        13
        Headphones     8
        Laptop         7
        Monitor        7
        Smartphone     7
        Missing        2
Name: count, dtype: int64

* Product most sold per region:

 Region  Product
East    Laptop         9
        Monitor        9
        Tablet         9
North   Laptop        15
South   Smartphone    17
West    Tablet        13
Name: count, dtype: int64

##### __Note__

‚úÖ value_counts() doesn't return a DataFrame, it returns a Series with a MultiIndex (Region, Product).

This is a Series where:

- The index is two levels: Region and Product ‚Üí that's a MultiIndex.

- The values are the counts.

So:

You don‚Äôt get column names like in a DataFrame,

You just get Region + Product as index, and a single numeric column (count) as values.

‚úÖ transform() preserves shape, so you can compare it element-wise.

- level=0 ‚Üí means you're grouping by the first level of the index, which is Region.

- transform("max") ‚Üí gives you the max value for each Region, and repeats it for every row in that group.
This is key because now you can compare each row to the max in its group:

##### ‚úÖ _Group Aggregation by Region_

Group by "Region" and compute:

- Total Sales

- Mean Profit

- Max Sales

In [80]:
print(df_csv["Currency"].unique())
df_csv["Currency"] = df_csv["Currency"].fillna("Unknown")
print(df_csv["Currency"].unique())
print()
print(df_csv["Sales"].unique())
df_csv["Sales"] = df_csv["Sales"].fillna(0)
print(df_csv["Sales"].unique())
print()
print(df_csv["Profit"].unique())
df_csv["Profit"] = df_csv["Profit"].fillna(0)
print(df_csv["Profit"].unique())
print()

print("Sales per region per currency: ", df_csv.groupby(["Region","Currency"])["Sales"].sum())
print()
print(f"Amount of Unknown sales: {df_csv.loc[df_csv['Currency'] == 'Unknown', 'Sales'].count()}")
print(f"Total Unknown sales: {df_csv.loc[df_csv['Currency'] == 'Unknown', 'Sales'].sum():,.2f}")
print(f"Mean Unknown profit: {df_csv.loc[df_csv['Currency'] == 'Unknown', 'Profit'].mean():,.2f}")
print(f"Max Unknown sales: {df_csv.loc[df_csv['Currency'] == 'Unknown', 'Sales'].max()}")
print()
print(f"Amount of EUR sales: {df_csv.loc[df_csv['Currency'] == 'EUR', 'Sales'].count()}")
print(f"Total EUR sales: ‚Ç¨ {df_csv.loc[df_csv['Currency'] == 'EUR', 'Sales'].sum():,.2f}")
print(f"Mean EUR profit: ‚Ç¨ {df_csv.loc[df_csv['Currency'] == 'EUR', 'Profit'].mean():,.2f}")
print(f"Max EUR sales: ‚Ç¨ {df_csv.loc[df_csv['Currency'] == 'EUR', 'Sales'].max()}")
print()
print(f"Amount of DLR sales: {df_csv.loc[df_csv['Currency'] == 'USD', 'Sales'].count()}")
print(f"Total DLR sales: $ {df_csv.loc[df_csv['Currency'] == 'USD', 'Sales'].sum():,.2f}")
print(f"Mean DLR profit: $ {df_csv.loc[df_csv['Currency'] == 'USD', 'Profit'].mean():,.2f}")
print(f"Max DLR sales: $ {df_csv.loc[df_csv['Currency'] == 'USD', 'Sales'].max()}")
print()
print(f"Amount of MXN sales: {df_csv.loc[df_csv['Currency'] == 'MXN', 'Sales'].count()}")
print(f"Total MXN sales: $ {df_csv.loc[df_csv['Currency'] == 'MXN', 'Sales'].sum():,.2f}")
print(f"Mean MXN profit: $ {df_csv.loc[df_csv['Currency'] == 'MXN', 'Profit'].mean():,.2f}")
print(f"Max MXN sales: $ {df_csv.loc[df_csv['Currency'] == 'MXN', 'Sales'].max()}")

['USD' 'Unknown' 'MXN' 'EUR']
['USD' 'Unknown' 'MXN' 'EUR']

[4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29 2816.62 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 1040.02 3358.15 1957.81
 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22 3072.64
 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37 1490.55
 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03  326.45
 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49 2058.3
  823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14 3509.97
 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73 1654.76
 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87 4321.33
 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38 3596.37
 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37 2132.85
 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71 4415.22
 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28 3699.71
 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9  3648.49
 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34 2200.2
 4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46 4760.9
 2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23 4790.7
  297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51 4744.01
 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45 1624.09
 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28 4169.8 ]
[4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29 2816.62 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 1040.02 3358.15 1957.81
 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22 3072.64
 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37 1490.55
 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03  326.45
 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49 2058.3
  823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14 3509.97
 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73 1654.76
 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87 4321.33
 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38 3596.37
 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37 2132.85
 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71 4415.22
 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28 3699.71
 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9  3648.49
 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34 2200.2
 4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46 4760.9
 2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23 4790.7
  297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51 4744.01
 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45 1624.09
 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28 4169.8 ]

[ 107.12 1242.98  253.96 1210.65 1513.82    0.   1490.57  914.83 -397.33
  831.86 1153.8  -327.61 1118.86 -468.37  550.15  725.5   583.81  405.47
 1728.94  649.35 -117.52  -59.66  804.37 1126.14 1039.78 1799.04 1436.6
  662.18 1564.34  981.19  305.76  113.74 1836.55  197.32  627.01 1376.19
  924.62 1170.47  340.99  735.77  312.54  718.87  387.06  145.88  199.15
  990.39 1700.27  889.48  791.57  -22.36  103.39  516.07  887.94  100.81
  690.23 1279.61  620.44 -456.89  235.59  511.    108.26 1159.9   422.55
  883.68  359.39 1991.58  875.97  379.53  634.36  266.56   76.35 1303.21
  288.87 1357.2  1877.19 1225.41  -21.15 1346.51  191.25  973.97 1400.52
  991.98 1951.28 1581.57  240.62  402.2   255.67 1270.05 -183.54 -386.21
 -363.68  230.34 1860.22 1094.67 1381.98 -243.53 -469.34  210.85  696.79
  351.76 1913.74  131.2  1654.31 -214.78 -336.64  729.37  942.55 1216.13
 -120.68 1527.86 1872.81 -287.05  120.48  895.18  540.44  990.32 1046.05
 1439.23  450.95 1771.26  243.38  971.31  572.07  921.57 -349.42 1900.27
 -251.92 1406.84 1063.79  161.62 -297.03   99.66  879.98 -108.67  521.29
 1223.43  674.78 -418.4   220.26  206.8  1649.02 -322.05   83.56  161.39
 1478.12  974.47 1509.76   -5.45 -213.06   62.02 -127.53  164.08 -144.41
 -350.9  1481.57  987.61 1560.6  1802.98  597.88  671.74  260.23  506.27
  180.62  849.95  594.4   995.09 1723.56 1336.33 1009.28 -435.34   72.31
 1185.75 1651.29  967.81 -448.14 1411.9  1553.55  940.62 1407.77  -62.02
  797.41  605.57  195.39 1992.36  589.71 1535.61]
[ 107.12 1242.98  253.96 1210.65 1513.82    0.   1490.57  914.83 -397.33
  831.86 1153.8  -327.61 1118.86 -468.37  550.15  725.5   583.81  405.47
 1728.94  649.35 -117.52  -59.66  804.37 1126.14 1039.78 1799.04 1436.6
  662.18 1564.34  981.19  305.76  113.74 1836.55  197.32  627.01 1376.19
  924.62 1170.47  340.99  735.77  312.54  718.87  387.06  145.88  199.15
  990.39 1700.27  889.48  791.57  -22.36  103.39  516.07  887.94  100.81
  690.23 1279.61  620.44 -456.89  235.59  511.    108.26 1159.9   422.55
  883.68  359.39 1991.58  875.97  379.53  634.36  266.56   76.35 1303.21
  288.87 1357.2  1877.19 1225.41  -21.15 1346.51  191.25  973.97 1400.52
  991.98 1951.28 1581.57  240.62  402.2   255.67 1270.05 -183.54 -386.21
 -363.68  230.34 1860.22 1094.67 1381.98 -243.53 -469.34  210.85  696.79
  351.76 1913.74  131.2  1654.31 -214.78 -336.64  729.37  942.55 1216.13
 -120.68 1527.86 1872.81 -287.05  120.48  895.18  540.44  990.32 1046.05
 1439.23  450.95 1771.26  243.38  971.31  572.07  921.57 -349.42 1900.27
 -251.92 1406.84 1063.79  161.62 -297.03   99.66  879.98 -108.67  521.29
 1223.43  674.78 -418.4   220.26  206.8  1649.02 -322.05   83.56  161.39
 1478.12  974.47 1509.76   -5.45 -213.06   62.02 -127.53  164.08 -144.41
 -350.9  1481.57  987.61 1560.6  1802.98  597.88  671.74  260.23  506.27
  180.62  849.95  594.4   995.09 1723.56 1336.33 1009.28 -435.34   72.31
 1185.75 1651.29  967.81 -448.14 1411.9  1553.55  940.62 1407.77  -62.02
  797.41  605.57  195.39 1992.36  589.71 1535.61]

Sales per region per currency:  Region  Currency
East    EUR         15759.67
        MXN         15128.15
        USD         22832.20
        Unknown     65693.09
North   EUR          5061.12
        MXN         31094.63
        USD         42272.41
        Unknown     80752.04
South   EUR         25760.30
        MXN         28746.25
        USD         29964.08
        Unknown     78298.55
West    EUR         26112.34
        MXN         20850.32
        USD         12211.32
        Unknown     57214.42
Name: Sales, dtype: float64

Amount of Unknown sales: 106
Total Unknown sales: 281,958.10
Mean Unknown profit: 668.86
Max Unknown sales: 4905.54

Amount of EUR sales: 28
Total EUR sales: ‚Ç¨ 72,693.43
Mean EUR profit: ‚Ç¨ 679.56
Max EUR sales: ‚Ç¨ 4713.21

Amount of DLR sales: 32
Total DLR sales: $ 107,280.01
Mean DLR profit: $ 625.14
Max DLR sales: $ 4922.76

Amount of MXN sales: 34
Total MXN sales: $ 95,819.35
Mean MXN profit: $ 534.14
Max MXN sales: $ 4822.3

In [81]:
print(df_xls["Currency"].unique())
df_xls["Currency"] = df_xls["Currency"].fillna("Unknown")
print(df_xls["Currency"].unique())
print()
print(df_xls["Sales"].unique())
df_xls["Sales"] = df_xls["Sales"].fillna(0)
print(df_xls["Sales"].unique())
print()
print(df_xls["Profit"].unique())
df_xls["Profit"] = df_xls["Profit"].fillna(0)
print(df_xls["Profit"].unique())
print()

print("Sales per region per currency: ", df_xls.groupby(["Region","Currency"])["Sales"].sum())
print()
print(f"Amount of Unknown sales: {df_xls.loc[df_xls['Currency'] == 'Unknown', 'Sales'].count()}")
print(f"Total Unknown sales: {df_xls.loc[df_xls['Currency'] == 'Unknown', 'Sales'].sum():,.2f}")
print(f"Mean Unknown profit: {df_xls.loc[df_xls['Currency'] == 'Unknown', 'Profit'].mean():,.2f}")
print(f"Max Unknown sales: {df_xls.loc[df_xls['Currency'] == 'Unknown', 'Sales'].max()}")
print()
print(f"Amount of EUR sales: {df_xls.loc[df_xls['Currency'] == 'EUR', 'Sales'].count()}")
print(f"Total EUR sales: ‚Ç¨ {df_xls.loc[df_xls['Currency'] == 'EUR', 'Sales'].sum():,.2f}")
print(f"Mean EUR profit: ‚Ç¨ {df_xls.loc[df_xls['Currency'] == 'EUR', 'Profit'].mean():,.2f}")
print(f"Max EUR sales: ‚Ç¨ {df_xls.loc[df_xls['Currency'] == 'EUR', 'Sales'].max()}")
print()
print(f"Amount of DLR sales: {df_xls.loc[df_xls['Currency'] == 'USD', 'Sales'].count()}")
print(f"Total DLR sales: $ {df_xls.loc[df_xls['Currency'] == 'USD', 'Sales'].sum():,.2f}")
print(f"Mean DLR profit: $ {df_xls.loc[df_xls['Currency'] == 'USD', 'Profit'].mean():,.2f}")
print(f"Max DLR sales: $ {df_xls.loc[df_xls['Currency'] == 'USD', 'Sales'].max()}")
print()
print(f"Amount of MXN sales: {df_xls.loc[df_xls['Currency'] == 'MXN', 'Sales'].count()}")
print(f"Total MXN sales: $ {df_xls.loc[df_xls['Currency'] == 'MXN', 'Sales'].sum():,.2f}")
print(f"Mean MXN profit: $ {df_xls.loc[df_xls['Currency'] == 'MXN', 'Profit'].mean():,.2f}")
print(f"Max MXN sales: $ {df_xls.loc[df_xls['Currency'] == 'MXN', 'Sales'].max()}")

['USD' 'Unknown' 'MXN' <NA> 'EUR']
['USD' 'Unknown' 'MXN' 'EUR']

[4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29 2816.62 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 1040.02 3358.15 1957.81
 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22 3072.64
 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37 1490.55
 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03  326.45
 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49 2058.3
  823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14 3509.97
 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73 1654.76
 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87 4321.33
 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38 3596.37
 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37 2132.85
 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71 4415.22
 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28 3699.71
 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9  3648.49
 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34 2200.2
 4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46 4760.9
 2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23 4790.7
  297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51 4744.01
 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45 1624.09
 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28 4169.8 ]
[4922.76  666.66 4507.57 1031.39  317.49 2236.68 2647.61 4051.9  3465.6
 4707.29 2816.62 3711.48 1065.47 2213.36 4749.48 4611.78 3153.46 3350.6
  710.66 4510.23 2584.9  3367.78 1698.3  3516.32 1040.02 3358.15 1957.81
 3765.86  952.73 2888.62 2089.77 4185.25 1588.99 1129.9  3950.22 3072.64
 1679.02 2264.75 3410.57 2604.75 3989.3  4803.18 3706.21 3328.37 1490.55
 3352.88 3134.38  557.6  4764.8  1250.86 1621.06 4052.16  822.03  326.45
 4921.29 3095.24 3865.6  2331.54 4442.07 2920.79 3619.89 1981.49 2058.3
  823.1  3469.35 4474.03 4316.16 4438.78 3914.26 1172.32 4040.14 3509.97
 2376.29 2831.29 4595.6   694.66  753.36 2376.75 2702.55 2838.73 1654.76
 3800.73 2268.61 4093.53 4470.9  2191.03 4543.59 2284.98  879.87 4321.33
 2305.34 3783.71 4215.33 1458.83 3910.61 2474.53 1272.3  2255.38 3596.37
 1249.02 1745.65 4475.83  494.83  839.07 1976.87  848.75 1148.37 2132.85
 1721.32 2383.03  405.1  4181.17 2008.44 3872.   4735.7   195.71 4415.22
 2920.88 2437.2  4719.43 1563.2  2010.93 4469.04 4195.07 2737.28 3699.71
 4019.35 4499.28 2492.32 1437.38 2479.65 2005.4  3377.48 4010.9  3648.49
 4218.48 4605.75 4905.54 2717.21 4543.95 3000.27 3348.7   511.34 2200.2
 4347.57  990.47 1374.77 1704.03 2328.03 1753.75 4410.24 1463.46 4760.9
 2165.67 4191.06 2404.5  3770.22  355.22 4764.41 1198.69  436.23 4790.7
  297.26  252.05 1311.69 4212.22 3144.54 1268.87 2420.45  660.51 4744.01
 2378.67 1355.59 1907.59 3068.87 4822.3  3619.95 3911.18  902.45 1624.09
 2935.56 4651.55 2921.4  4549.33 1939.   4713.21 1071.82 3001.28 4169.8 ]

[ 107.12 1242.98  253.96 1210.65 1513.82     nan 1490.57  914.83 -397.33
  831.86 1153.8  -327.61 1118.86 -468.37  550.15  725.5   583.81  405.47
 1728.94  649.35 -117.52  -59.66  804.37 1126.14 1039.78 1799.04 1436.6
  662.18 1564.34  981.19  305.76  113.74 1836.55  197.32  627.01 1376.19
  924.62 1170.47  340.99  735.77  312.54  718.87  387.06  145.88  199.15
  990.39 1700.27  889.48  791.57  -22.36  103.39  516.07  887.94  100.81
  690.23 1279.61  620.44 -456.89  235.59  511.    108.26 1159.9   422.55
  883.68  359.39 1991.58  875.97  379.53  634.36  266.56   76.35 1303.21
  288.87 1357.2  1877.19 1225.41  -21.15 1346.51  191.25  973.97 1400.52
  991.98 1951.28 1581.57  240.62  402.2   255.67 1270.05 -183.54 -386.21
 -363.68  230.34 1860.22 1094.67 1381.98 -243.53 -469.34  210.85  696.79
  351.76 1913.74  131.2  1654.31 -214.78 -336.64  729.37  942.55 1216.13
 -120.68 1527.86 1872.81 -287.05  120.48  895.18  540.44  990.32 1046.05
 1439.23  450.95 1771.26  243.38  971.31  572.07  921.57 -349.42 1900.27
 -251.92 1406.84 1063.79  161.62 -297.03   99.66  879.98 -108.67  521.29
 1223.43  674.78 -418.4   220.26  206.8  1649.02 -322.05   83.56  161.39
 1478.12  974.47 1509.76   -5.45 -213.06   62.02 -127.53  164.08 -144.41
 -350.9  1481.57  987.61 1560.6  1802.98  597.88  671.74  260.23  506.27
  180.62  849.95  594.4   995.09 1723.56 1336.33 1009.28 -435.34   72.31
 1185.75 1651.29  967.81 -448.14 1411.9  1553.55  940.62 1407.77  -62.02
  797.41  605.57  195.39 1992.36  589.71 1535.61]
[ 107.12 1242.98  253.96 1210.65 1513.82    0.   1490.57  914.83 -397.33
  831.86 1153.8  -327.61 1118.86 -468.37  550.15  725.5   583.81  405.47
 1728.94  649.35 -117.52  -59.66  804.37 1126.14 1039.78 1799.04 1436.6
  662.18 1564.34  981.19  305.76  113.74 1836.55  197.32  627.01 1376.19
  924.62 1170.47  340.99  735.77  312.54  718.87  387.06  145.88  199.15
  990.39 1700.27  889.48  791.57  -22.36  103.39  516.07  887.94  100.81
  690.23 1279.61  620.44 -456.89  235.59  511.    108.26 1159.9   422.55
  883.68  359.39 1991.58  875.97  379.53  634.36  266.56   76.35 1303.21
  288.87 1357.2  1877.19 1225.41  -21.15 1346.51  191.25  973.97 1400.52
  991.98 1951.28 1581.57  240.62  402.2   255.67 1270.05 -183.54 -386.21
 -363.68  230.34 1860.22 1094.67 1381.98 -243.53 -469.34  210.85  696.79
  351.76 1913.74  131.2  1654.31 -214.78 -336.64  729.37  942.55 1216.13
 -120.68 1527.86 1872.81 -287.05  120.48  895.18  540.44  990.32 1046.05
 1439.23  450.95 1771.26  243.38  971.31  572.07  921.57 -349.42 1900.27
 -251.92 1406.84 1063.79  161.62 -297.03   99.66  879.98 -108.67  521.29
 1223.43  674.78 -418.4   220.26  206.8  1649.02 -322.05   83.56  161.39
 1478.12  974.47 1509.76   -5.45 -213.06   62.02 -127.53  164.08 -144.41
 -350.9  1481.57  987.61 1560.6  1802.98  597.88  671.74  260.23  506.27
  180.62  849.95  594.4   995.09 1723.56 1336.33 1009.28 -435.34   72.31
 1185.75 1651.29  967.81 -448.14 1411.9  1553.55  940.62 1407.77  -62.02
  797.41  605.57  195.39 1992.36  589.71 1535.61]

Sales per region per currency:  Region  Currency
East    EUR         15759.67
        MXN         15128.15
        USD         22832.20
        Unknown     65693.09
North   EUR          5061.12
        MXN         31094.63
        USD         42272.41
        Unknown     80752.04
South   EUR         25760.30
        MXN         28746.25
        USD         29964.08
        Unknown     78298.55
West    EUR         26112.34
        MXN         20850.32
        USD         12211.32
        Unknown     57214.42
Name: Sales, dtype: float64

Amount of Unknown sales: 106
Total Unknown sales: 281,958.10
Mean Unknown profit: 668.86
Max Unknown sales: 4905.54

Amount of EUR sales: 28
Total EUR sales: ‚Ç¨ 72,693.43
Mean EUR profit: ‚Ç¨ 679.56
Max EUR sales: ‚Ç¨ 4713.21

Amount of DLR sales: 32
Total DLR sales: $ 107,280.01
Mean DLR profit: $ 625.14
Max DLR sales: $ 4922.76

Amount of MXN sales: 34
Total MXN sales: $ 95,819.35
Mean MXN profit: $ 534.14
Max MXN sales: $ 4822.3

##### ‚úÖ _Multi-Level Aggregation_

- Group by both "Region" and "Product" to compute sum of "Sales" and count of "Invoice_ID".

##### ‚úÖ _Sort Aggregated Data_

- After groupby-agg, sort the results by "Total Sales" descending.

##### ‚úÖ _String Cleaning with .str accessor_

- Use .str.strip(), .str.lower(), .str.replace() to clean customer names.

##### ‚úÖ _Filtering with Sets_

- From a set of known loyal customers (set()), filter rows where the Customer_ID is part of that set.

##### ‚úÖ _Categorize with Dictionary Mapping_

- Map the "Currency" column using a dictionary like {'USD': 'Dollar', 'EUR': 'Euro'}.

##### ‚úÖ _Top N Products_

- Use .value_counts() and slicing to find the top 5 most frequent products.

##### ‚úÖ _Percentage of Nulls_

- Create a dictionary with column names as keys and percentage of missing values as values.

##### ‚úÖ _Filter and Aggregate in One Line_

- Use a one-liner (with comprehension if needed) to filter all rows where Sales > 1000 and group by "Region" to get the average profit.

#### üß† __A_dvanced Manipulations__

##### ‚úÖ _List Comprehension for Filtered Rows_

- Use a comprehension to create a list of Invoice_ID for which "Profit" is negative and "Sales" is above average.

##### ‚úÖ _Create a Dictionary of Unique Values per Column_

- Create a dictionary where each key is a column and the value is the list of its unique values.

##### ‚úÖ _Pivot Analysis_

- Pivot the data to show Product as rows and Region as columns with total sales.

##### ‚úÖ _Tuple of Column Summary_

- Create a tuple that stores (column_name, min_value, max_value) for numeric columns.

##### ‚úÖ _String Extraction_

- Use .str.extract() to pull out numbers from product descriptions like "Item 1234 - ABC".

##### ‚úÖ _Customer Retention Insight_

- From a sorted DataFrame of dates, identify customers with more than one transaction in different months (use sets and groupby()).

##### ‚úÖ _Sorting with Multiple Criteria_

- Sort the data by Region ascending and Sales descending.

##### ‚úÖ _Nested Dictionary for Aggregation_

- Use groupby().agg() with a dictionary like: {'Sales': ['sum', 'mean'], 'Profit': ['min', 'max']}.

##### ‚úÖ _Create a Clean Subset_

Generate a clean subset of your dataset excluding rows with:

- Missing values in any numeric columns

- Duplicate Customer_ID

##### ‚úÖ _Export Clean Data_

- After applying all cleaning steps, export the clean DataFrame to Excel, one sheet for each Region.