### __Python Data Wrangling Read and Visualize__

##### __Read CSV files with different delimeters rather than comma__

In [4]:
import pandas as pd

df = pd.read_csv('DataSets/gpp_modified.csv')
print(df.head())

print()

df = pd.read_csv('DataSets/gpp_modified.csv', sep='|')
print(df.head())

# pd.read_csv('clients.csv', sep='\\t')
# pd.read_csv('clients.tsv', sep='\t')
# La extensión del archivo, .tsv, sugiere que se trata de un archivo separado por tabuladores, por lo que se puede utilizar el parámetro sep para especificar el delimitador como tab.

  Afghanistan|Kajaki Hydroelectric Power Plant Afghanistan|33   0|32   322|65  \
0                        Afghanistan|Kandahar DOG|10            0|31    67|65
1                        Afghanistan|Kandahar JOL|10            0|31   623|65
2  Afghanistan|Mahipar Hydroelectric Power Plant ...            0|34   556|69
3  Afghanistan|Naghlu Dam Hydroelectric Power Pla...            0|34   641|69
4  Afghanistan|Nangarhar (Darunta) Hydroelectric ...           55|34  4847|70

    119|Hydro|
0   795|Solar|
1   792|Solar|
2  4787|Hydro|
3   717|Hydro|
4  3633|Hydro|

   Afghanistan       Kajaki Hydroelectric Power Plant Afghanistan   33,0  \
0  Afghanistan                                       Kandahar DOG   10,0
1  Afghanistan                                       Kandahar JOL   10,0
2  Afghanistan      Mahipar Hydroelectric Power Plant Afghanistan   66,0
3  Afghanistan   Naghlu Dam Hydroelectric Power Plant Afghanistan  100,0
4  Afghanistan  Nangarhar (Darunta) Hydroelectric Power Plant ...  11,55

    32,322   65,119  Hydro Unnamed: 6
0    31,67   65,795  Solar        NaN
1   31,623   65,792  Solar        NaN
2   34,556  69,4787  Hydro        NaN
3   34,641   69,717  Hydro        NaN
4  34,4847  70,3633  Hydro        NaN

Still the column names are not shown correctly in the DataFrame

In [2]:
import pandas as pd

df = pd.read_csv('DataSets/gpp_modified.csv')

df = pd.read_csv('DataSets/gpp_modified.csv', sep='|', header='infer')
print(df.head())

print()

df = pd.read_csv('DataSets/gpp_modified.csv', sep='|', header=None)
print(df.head())

   Afghanistan       Kajaki Hydroelectric Power Plant Afghanistan   33,0  \
0  Afghanistan                                       Kandahar DOG   10,0
1  Afghanistan                                       Kandahar JOL   10,0
2  Afghanistan      Mahipar Hydroelectric Power Plant Afghanistan   66,0
3  Afghanistan   Naghlu Dam Hydroelectric Power Plant Afghanistan  100,0
4  Afghanistan  Nangarhar (Darunta) Hydroelectric Power Plant ...  11,55

    32,322   65,119  Hydro Unnamed: 6
0    31,67   65,795  Solar        NaN
1   31,623   65,792  Solar        NaN
2   34,556  69,4787  Hydro        NaN
3   34,641   69,717  Hydro        NaN
4  34,4847  70,3633  Hydro        NaN

             0                                                 1      2  \
0  Afghanistan      Kajaki Hydroelectric Power Plant Afghanistan   33,0
1  Afghanistan                                      Kandahar DOG   10,0
2  Afghanistan                                      Kandahar JOL   10,0
3  Afghanistan     Mahipar Hydroelectric Power Plant Afghanistan   66,0
4  Afghanistan  Naghlu Dam Hydroelectric Power Plant Afghanistan  100,0

        3        4      5    6
0  32,322   65,119  Hydro  NaN
1   31,67   65,795  Solar  NaN
2  31,623   65,792  Solar  NaN
3  34,556  69,4787  Hydro  NaN
4  34,641   69,717  Hydro  NaN

Assign names to columns

In [3]:
import pandas as pd

column_names = ["country", "name", "capacity_mw", "latitude", "longitude","primary_fuel", "owner"]

df = pd.read_csv('DataSets/gpp_modified.csv', sep='|', header=None, names=column_names)
print(df.head())

       country                                              name capacity_mw  \
0  Afghanistan      Kajaki Hydroelectric Power Plant Afghanistan        33,0
1  Afghanistan                                      Kandahar DOG        10,0
2  Afghanistan                                      Kandahar JOL        10,0
3  Afghanistan     Mahipar Hydroelectric Power Plant Afghanistan        66,0
4  Afghanistan  Naghlu Dam Hydroelectric Power Plant Afghanistan       100,0

  latitude longitude primary_fuel owner
0   32,322    65,119        Hydro   NaN
1    31,67    65,795        Solar   NaN
2   31,623    65,792        Solar   NaN
3   34,556   69,4787        Hydro   NaN
4   34,641    69,717        Hydro   NaN

Change decimal format from coma to dot

In [4]:
import pandas as pd

column_names = ["country", "name", "capacity_mw", "latitude", "longitude","primary_fuel", "owner"]

df = pd.read_csv('DataSets/gpp_modified.csv', sep='|', header=None, names=column_names, decimal=',',)
print(df.head())

       country                                              name  capacity_mw  \
0  Afghanistan      Kajaki Hydroelectric Power Plant Afghanistan         33.0
1  Afghanistan                                      Kandahar DOG         10.0
2  Afghanistan                                      Kandahar JOL         10.0
3  Afghanistan     Mahipar Hydroelectric Power Plant Afghanistan         66.0
4  Afghanistan  Naghlu Dam Hydroelectric Power Plant Afghanistan        100.0

   latitude  longitude primary_fuel owner
0    32.322    65.1190        Hydro   NaN
1    31.670    65.7950        Solar   NaN
2    31.623    65.7920        Solar   NaN
3    34.556    69.4787        Hydro   NaN
4    34.641    69.7170        Hydro   NaN

In [1]:
import pandas as pd

df = pd.read_csv("DataSets/letters_colors_decimals.csv",sep="$", header=0, decimal="a")

print(df)

  letters  colors  decimals
0       a  yellow       1.2
1       b     red       1.3
2       c    cyan       1.4

### __Python Accessing to Excel files__

##### _Open the first work sheet_

In [3]:
import pandas as pd

df = pd.read_excel('DataSets/product_reviews.xlsx')

print(df.head())

           id reviewer_id  product_id  review
0  2546305677    cG441617  5003186430       3
1  2603422798    cH443811  7130698135       1
2  2598103631    bF100137  4023404310       4
3  2632674394    cF786880  7130698135       4
4  2594782880    aF649317  5003186430       5

##### _Open the second work sheet_

In [2]:
import pandas as pd

df = pd.read_excel('DataSets/product_reviews.xlsx', sheet_name='reviewers')

print(df.head())

         id date_joined  zipcode
0  aF195825  2012-06-21    91914
1  aF249047  2019-03-26    91915
2  aF362092  2012-01-05    91941
3  aF484180  2019-06-11    91941
4  aF539111  2011-03-04    92003