### __Duplicate Management__

##### _Finding duplicated Data_

First Method

In [6]:
import pandas as pd
df = pd.DataFrame({'col_1': ['A', 'B', 'A', 'A', 'A'], 'col_2': [1, 2, 2, 1,1]})

print('Así es como se ve el dataset:')
print(df)
print()
print('Así es como se ve una serie booleana devuelta:')
print(df.duplicated())
print()
print('Así se ve el resultado de duplicated() con sum():')
print(df.duplicated().sum())
print()
print('Así es como se ve el dataset con duplicados:')
print(df[df.duplicated()])

Así es como se ve el dataset:
  col_1  col_2
0     A      1
1     B      2
2     A      2
3     A      1
4     A      1

Así es como se ve una serie booleana devuelta:
0    False
1    False
2    False
3     True
4     True
dtype: bool

Así se ve el resultado de duplicated() con sum():
2

Así es como se ve el dataset con duplicados:
  col_1  col_2
3     A      1
4     A      1

Second Method

value_counts(). This method identifies all unique values ​​in a column and calculates the number of occurrences of each. We can apply this method to Series to obtain the value-frequency pairs in descending order. The most frequently duplicated entries are at the top of the list.

In [7]:
import pandas as pd
df = pd.DataFrame({'col_1': ['A', 'B', 'A', 'A'], 'col_2': [1, 2, 2, 1]})

print('Así es como se ve el dataset:')
print(df)
print()
print('Este es el resultado de la llamada al método value_counts() para col_1:')
print(df['col_1'].value_counts())

Así es como se ve el dataset:
  col_1  col_2
0     A      1
1     B      2
2     A      2
3     A      1

Este es el resultado de la llamada al método value_counts() para col_1:
col_1
A    3
B    1
Name: count, dtype: int64

If you only want to consider duplicates in one (or some) of the columns instead of completely duplicate rows, you can use the subset= parameter. Pass it the column name (or list of column names) where you want to search for duplicates.

In [8]:
import pandas as pd
df = pd.DataFrame({'col_1': ['A', 'B', 'A', 'A'], 'col_2': [1, 2, 2, 1]})

print(df)
print()
print(df.drop_duplicates(subset='col_1'))

  col_1  col_2
0     A      1
1     B      2
2     A      2
3     A      1

  col_1  col_2
0     A      1
1     B      2

__Example1__

In [9]:
import pandas as pd
df_stock = pd.read_csv('DataSets/phone_stock.csv')
print(df_stock.head(5))

          id                     item  count
0  100480924     Apple iPhone Xr 64gb     10
1  100480924     Apple iPhone Xr 64GB     19
2  100480959     Xiaomi Redmi 6A 16GB     44
3  100480975          HUAWEI P30 lite     38
4  100480988  Samsung Galaxy A30 32GB     49

In [11]:
print(df_stock['item'].value_counts())

item
Apple iPhone Xr 64gb       1
Apple iPhone Xr 64GB       1
Xiaomi Redmi 6A 16GB       1
HUAWEI P30 lite            1
Samsung Galaxy A30 32GB    1
Samsung Galaxy A30 32gb    1
Honor 8X 64GB              1
Name: count, dtype: int64

In [12]:
df_stock['item'] = df_stock['item'].str.replace('GB', 'gb')
print(df_stock['item'].value_counts())

item
Apple iPhone Xr 64gb       2
Samsung Galaxy A30 32gb    2
Xiaomi Redmi 6A 16gb       1
HUAWEI P30 lite            1
Honor 8X 64gb              1
Name: count, dtype: int64

The _.str accessor_ in pandas is used to perform vectorized string operations on a pandas Series or DataFrame column containing string or object data. It provides a convenient way to apply string methods to each element of the Series or column without needing to loop through the data manually.

In [14]:
df_stock['item_modified'] = df_stock['item'].str.replace('GB', 'gb')
print(df_stock)

          id                     item  count            item_modified
0  100480924     Apple iPhone Xr 64gb     10     Apple iPhone Xr 64gb
1  100480924     Apple iPhone Xr 64gb     19     Apple iPhone Xr 64gb
2  100480959     Xiaomi Redmi 6A 16gb     44     Xiaomi Redmi 6A 16gb
3  100480975          HUAWEI P30 lite     38          HUAWEI P30 lite
4  100480988  Samsung Galaxy A30 32gb     49  Samsung Galaxy A30 32gb
5  100480988  Samsung Galaxy A30 32gb     11  Samsung Galaxy A30 32gb
6  100481020            Honor 8X 64gb     64            Honor 8X 64gb

In [15]:
df_stock['item_modified'] = df_stock['item'].str.lower()
print(df_stock)

          id                     item  count            item_modified
0  100480924     Apple iPhone Xr 64gb     10     apple iphone xr 64gb
1  100480924     Apple iPhone Xr 64gb     19     apple iphone xr 64gb
2  100480959     Xiaomi Redmi 6A 16gb     44     xiaomi redmi 6a 16gb
3  100480975          HUAWEI P30 lite     38          huawei p30 lite
4  100480988  Samsung Galaxy A30 32gb     49  samsung galaxy a30 32gb
5  100480988  Samsung Galaxy A30 32gb     11  samsung galaxy a30 32gb
6  100481020            Honor 8X 64gb     64            honor 8x 64gb

In [3]:
import pandas as pd

df_stock = pd.read_csv('DataSets/phone_stock.csv')

print(df_stock)
print()

df_stock['item_lowercase'] = df_stock['item'].str.lower()

print(df_stock)
print()

apple = df_stock.loc[df_stock['item_lowercase'] == 'apple iphone xr 64gb', 'count'].sum()
# apple = df_stock[df_stock['item_lowercase'] == 'apple iphone xr 64gb']['count'].sum()

samsung = df_stock.loc[df_stock['item_lowercase'] == 'samsung galaxy a30 32gb', 'count'].sum()
# samsung = df_stock[df_stock['item_lowercase'] == 'samsung galaxy a30 32gb']['count'].sum()

print("Número total de teléfonos Apple:", apple)
print("Número total de teléfonos Samsung:", samsung)

          id                     item  count
0  100480924     Apple iPhone Xr 64gb     10
1  100480924     Apple iPhone Xr 64GB     19
2  100480959     Xiaomi Redmi 6A 16GB     44
3  100480975          HUAWEI P30 lite     38
4  100480988  Samsung Galaxy A30 32GB     49
5  100480988  Samsung Galaxy A30 32gb     11
6  100481020            Honor 8X 64GB     64

          id                     item  count           item_lowercase
0  100480924     Apple iPhone Xr 64gb     10     apple iphone xr 64gb
1  100480924     Apple iPhone Xr 64GB     19     apple iphone xr 64gb
2  100480959     Xiaomi Redmi 6A 16GB     44     xiaomi redmi 6a 16gb
3  100480975          HUAWEI P30 lite     38          huawei p30 lite
4  100480988  Samsung Galaxy A30 32GB     49  samsung galaxy a30 32gb
5  100480988  Samsung Galaxy A30 32gb     11  samsung galaxy a30 32gb
6  100481020            Honor 8X 64GB     64            honor 8x 64gb

Número total de teléfonos Apple: 29
Número total de teléfonos Samsung: 60

In [19]:
import pandas as pd

df_stock = pd.read_csv('DataSets/phone_stock.csv')
df_stock['item_lowercase'] = df_stock['item'].str.lower()

df_stock = df_stock.drop_duplicates(subset="item_lowercase").reset_index(drop=True)
print(df_stock)

          id                     item  count           item_lowercase
0  100480924     Apple iPhone Xr 64gb     10     apple iphone xr 64gb
1  100480959     Xiaomi Redmi 6A 16GB     44     xiaomi redmi 6a 16gb
2  100480975          HUAWEI P30 lite     38          huawei p30 lite
3  100480988  Samsung Galaxy A30 32GB     49  samsung galaxy a30 32gb
4  100481020            Honor 8X 64GB     64            honor 8x 64gb

In [ ]:
import pandas as pd

df_stock = pd.read_csv('/datasets/phone_stock.csv')
df_stock['item_lowercase'] = df_stock['item'].str.lower()

apple = df_stock[df_stock['item_lowercase'] == 'apple iphone xr 64gb']['count'].sum()
samsung = df_stock[df_stock['item_lowercase'] == 'samsung galaxy a30 32gb']['count'].sum()

df_stock = df_stock.drop_duplicates(subset='item_lowercase').reset_index(drop=True)

df_stock.loc[0,'count'] = apple
df_stock.loc[3,'count'] = samsung

print(df_stock)

__Example2__

In [22]:
import pandas as pd

# Cargar los datos 
df = pd.read_csv('DataSets/steam-200k.csv')
df.columns = ['user_id', 'game_title', 'behavior_name', 'value']

# Mostrar DataFrame inicial
print(df.head(5))
print()

# 1. Eliminar filas duplicadas
print('Número de filas duplicadas (Inicial): ', df.duplicated().sum())
df_sin_duplicados = df.drop_duplicates()

df_sin_duplicados.reset_index(drop=True, inplace=True)
print('Número de filas duplicadas (Final): ', df_sin_duplicados.duplicated().sum())

     user_id                  game_title behavior_name  value
0  151603712  The Elder Scrolls V Skyrim          play  273.0
1  151603712                   Fallout 4      purchase    1.0
2  151603712                   Fallout 4          play   87.0
3  151603712                       Spore      purchase    1.0
4  151603712                       Spore          play   14.9

Número de filas duplicadas (Inicial):  707
Número de filas duplicadas (Final):  0

In [23]:
import pandas as pd

# Cargar los datos 
df = pd.read_csv('DataSets/steam-200k.csv')
df.columns = ['user_id', 'game_title', 'behavior_name', 'value']

# Mostrar DataFrame inicial
print(df.head(5))

# 1. Eliminar filas duplicadas
print('Número de filas duplicadas (Inicial): ', df.duplicated().sum())
df_sin_duplicados = df.drop_duplicates()

df_sin_duplicados.reset_index(drop=True, inplace=True)
print('Número de filas duplicadas (Final): ', df_sin_duplicados.duplicated().sum())

# 2.Contar apariciones por título de juego
print("\n")
print(df_sin_duplicados.loc[:,'game_title'].value_counts())

     user_id                  game_title behavior_name  value
0  151603712  The Elder Scrolls V Skyrim          play  273.0
1  151603712                   Fallout 4      purchase    1.0
2  151603712                   Fallout 4          play   87.0
3  151603712                       Spore      purchase    1.0
4  151603712                       Spore          play   14.9
Número de filas duplicadas (Inicial):  707
Número de filas duplicadas (Final):  0


game_title
Dota 2                                                            9682
Team Fortress 2                                                   4646
Counter-Strike Global Offensive                                   2789
Unturned                                                          2632
Left 4 Dead 2                                                     1752
                                                                  ...
Depth - S.T.E.V.E. Pack                                              1
Storm                                                                1
Phantom Breaker Battle Grounds - Kurisu Makise + Level 99 Pack       1
Super Laser Racer                                                    1
Dream Chronicles The Chosen Child                                    1
Name: count, Length: 5155, dtype: int64

In [24]:
import pandas as pd

# Cargar los datos 
df = pd.read_csv('DataSets/steam-200k.csv')
df.columns = ['user_id', 'game_title', 'behavior_name', 'value']

# 1. Eliminar filas duplicadas
print('Número de filas duplicadas (Inicial): ', df.duplicated().sum())
df_sin_duplicados = df.drop_duplicates().copy()

df_sin_duplicados.reset_index(drop=True, inplace=True)
print('Número de filas duplicadas (Final): ', df_sin_duplicados.duplicated().sum())

# 2.Contar apariciones por título de juego
print("\n")
print(df_sin_duplicados.loc[:,'game_title'].value_counts())

# 3.Convertir títulos de juegos a minúsculas
df_sin_duplicados.loc[:,'game_title'] = df_sin_duplicados['game_title'].str.lower()

# Validación resultados
print("\n")
print(df_sin_duplicados.head(10))

Número de filas duplicadas (Inicial):  707
Número de filas duplicadas (Final):  0


game_title
Dota 2                                                            9682
Team Fortress 2                                                   4646
Counter-Strike Global Offensive                                   2789
Unturned                                                          2632
Left 4 Dead 2                                                     1752
                                                                  ...
Depth - S.T.E.V.E. Pack                                              1
Storm                                                                1
Phantom Breaker Battle Grounds - Kurisu Makise + Level 99 Pack       1
Super Laser Racer                                                    1
Dream Chronicles The Chosen Child                                    1
Name: count, Length: 5155, dtype: int64


     user_id                  game_title behavior_name  value
0  151603712  the elder scrolls v skyrim          play  273.0
1  151603712                   fallout 4      purchase    1.0
2  151603712                   fallout 4          play   87.0
3  151603712                       spore      purchase    1.0
4  151603712                       spore          play   14.9
5  151603712           fallout new vegas      purchase    1.0
6  151603712           fallout new vegas          play   12.1
7  151603712               left 4 dead 2      purchase    1.0
8  151603712               left 4 dead 2          play    8.9
9  151603712                    huniepop      purchase    1.0