### __Python Data Wrangling Data Filtering__

In [3]:
import pandas as pd

oceans = pd.Series(['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic'])

print(oceans)
print()

print(oceans.index)
print()
print(type(oceans.index))

0     Pacific
1    Atlantic
2      Indian
3    Southern
4      Arctic
dtype: object

RangeIndex(start=0, stop=5, step=1)

<class 'pandas.core.indexes.range.RangeIndex'>

In [5]:
import pandas as pd

oceans = pd.Series(['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic'])

oceans.index = [1, 2, 3, 4, 5]

print(oceans.index)
print()
print(type(oceans.index))

Index([1, 2, 3, 4, 5], dtype='int64')

<class 'pandas.core.indexes.base.Index'>

In [7]:
import pandas as pd

oceans = pd.Series(['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic'],
                   index=[1, 2, 3, 4, 5])

print(oceans.index)
print()
print(type(oceans.index))

Index([1, 2, 3, 4, 5], dtype='int64')

<class 'pandas.core.indexes.base.Index'>

In [8]:
import pandas as pd

oceans = pd.Series(['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic'],
                   index=['A', 'B', 'C', 'D', 'E'])

print(oceans)
print()
print(oceans.index)
print()
print(type(oceans.index))

A     Pacific
B    Atlantic
C      Indian
D    Southern
E      Arctic
dtype: object

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

<class 'pandas.core.indexes.base.Index'>

##### __Indexing__

.loc[]

In [9]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df)

            state                  flower                          insect
state 1   Alabama                Camellia               Monarch butterfly
state 2    Alaska           Forget-me-not  Four-spotted skimmer dragonfly
state 3   Arizona  Saguaro cactus blossom          Two-tailed swallowtail
state 4  Arkansas           Apple blossom              European honey bee

In [ ]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index) 

print(df.loc['state 4', 'insect']) # df.loc[index_value, col_name]

European honey bee

In [11]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df.loc['state 1': 'state 3', 'flower'])

state 1                  Camellia
state 2             Forget-me-not
state 3    Saguaro cactus blossom
Name: flower, dtype: object

In [12]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df.loc['state 1': 'state 3', 'flower': 'insect'])

                         flower                          insect
state 1                Camellia               Monarch butterfly
state 2           Forget-me-not  Four-spotted skimmer dragonfly
state 3  Saguaro cactus blossom          Two-tailed swallowtail

In [22]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

filtered_df = df.loc[['state 1', 'state 3'], ['flower', 'insect']]
print(filtered_df)

                         flower                  insect
state 1                Camellia       Monarch butterfly
state 3  Saguaro cactus blossom  Two-tailed swallowtail

.iloc[]

In [13]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df)
print()
print(df.iloc[3, 2]) # df.iloc[row_index, col_index]

            state                  flower                          insect
state 1   Alabama                Camellia               Monarch butterfly
state 2    Alaska           Forget-me-not  Four-spotted skimmer dragonfly
state 3   Arizona  Saguaro cactus blossom          Two-tailed swallowtail
state 4  Arkansas           Apple blossom              European honey bee

European honey bee

In [14]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df)
print()
print(df.iloc[[0, 2], 1:]) # df.iloc[row_index, col_index]

            state                  flower                          insect
state 1   Alabama                Camellia               Monarch butterfly
state 2    Alaska           Forget-me-not  Four-spotted skimmer dragonfly
state 3   Arizona  Saguaro cactus blossom          Two-tailed swallowtail
state 4  Arkansas           Apple blossom              European honey bee

                         flower                  insect
state 1                Camellia       Monarch butterfly
state 3  Saguaro cactus blossom  Two-tailed swallowtail

In [17]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)

print(df.iloc[[0, 2], -1])
print()

df.loc['state 2':'state 4', 'insect']

state 1         Monarch butterfly
state 3    Two-tailed swallowtail
Name: insect, dtype: object

state 2    Four-spotted skimmer dragonfly
state 3            Two-tailed swallowtail
state 4                European honey bee
Name: insect, dtype: object

##### _.set_index()_

In [20]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)
print(df)
print()

df = df.set_index('state') # reemplazar el índice
print(df)
print()
print(df.index)

            state                  flower                          insect
state 1   Alabama                Camellia               Monarch butterfly
state 2    Alaska           Forget-me-not  Four-spotted skimmer dragonfly
state 3   Arizona  Saguaro cactus blossom          Two-tailed swallowtail
state 4  Arkansas           Apple blossom              European honey bee

                          flower                          insect
state
Alabama                 Camellia               Monarch butterfly
Alaska             Forget-me-not  Four-spotted skimmer dragonfly
Arizona   Saguaro cactus blossom          Two-tailed swallowtail
Arkansas           Apple blossom              European honey bee

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas'], dtype='object', name='state')

In [ ]:
import pandas as pd

states  = ['Alabama', 'Alaska', 'Arizona', 'Arkansas']
flowers = ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom']
insects = ['Monarch butterfly', 'Four-spotted skimmer dragonfly', 'Two-tailed swallowtail', 'European honey bee']
index   = ['state 1', 'state 2', 'state 3', 'state 4']

df = pd.DataFrame({'state': states, 'flower': flowers, 'insect': insects}, index=index)
print(df)
print()

df = df.set_index('state')

df.index.name = None # eliminar el nombre del índice
print(df)
print()
print(df.index)

            state                  flower                          insect
state 1   Alabama                Camellia               Monarch butterfly
state 2    Alaska           Forget-me-not  Four-spotted skimmer dragonfly
state 3   Arizona  Saguaro cactus blossom          Two-tailed swallowtail
state 4  Arkansas           Apple blossom              European honey bee

                          flower                          insect
Alabama                 Camellia               Monarch butterfly
Alaska             Forget-me-not  Four-spotted skimmer dragonfly
Arizona   Saguaro cactus blossom          Two-tailed swallowtail
Arkansas           Apple blossom              European honey bee

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas'], dtype='object')

##### __Custom filtering__

##### _.query()_

The query() method allows you to query the DataFrame.

The query() method takes a query expression as a string parameter, which has to evaluate to either True of False.

It returns the DataFrame where the result is True according to the query expression.

_dataframe.query(expr, inplace)_

_expr_		Required. A string that represents a query expression.

_inplace_	True|False	Optional. A boolean value that specifies if the query() method should leave the original DataFrame untouched and return a copy (inplace = False). This is Default. Or: Make the changes in the original DataFrame (inplace = True)

In [23]:
import pandas as pd

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)

print(df.query('age > 35'))

    name  age
0  Sally   50
1   Mary   40

In [25]:
df = pd.read_csv('DataSets/vg_sales.csv')
print(df.head())
print()
print(df.info())

                       name platform  year_of_release         genre publisher  \
0                Wii Sports      Wii           2006.0        Sports  Nintendo
1         Super Mario Bros.      NES           1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii           2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii           2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing  Nintendo

  developer  na_sales  eu_sales  jp_sales  critic_score user_score
0  Nintendo     41.36     28.96      3.77          76.0          8
1       NaN     29.08      3.58      6.81           NaN        NaN
2  Nintendo     15.68     12.76      3.79          82.0        8.3
3  Nintendo     15.61     10.93      3.28          80.0          8
4       NaN     11.27      8.89     10.22           NaN        NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16717 non-null  object
 1   platform         16717 non-null  object
 2   year_of_release  16448 non-null  float64
 3   genre            16717 non-null  object
 4   publisher        16663 non-null  object
 5   developer        10096 non-null  object
 6   na_sales         16717 non-null  float64
 7   eu_sales         16717 non-null  float64
 8   jp_sales         16717 non-null  float64
 9   critic_score     8137 non-null   float64
 10  user_score       10015 non-null  object
dtypes: float64(5), object(6)
memory usage: 1.4+ MB
None

In [ ]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

print(df.query("publisher == 'Nintendo'"))
print()
print(df.query("publisher == 'Nintendo'")[['name', 'publisher']].head())

                                                    name platform  \
0                                             Wii Sports      Wii
1                                      Super Mario Bros.      NES
2                                         Mario Kart Wii      Wii
3                                      Wii Sports Resort      Wii
4                               Pokemon Red/Pokemon Blue       GB
...                                                  ...      ...
16512                           Art Academy: Home Studio     WiiU
16577                                    Captain Rainbow      Wii
16610  Mario & Luigi: Paper Jam & Mario Kart 7 Double...      3DS
16654                                   Fast Racing Neo      WiiU
16655  Nintendogs and Cats Golden Retriever and New F...      3DS

       year_of_release         genre publisher         developer  na_sales  \
0               2006.0        Sports  Nintendo          Nintendo     41.36
1               1985.0      Platform  Nintendo               NaN     29.08
2               2008.0        Racing  Nintendo          Nintendo     15.68
3               2009.0        Sports  Nintendo          Nintendo     15.61
4               1996.0  Role-Playing  Nintendo               NaN     11.27
...                ...           ...       ...               ...       ...
16512           2015.0          Misc  Nintendo  Headstrong Games      0.00
16577           2008.0     Adventure  Nintendo               NaN      0.00
16610           2015.0          Misc  Nintendo               NaN      0.00
16654           2016.0        Action  Nintendo           Shin'en      0.00
16655           2011.0        Action  Nintendo               NaN      0.00

       eu_sales  jp_sales  critic_score user_score
0         28.96      3.77          76.0          8
1          3.58      6.81           NaN        NaN
2         12.76      3.79          82.0        8.3
3         10.93      3.28          80.0          8
4          8.89     10.22           NaN        NaN
...         ...       ...           ...        ...
16512      0.00      0.01          82.0        8.3
16577      0.00      0.01           NaN        NaN
16610      0.00      0.01           NaN        NaN
16654      0.01      0.00          81.0        8.5
16655      0.01      0.00           NaN        NaN

[706 rows x 11 columns]

                       name publisher
0                Wii Sports  Nintendo
1         Super Mario Bros.  Nintendo
2            Mario Kart Wii  Nintendo
3         Wii Sports Resort  Nintendo
4  Pokemon Red/Pokemon Blue  Nintendo

In [36]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

cols = ['name', 'publisher', 'developer']

df_filtered = df.query("publisher == developer")[cols]
print(df_filtered.head())

                    name publisher developer
0             Wii Sports  Nintendo  Nintendo
2         Mario Kart Wii  Nintendo  Nintendo
3      Wii Sports Resort  Nintendo  Nintendo
6  New Super Mario Bros.  Nintendo  Nintendo
7               Wii Play  Nintendo  Nintendo

##### _isin()_

The isin() method checks if the Dataframe contains the specified value(s).

It returns a DataFrame similar to the original DataFrame, but the original values have been replaced with True if the value was one of the specified values, otherwise False.

_dataframe.isin(values)_

In [30]:
import pandas as pd

df = pd.read_csv('Datasets/vg_sales.csv')

handhelds = ['3DS', 'DS', 'GB', 'GBA', 'PSP']
print(df[df['platform'].isin(handhelds)][['name', 'platform']])

                                                    name platform
4                               Pokemon Red/Pokemon Blue       GB
5                                                 Tetris       GB
6                                  New Super Mario Bros.       DS
10                                            Nintendogs       DS
11                                         Mario Kart DS       DS
...                                                  ...      ...
16702                           Mezase!! Tsuri Master DS       DS
16703  Eiyuu Densetsu: Sora no Kiseki Material Collec...      PSP
16706                                           Plushees       DS
16710                 Woody Woodpecker in Crazy Castle 5      GBA
16715                                   Spirits & Spells      GBA

[4801 rows x 2 columns]

In [39]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

cols = ['name', 'genre']
s_genres = ['Shooter', 'Simulation', 'Sports', 'Strategy']

df_filtered = df[~df['genre'].isin(s_genres)][cols]
print(df_filtered)

                                                   name         genre
1                                     Super Mario Bros.      Platform
2                                        Mario Kart Wii        Racing
4                              Pokemon Red/Pokemon Blue  Role-Playing
5                                                Tetris        Puzzle
6                                 New Super Mario Bros.      Platform
...                                                 ...           ...
16710                Woody Woodpecker in Crazy Castle 5      Platform
16711  SCORE International Baja 1000: The Official Game        Racing
16712                     Samurai Warriors: Sanada Maru        Action
16714                           Haitaka no Psychedelica     Adventure
16715                                  Spirits & Spells      Platform

[11489 rows x 2 columns]

tilde (~), which inverts the result, We can use it to filter the original DataFrame, extracting only the rows in which the 'platform' column values ​​aren't in the handhelds list.

In [32]:
import pandas as pd

df = pd.read_csv('Datasets/vg_sales.csv')

handhelds = ['3DS', 'DS', 'GB', 'GBA', 'PSP']
print(df.query("~(platform in @handhelds)")[['name', 'platform']])

                                                   name platform
0                                            Wii Sports      Wii
1                                     Super Mario Bros.      NES
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
7                                              Wii Play      Wii
...                                                 ...      ...
16711  SCORE International Baja 1000: The Official Game      PS2
16712                     Samurai Warriors: Sanada Maru      PS3
16713                                  LMA Manager 2007     X360
16714                           Haitaka no Psychedelica      PSV
16716                               Winning Post 8 2016      PSV

[11916 rows x 2 columns]

In [40]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

cols = ['name', 'genre']
s_genres = ['Shooter', 'Simulation', 'Sports', 'Strategy']

df_filtered = df.query("genre not in @s_genres")[cols]
print(df_filtered)

                                                   name         genre
1                                     Super Mario Bros.      Platform
2                                        Mario Kart Wii        Racing
4                              Pokemon Red/Pokemon Blue  Role-Playing
5                                                Tetris        Puzzle
6                                 New Super Mario Bros.      Platform
...                                                 ...           ...
16710                Woody Woodpecker in Crazy Castle 5      Platform
16711  SCORE International Baja 1000: The Official Game        Racing
16712                     Samurai Warriors: Sanada Maru        Action
16714                           Haitaka no Psychedelica     Adventure
16715                                  Spirits & Spells      Platform

[11489 rows x 2 columns]

In [ ]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

handhelds = ['3DS', 'DS', 'GB', 'GBA', 'PSP']
print(df.query("platform not in @handhelds")[['name', 'platform']]) # The variable hadhelds is defined outside the query method, 
                                                                    # so it needs to be prefixed with @ to be used inside the query string.
                                                                    # otherwise it will be interpreted as a column name.

                                                   name platform
0                                            Wii Sports      Wii
1                                     Super Mario Bros.      NES
2                                        Mario Kart Wii      Wii
3                                     Wii Sports Resort      Wii
7                                              Wii Play      Wii
...                                                 ...      ...
16711  SCORE International Baja 1000: The Official Game      PS2
16712                     Samurai Warriors: Sanada Maru      PS3
16713                                  LMA Manager 2007     X360
16714                           Haitaka no Psychedelica      PSV
16716                               Winning Post 8 2016      PSV

[11916 rows x 2 columns]

##### __External Data structures for filtering__

##### _Filtering with a List_

In [42]:
import pandas as pd

our_list = [2, 5, 10]
df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)
print(df)
print()
print(our_list)
print()
print(df.query("a in @our_list"))
print()
print(df.query("a in @our_list")["a"])

    a  b  c
0   2  5  X
1   3  4  Y
2  10  3  Y
3  11  2  Y
4  12  1  Z

[2, 5, 10]

    a  b  c
0   2  5  X
2  10  3  Y

0     2
2    10
Name: a, dtype: int64

##### _Filtering with a dictionary_

In [51]:
import pandas as pd

our_dict = {0: 10, 3: 11, 12: 12}
df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)
print(df)
print()
print(our_dict)
print()
print(df.query("a in @our_dict"))

    a  b  c
0   2  5  X
1   3  4  Y
2  10  3  Y
3  11  2  Y
4  12  1  Z

{0: 10, 3: 11, 12: 12}

    a  b  c
1   3  4  Y
4  12  1  Z

In [43]:
import pandas as pd

our_dict = {0: 10, 3: 11, 12: 12}
df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)
print(df)
print()
print(our_dict)
print()
print(df.query("a in @our_dict.values()"))

    a  b  c
0   2  5  X
1   3  4  Y
2  10  3  Y
3  11  2  Y
4  12  1  Z

{0: 10, 3: 11, 12: 12}

    a  b  c
2  10  3  Y
3  11  2  Y
4  12  1  Z

##### _Filtering with Series_

In [44]:
import pandas as pd

our_series = pd.Series([10, 11, 12])
df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)
print(df)
print()
print(our_series)
print()
print(df.query("a in @our_series"))

    a  b  c
0   2  5  X
1   3  4  Y
2  10  3  Y
3  11  2  Y
4  12  1  Z

0    10
1    11
2    12
dtype: int64

    a  b  c
2  10  3  Y
3  11  2  Y
4  12  1  Z

In [49]:
import pandas as pd

our_series = pd.Series([10, 11, 12], index=['X', 'Y', 'T'])
df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)

print(df.query("c in @our_series.index"))

    a  b  c
0   2  5  X
1   3  4  Y
2  10  3  Y
3  11  2  Y

##### _Filtering with a DataFrame_

We can also use an external DataFrame to filter our data in two ways:

- Filter using its index values.

- Filter using values ​​from specific columns.

In [45]:
import pandas as pd

# Main DataFrame
df_main = pd.DataFrame({
    'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'],
    'flower': ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom', 'California poppy']
}, index=['state 1', 'state 2', 'state 3', 'state 4', 'state 5'])

# External DataFrame with specific index values
df_external = pd.DataFrame({
    'info': ['extra1', 'extra2']
}, index=['state 1', 'state 3'])

# Filter `df_main` using the index of `df_external`
filtered_df = df_main.loc[df_external.index]

print(filtered_df)

           state                  flower
state 1  Alabama                Camellia
state 3  Arizona  Saguaro cactus blossom

In [47]:
import pandas as pd

# Main DataFrame
df_main = pd.DataFrame({
    'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'],
    'flower': ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom', 'California poppy']
}, index=['state 1', 'state 2', 'state 3', 'state 4', 'state 5'])

# External DataFrame with specific index values
df_external = pd.DataFrame({
    'info': ['extra1', 'extra2']
}, index=['state 1', 'state 3'])

# Filter `df_main` using the index of `df_external` with `.query()`
df_main['index'] = df_main.index  # Add index as a column for querying
filtered_df = df_main.query("index in @df_external.index")

print(filtered_df)

           state                  flower    index
state 1  Alabama                Camellia  state 1
state 3  Arizona  Saguaro cactus blossom  state 3

In [46]:
import pandas as pd

# Main DataFrame
df_main = pd.DataFrame({
    'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'],
    'flower': ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom', 'California poppy']
})

# External DataFrame with specific column values
df_external = pd.DataFrame({
    'state': ['Alabama', 'Arizona']
})

# Filter `df_main` using the 'state' column of `df_external`
filtered_df = df_main[df_main['state'].isin(df_external['state'])]

print(filtered_df)

     state                  flower
0  Alabama                Camellia
2  Arizona  Saguaro cactus blossom

In [48]:
import pandas as pd

# Main DataFrame
df_main = pd.DataFrame({
    'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'],
    'flower': ['Camellia', 'Forget-me-not', 'Saguaro cactus blossom', 'Apple blossom', 'California poppy']
})

# External DataFrame with specific column values
df_external = pd.DataFrame({
    'state': ['Alabama', 'Arizona']
})

# Filter `df_main` using the 'state' column of `df_external` with `.query()`
filtered_df = df_main.query("state in @df_external['state']")

print(filtered_df)

     state                  flower
0  Alabama                Camellia
2  Arizona  Saguaro cactus blossom

In [50]:
import pandas as pd

df = pd.DataFrame(
    {
        'a': [2, 3, 10, 11, 12],
        'b': [5, 4, 3, 2, 1],
        'c': ['X', 'Y', 'Y', 'Y', 'Z'],
    }
)
our_df = pd.DataFrame(
    {
        'a1': [2, 4, 6],
        'b1': [3, 2, 2],
        'c1': ['A', 'B', 'C'],
    },
    index=['Z', 'X', 'P']
)

print(df.query("a in @our_df.b1"))

   a  b  c
0  2  5  X
1  3  4  Y

##### __.where()__

The where() method replaces the values of the rows where the condition evaluates to False.

The where() method is the opposite of the The mask() method.

_dataframe.where(cond, other, inplace, axis, level, errors, try_cast)_

_other_	String Number Series DataFrame	Optional. A set of values to replace the rows that evaluates to False with

_inplace_	True False	Optional, default False. Specifies whether to perform the operation on the original DataFrame or not, if not, which is default, this method returns a new DataFrame

_axis_	Number None	Optional, default None. Specifies the alignment axis

_level_	Number None	Optional, default None. Specifies the alignment level

_errors_	'raise' 'ignore'	Optional, default 'raise'. Specifies what to do with exceptions

_try_cast_	True False	Optional, default False. Specifies whether to try to cast the result back to the input type or not

In [15]:
import pandas as pd

df = pd.DataFrame({
    'A': [5, 10, 15, 20],
    'B': [1, 2, 3, 4]
})


print(df > 10)
print()
print(df[df > 10]) # deletes the rows that do not meet the condition
print()
print(df.where(df['A'] > 10)) # keeps the rows that do not meet the condition but replaces them with NaN
print()
print(df.where(df['A'] > 10, other=0))
print()
print(df)

       A      B
0  False  False
1  False  False
2   True  False
3   True  False

      A   B
0   NaN NaN
1   NaN NaN
2  15.0 NaN
3  20.0 NaN

      A    B
0   NaN  NaN
1   NaN  NaN
2  15.0  3.0
3  20.0  4.0

    A  B
0   0  0
1   0  0
2  15  3
3  20  4

    A  B
0   5  1
1  10  2
2  15  3
3  20  4

In [25]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

df['platform'] = df['platform'].where(df['platform'] != 'NES', 'Nintendo Entertainment System') # Replaces 'NES' with 'Nintendo Entertainment System'
print(df.iloc[:, :2].head())

                       name                       platform
0                Wii Sports                            Wii
1         Super Mario Bros.  Nintendo Entertainment System
2            Mario Kart Wii                            Wii
3         Wii Sports Resort                            Wii
4  Pokemon Red/Pokemon Blue                             GB

In [ ]:
import pandas as pd

df = pd.read_csv('DataSets/vg_sales.csv')

print(df[["name", "na_sales", "eu_sales"]])
print()

df[['na_sales', 'eu_sales']] = df[['na_sales', 'eu_sales']].where((df['na_sales'] > 0) | (df['eu_sales'] > 0), None)
print(df[['name', 'na_sales', 'eu_sales']])
print()

                                name  na_sales  eu_sales
0                         Wii Sports     41.36     28.96
1                  Super Mario Bros.     29.08      3.58
2                     Mario Kart Wii     15.68     12.76
3                  Wii Sports Resort     15.61     10.93
4           Pokemon Red/Pokemon Blue     11.27      8.89
...                              ...       ...       ...
16712  Samurai Warriors: Sanada Maru      0.00      0.00
16713               LMA Manager 2007      0.00      0.01
16714        Haitaka no Psychedelica      0.00      0.00
16715               Spirits & Spells      0.01      0.00
16716            Winning Post 8 2016      0.00      0.00

[16717 rows x 3 columns]

                                name  na_sales  eu_sales
0                         Wii Sports     41.36     28.96
1                  Super Mario Bros.     29.08      3.58
2                     Mario Kart Wii     15.68     12.76
3                  Wii Sports Resort     15.61     10.93
4           Pokemon Red/Pokemon Blue     11.27      8.89
...                              ...       ...       ...
16712  Samurai Warriors: Sanada Maru       NaN       NaN
16713               LMA Manager 2007      0.00      0.01
16714        Haitaka no Psychedelica       NaN       NaN
16715               Spirits & Spells      0.01      0.00
16716            Winning Post 8 2016       NaN       NaN

[16717 rows x 3 columns]

                                name  na_sales  eu_sales
0                         Wii Sports     41.36     28.96
1                  Super Mario Bros.     29.08      3.58
2                     Mario Kart Wii     15.68     12.76
3                  Wii Sports Resort     15.61     10.93
4           Pokemon Red/Pokemon Blue     11.27      8.89
...                              ...       ...       ...
16712  Samurai Warriors: Sanada Maru       NaN       NaN
16713               LMA Manager 2007      0.00      0.01
16714        Haitaka no Psychedelica       NaN       NaN
16715               Spirits & Spells      0.01      0.00
16716            Winning Post 8 2016       NaN       NaN

[16717 rows x 3 columns]