### __Python Datawrangling Data Ordering__

##### __.sort_values()__

The sort_values() method sorts the DataFrame by the specified label.

_dataframe.sort_values(by, axis, ascending, inplace, kind, na_position, ignore_index, key)_

_by_	String List of strings	Required. Specify labels to sort by. Either index level(s) or column label(s). Or, if the axis is 1 or 'columns' this values specify column level(s) or index label(s)

_axis_	0 1 'index' 'columns'	Optional. Default 0. Specifies the axis to sort by

_ascending_	True False	Optional, default True. Specifies whether to sort ascending (0 -> 9) or descending (9 -> 0)

_inplace_	True False	Optional, default False. Specifies whether to perform the operation on the original DataFrame or not, if not, which is default, this method returns a new DataFrame

_kind_	'quicksort' 'mergesort' 'heapsort'	Optional, default 'quicksort'. Specifies the sorting algorithm

_na_position_	'first' 'last'	Optional, default 'last'. Specifies how to handle NULL values. 'first' means put them first, 'last' means put them last.

_ignore_index_	True False	Optional, default False. Specifies whether to ignore index or not. If True the original indexes are ignored, and replaced by 0, 1, 2 etc.

_key_	Function	Optional, specify a function to be executed before the sorting

If you apply the _sort_values()_ method to a single column there will be no __by=__ parameter, since we only have one column.

In [2]:
import pandas as pd

df_exoplanets = pd.read_csv('DataSets/exoplanet.csv')

print(df_exoplanets.sort_values(by='radius').head(10))
print()

print(df_exoplanets["radius"].sort_values().head(10))

    num        name  Property      mass    radius  discovered
8     8      55Cnce         8   0.02703   1.94544        2004
9     9   BD+20594b         9   0.05130   2.22880        2016
29   29   CoRoT-24b        29   0.01800   3.69600        2011
27   27   CoRoT-22b        27   0.06000   4.87648        2011
25   25   CoRoT-20b        25   4.24000   9.40800        2011
17   17   CoRoT-13b        17   1.30800   9.91200        2010
4     4  2M2140+16b         4  20.00000  10.30400        2010
3     3  2M0746+20b         3  12.21000  10.86400        2010
14   14   CoRoT-10b        14   2.75000  10.86400        2010
1     1  2M0122-24b         1  20.00000  11.20000        2013

8      1.94544
9      2.22880
29     3.69600
27     4.87648
25     9.40800
17     9.91200
4     10.30400
3     10.86400
14    10.86400
1     11.20000
Name: radius, dtype: float64

In [3]:
print(df_exoplanets.sort_values(by="radius", ascending=False))

    num        name  Property      mass    radius  discovered
11   11      CTChab        11  17.00000  24.64000        2008
12   12     CVSO30b        12   6.20000  21.39200        2012
7     7      51Pegb         7   0.47000  21.28000        1995
0     0   1RXS1609b         0  14.00000  19.04000        2008
13   13    CoRoT-1b        13   1.03000  16.68800        2007
24   24    CoRoT-2b        24   3.31000  16.40800        2007
16   16   CoRoT-12b        16   0.91700  16.12800        2010
2     2  2M0219-39b         2  13.90000  16.12800        2015
15   15   CoRoT-11b        15   2.33000  16.01600        2010
22   22   CoRoT-18b        22   3.47000  14.67200        2011
5     5  2M2206-20b         5  30.00000  14.56000        2010
26   26   CoRoT-21b        26   2.26000  14.56000        2011
23   23   CoRoT-19b        23   1.11000  14.44800        2011
20   20   CoRoT-16b        20   0.53500  13.10400        2010
19   19   CoRoT-15b        19  63.40000  12.54400        2010
6     6      51Erib         6   9.10000  12.43200        2015
18   18   CoRoT-14b        18   7.60000  12.20800        2010
28   28   CoRoT-23b        28   2.80000  12.09600        2011
10   10  BD-103166b        10   0.46000  11.53600        2000
21   21   CoRoT-17b        21   2.43000  11.42400        2010
1     1  2M0122-24b         1  20.00000  11.20000        2013
3     3  2M0746+20b         3  12.21000  10.86400        2010
14   14   CoRoT-10b        14   2.75000  10.86400        2010
4     4  2M2140+16b         4  20.00000  10.30400        2010
17   17   CoRoT-13b        17   1.30800   9.91200        2010
25   25   CoRoT-20b        25   4.24000   9.40800        2011
27   27   CoRoT-22b        27   0.06000   4.87648        2011
29   29   CoRoT-24b        29   0.01800   3.69600        2011
9     9   BD+20594b         9   0.05130   2.22880        2016
8     8      55Cnce         8   0.02703   1.94544        2004

##### __Example 2__

In [4]:
import pandas as pd

df = pd.DataFrame(['b','a','c'], columns=['alphabet'])

print(df)
print()

df = df.sort_values(by='alphabet')
print(df)

  alphabet
0        b
1        a
2        c

  alphabet
1        a
0        b
2        c